[2014-01-24 14:23] #676 closed, assigned to k15tfu

[2014-01-24 14:24] #673 closed, assigned to k15tfu

[2014-01-30 09:43] alexkalmuk opened #677 "tcp confirm_ack failure"
##### What steps will reproduce the problem?

`make confload-x86/nonvga_debug` and run auto_qemu

[code]
##### What is the expected output? What do you see instead?

[code]

Cc: @anton-bondarev, @HaK1R

[2014-01-30 10:35] alexkalmuk opened #678 "jffs2 mount failed"
##### What steps will reproduce the problem?

`make confload-x86/nonvga_debug` and run `auto_qemu -hda disk.img`

[code]
##### What is the expected output? What do you see instead?

[code]

Cc: @anton-bondarev, @mrgaz, @HaK1R

[2014-01-30 11:06] alexkalmuk opened #679 "mkfs -t [etfs,ffs] does not format correctly"
##### What steps will reproduce the problem?
1. On host:

[code]
  and then create file f.txt on disk.img
2. `make confload-x86/nonvga_debug` and `run auto_qemu -hda disk.img`
[code]

##### What is the expected output? What do you see instead?
The same is for ffs
Cc: @anton-bondarev, @mrgaz, @HaK1R

[2014-01-30 11:57] alexkalmuk opened #680 "servd service load empty page after several reconnections"
##### What steps will reproduce the problem?
1. `make confload-x86/nonvga_debug` and run auto_qemu
2. `root@embox:/#servd -c servd.conf`
3. connect to http://10.0.2.16/new.html
4. press F5 several times
##### What is the expected output? What do you see instead?

On some reconnection I got the empty html page on my laptop.

P.S
On uovk virtualbox html page loading hangs with the second pressing of

[2014-02-01 16:20] #675 closed, assigned to k15tfu

[2014-02-01 18:13] #680 closed, assigned to alexkalmuk

[2014-02-20 22:53] k15tfu opened #681 "embox don't respond to host's packet after start"
##### What steps will reproduce the problem?
1. 79d26c2. x86/nonvga_debug
2. turn on NET_RX_DEBUG flag in net/l0/net_rx.c
3. remove broken file system tests

[code]
4. run embox and try to ping it from host
   $ ./scripts/qemu/auto_qemu
5. try to ping it from host
##### What is the expected output? What do you see instead?

HOST:

[code]

On Embox nothing happens (except timer ticks)
EMBOX:

[code

[2014-02-22 16:12] #677 closed, assigned to alexkalmuk

[2014-02-26 11:05] k15tfu opened #682 "zrv-smp-security don't works with kvm"
##### What steps will reproduce the problem?
1. 8997c94, x86/zrv-smp-security
2. make it no-graphic template (patch mods.config):

[code]
##### What is the expected output? What do you see instead?

[code]
##### Please use labels and text to provide additional information.

gcc 4.8.1, qemu 1.7.50
Cc: @AntonKozlov

[2014-02-26 12:33] k15tfu opened #683 "smp possible deadlock when typing (no-kvm)"
##### What steps will reproduce the problem?
1. 8997c94, x86/zrv-smp-security
2. make it no-graphic template (patch mods.config):

[code]
3. type long string (over >80 characters) and remove it (using backspace) 2-5 times
##### What is the expected output? What do you see instead?

[code]
##### Please use labels and text to provide additional information.

gcc 4.8.1, qemu 1.7.50
Cc: @anton-bondare

[2014-03-01 20:15] #667 closed, assigned to k15tfu

[2014-03-03 08:47] #683 closed, assigned to k15tfu

[2014-03-13 11:57] #682 closed, assigned to k15tfu

[2014-03-18 12:25] AntonKozlov opened #684 "malloc strange assert failed"
##### What steps will reproduce the problem?
1. x86/nonvga_debug with ne2k_pci
2. ping 10.0.2.10
##### What is the expected output? What do you see instead?

[code]

Cc: @anton-bondarev, @sikmir

[2014-03-18 13:55] #684 closed, assigned to alexkalmuk

[2014-03-24 17:14] k15tfu opened #685 "r13176 review"
.
Cc: @anton-bondarev, @vloginova, @alexkalmuk, @AntonKozlov

[2014-03-26 12:26] #671 closed, assigned to k15tfu

[2014-04-01 12:11] mrgaz opened #686 "soft-float function conflict"
There are soft-float function conflict in third_party/gcc and /libc/math/soft-fp
Cc: @alexkalmuk

[2014-04-03 09:36] #686 closed, assigned to mrgaz

[2014-04-03 09:36] #685 closed, assigned to k15tfu

[2014-04-03 12:32] k15tfu opened #687 "timer_test failed on -O2"
##### What steps will reproduce the problem?
1. 6dc38c6,nonvga_debug,gcc 4.8.2,-O2
2. apply patch for debug output:

[code]
##### What is the expected output? What do you see instead?

[code]

Cc: @AntonKozlov

[2014-04-17 09:24] k15tfu opened #688 "ti816x bm_memalign causing exception"
##### What steps will reproduce the problem?
1. f4121a9,arm/ti816x
2. conf/mods.config

[code]
3. build/run embox
##### What is the expected output? What do you see instead?

Welcome to Embox and have a lot of fun!
--EMBOX--

[code]

--HOST--

[code]

--DISASSEMBLER--

[code]

Cc: @anton-bondarev, @alexkalmuk, @AntonKozlov

[2014-04-17 09:29] k15tfu opened #689 "ti816x task_get_main causing exception"
##### What steps will reproduce the problem?
1. f4121a9,arm/ti816x
2. build/run embox
##### What is the expected output? What do you see instead?

---EMBOX---

[code]

---HOST---

[code]

---DISASSEMBLER---

[code]

Cc: @AntonKozlov

[2014-04-17 10:26] #643 closed, assigned to anton-bondarev

[2014-04-17 10:28] #267 closed, assigned to nobody

[2014-04-17 10:29] #597 closed, assigned to anton-bondarev

[2014-04-17 10:29] #78 closed, assigned to abusalimov

[2014-04-17 10:30] #430 closed, assigned to alexkalmuk

[2014-04-17 11:56] #609 closed, assigned to nobody

[2014-04-17 12:00] #580 closed, assigned to nobody

[2014-04-17 12:09] #659 closed, assigned to alexkalmuk

[2014-04-17 12:19] #562 closed, assigned to nobody

[2014-04-17 12:20] #584 closed, assigned to k15tfu

[2014-04-17 12:20] #594 closed, assigned to anton-bondarev

[2014-04-17 12:21] #644 closed, assigned to alexkalmuk

[2014-04-17 12:23] #631 closed, assigned to anton-bondarev

[2014-04-17 12:23] #617 closed, assigned to abusalimov

[2014-04-17 12:24] #445 closed, assigned to k15tfu

[2014-04-17 12:25] #493 closed, assigned to mrgaz

[2014-04-17 12:29] #583 closed, assigned to mrgaz

[2014-04-17 12:37] #602 closed, assigned to nobody

[2014-04-17 12:38] #603 closed, assigned to nobody

[2014-04-18 13:53] embot opened #690 "Broken build"
<sup>Reported by **vladislavnik2**</sup>
1. make confload-arm/qemu
2. make -j 6 CROSS_COMPILE=arm-unknown-linux-gnueabi-

Build fails with the following messages:

[code]

gcc version: 4.3.2
Too old gcc?

[2014-04-20 17:22] #690 closed, assigned to nobody

[2014-04-20 17:42] embot opened #691 "qemu platform 'overo' is missing"
<sup>Reported by **vladislavnik2**</sup>

[code]

Both qemu versions 1.3.1 and 2.0.0 do not work.
Cc: @abusalimov, @AntonKozlov

[2014-04-24 13:39] #689 closed, assigned to k15tfu

[2014-04-25 09:26] #691 closed, assigned to nobody

[2014-05-08 11:27] k15tfu opened #692 "broken mem.heap test"
##### What steps will reproduce the problem?

30e9c49, x86/nonvga_debug
##### What is the expected output? What do you see instead?

[code]

Cc: @alexkalmuk

[2014-05-08 12:08] #692 closed, assigned to k15tfu

[2014-05-08 13:44] k15tfu opened #693 "after free() unused pages are not exempt"
##### What steps will reproduce the problem?
1. 04e8d09
2. conf/mods.config

[code]
3. increase difference between ALLOC_FROM and ALLOC_TO, and set ALLOC_COUNT = 1
##### What is the expected output? What do you see instead?

This test allocates all pages, after that those pages will linked to kernel_task, so malloc() in user_task will returns NULL even if size 1.
Cc: @alexkalmuk

[2014-05-16 12:40] k15tfu opened #694 "nfs on arm"
##### What steps will reproduce the problem?
1. update to b5a6ba8
2. apply patch

[code]
3. use template arm/qemu; build; run
##### What is the expected output? What do you see instead?

[code]

[2014-05-19 16:24] #645 closed, assigned to sikmir

[2014-05-21 14:54] #694 closed, assigned to k15tfu

[2014-05-29 13:25] #589 closed, assigned to anton-bondarev

[2014-06-10 14:30] #650 closed, assigned to anton-bondarev

[2014-06-10 14:32] #670 closed, assigned to k15tfu

[2014-06-10 14:35] #509 closed, assigned to alexkalmuk

[2014-06-10 14:36] #523 closed, assigned to anton-bondarev

[2014-06-10 14:38] #615 closed, assigned to anton-bondarev

[2014-06-10 14:42] #614 closed, assigned to alexkalmuk

[2014-06-10 14:46] #367 closed, assigned to anton-bondarev

[2014-06-10 15:02] #630 closed, assigned to anton-bondarev

[2014-06-18 13:17] #681 closed, assigned to k15tfu

[2014-06-19 15:05] #687 closed, assigned to k15tfu

[2014-06-20 11:28] #649 closed, assigned to k15tfu

[2014-06-20 11:37] #471 closed, assigned to abusalimov

[2014-06-23 15:12] #688 closed, assigned to k15tfu

[2014-06-24 14:46] #600 closed, assigned to abusalimov

[2014-07-10 10:05] #590 closed, assigned to anton-bondarev

[2014-07-15 11:43] AntonKozlov opened #695 "x86 mmu is broken"
##### What steps will reproduce the problem?

Use template x86/nonvga_debug. Add embox.arch.x86.mmu and embox.mem.mmap_mmu at runlevel 1. Also change runlevel to 1 of all embox.mem.\* modules
##### What is the expected output? What do you see instead?

[code]

...
And so on.

It gets caught in an endless loop after calling vmem_on() function (62 line, /mem/mmap/mmap_mmu.c)
Cc: @vloginova, @sikmir

[2014-07-15 11:50] #500 closed, assigned to nobody

[2014-07-29 09:54] #557 closed, assigned to k15tfu

[2014-07-29 09:55] #558 closed, assigned to k15tfu

[2014-07-29 16:09] k15tfu opened #696 "lthread_test failed with -O2"
##### What steps will reproduce the problem?

cad0a5a,x86/nonvga_debug
##### What is the expected output? What do you see instead?

[code]

[2014-07-31 06:53] k15tfu opened #697 "vfork lags"
##### What steps will reproduce the problem?
1. 21cba35, x86/nonvga_debug
2. patch config.mods

[code]
##### What is the expected output? What do you see instead?

[code]

or so:

[code]

Cc: @sikmir

[2014-08-04 12:34] #696 closed, assigned to vloginova

[2014-08-06 09:56] #697 closed, assigned to AntonKozlov

[2014-08-06 10:07] k15tfu opened #698 "vfork lags with -O2"
##### What steps will reproduce the problem?
1. ebc8b2d, x86/nonvga_debug
2. patch build.conf & config.mods

[code]
##### What is the expected output? What do you see instead?

[code]

Cc: @sikmir

[2014-08-06 12:39] k15tfu opened #699 "network problems on microblaze"
##### What steps will reproduce the problem?

13ae0e6, microblaze/qemu
##### What is the expected output? What do you see instead?

[code]

[2014-08-08 08:33] #698 closed, assigned to AntonKozlov

[2014-08-08 09:38] #669 closed, assigned to k15tfu

[2014-08-18 11:42] k15tfu opened #700 "vfrok causes exception with lua cgi"
##### What steps will reproduce the problem?

x86/nonvga_debug at 0ee41e0 with lua & exec:

[code]

conf/mods.config

[code]
##### What is the expected output? What do you see instead?

--EMBOX--

[code]

--HOST--

[code]

Cc: @vloginova, @AntonKozlov, @sikmir

[2014-08-19 13:35] #700 closed, assigned to k15tfu

[2014-08-20 14:30] AntonKozlov opened #701 "rand and random RAND_MAXes are different"
##### What steps will reproduce the problem?
1. rand:  `seed = (unsigned int)(seed * 16546134871 + 513585871) % (204814687)`
2. random: `val = ((state[0] * 1103515245) + 12345) & 0x7fffffff`
##### What is the expected output? What do you see instead?

RAND_MAXes are different. RNG could perform poorly

[2014-08-21 12:51] AntonKozlov opened #702 "ioctl defining macros should contain argument size"
##### What steps will reproduce the problem?

For example, TIOCGETA is `_IOR('t', 1, struct termios)`, but called like `ioctl(fd, TIOCSETA, termios)` -- termios is of `const struct termios *termios` (src/compat/posix/termios.c)
##### What is the expected output? What do you see instead?

TIOCGETA should be defined as `_IOR('t', 1, struct termios *)` (actually `_IOR('t', 1, const struct termios *)`

[2014-08-28 15:43] #556 closed, assigned to nobody

[2014-09-12 13:55] anton-bondarev opened #703 "UART driver for Raspberry Pi"
Add diag driver for Raspberry Pi board

[2014-09-12 13:57] anton-bondarev opened #704 "Network driver for Raspberry Pi"
Add network driver for Raspberry Pi Board

[2014-09-12 13:58] anton-bondarev opened #705 "Porting on Raspberry Pi board"
The target of this project is an executing Embox on Raspberry Pi board.

There are some OS which support Raspberry platform. Most of them based on Linux kernel and don't suit for real-time application well, for example robots control, but the platform can be used for this deal. Embox is an real-time OS and can be configured for special application including motor control very well. So if we port E

[2014-09-17 08:27] #598 closed, assigned to k15tfu

[2014-09-17 09:28] k15tfu opened #706 "Add PowerPC MMU Support"
Today Embox supports MMU for different architectures such as ARM, Microblaze, Sparc and x86. To provide a MMU support on all architectures we lack PowerPC. The goal of this project is to add MMU support for PowerPC under Embox.

Since Embox already supports a MMU on other platforms you should implement only architecture-dependent part which includes:
- Initialization of the MMU subsystem
- Handlin

[2014-09-17 12:22] k15tfu opened #707 "Add PowerPC Network Support"
It's useful to add network support for PowerPC platform

[2014-09-26 09:20] AntonKozlov opened #708 "Paravirtualized exokernel (Xen port)"
Port to Xen:
- prepare execution environment
- implement some io driver, like serial port

[2014-10-06 15:24] embot opened #709 "initializing third_party.lib.acpica: ERROR: Unable to initialize the ACPICA table manager"
<sup>Reported by **a.vegner**@telemetria.ru</sup>

Steps to reproduce the problem:
1. make confload-x86/qemu
2. make
3. qemu-system-i386 -kernel ./build/base/bin/embox -nographic

What i see:
[code]

Version of the product:
https://googledrive.com/host/0B-PxXtV6LZirdWdCR01vbEJ1dmM/embox-0.3.8.tar.gz

On what operating system:
uname -a:
Linux avegner-VirtualBox 3.13.0-27-generic #50-Ubuntu SMP Thu

[2014-10-07 14:27] Deryugin opened #710 "netstat crashes the system"
##### What steps will reproduce the problem?
1. config: x86/nonvga_debug
2. run autoqemu
3. run netstat
##### What is the expected output? What do you see instead?

[code]

[2014-10-27 14:23] #710 closed, assigned to Deryugin

[2014-11-29 22:04] #637 closed, assigned to k15tfu

[2014-11-29 22:14] #376 closed, assigned to sikmir

[2014-11-29 23:10] sikmir opened #711 "tinypy failed"
##### What steps will reproduce the problem?

tinypy fib.py
##### What is the expected output? What do you see instead?

[code]

[2014-12-02 12:41] #512 closed, assigned to anton-bondarev

[2014-12-08 16:13] #586 closed, assigned to nobody

[2014-12-11 15:14] #634 closed, assigned to alexkalmuk

[2014-12-12 12:41] #711 closed, assigned to sikmir

[2014-12-12 12:49] Deryugin opened #712 "Acceptable range of parameters in Mybuild module dependencies"
##### What new or enhanced feature are you proposing?

It should be possible to specify acceptable range of parameters in my-files in "depends" section.

For example:

[code]
##### What goals would this enhancement help you to achieve?

Sometimes system crashes on config change. It could be difficult and irritative to figure out what's wrong and change parameters each time when some module is incl

[2014-12-26 13:35] AntonKozlov opened #713 "cdfs9660 names are in upper case"
Cc: @mrgaz

[2014-12-26 13:38] AntonKozlov opened #714 "fat driver could damage filesystem"
##### What steps will reproduce the problem?

[code]
##### What is the expected output? What do you see instead?

host mount of fat produced errors
Cc: @mrgaz

[2014-12-26 13:39] AntonKozlov opened #715 "pci scan not determs bar size"
##### What is the expected output? What do you see instead?

pci subsystem not provides pci_bar sizes

[2014-12-26 13:41] AntonKozlov opened #716 "bad dependency chain"
##### What steps will reproduce the problem?

There is dependence chain: phymem -> vmem -> vmem_alloc -> phymem

[2014-12-26 13:44] AntonKozlov opened #717 "block_dev_named and block_dev_create"
##### What steps will reproduce the problem?
For example, ramdisk_create takes path that goes to bd_named. If path isn't template (not contains * or #), then index isn't stored at all.
Cc: @mrgaz

[2014-12-26 13:48] AntonKozlov opened #718 "file_desc's cursor moved by file systems"
##### What new or enhanced feature are you proposing?
Make cursor movement by vfs

##### What goals would this enhancement help you to achieve?
fs driver development will be less error-prone

##### How are you going to implement the enhancement?
Move it in fs-independent code.
Cc: @mrgaz

[2014-12-26 13:51] AntonKozlov opened #719 "extend termios_ops"
##### What new or enhanced feature are you proposing?

extend termios_ops with operations performed by tty driver
##### What goals would this enhancement help you to achieve?

Strict separation of tty code: character processing and associated actions (sleep, output, ...)
##### How are you going to implement the enhancement?

Move some of processing to termios_ops

[2015-03-03 16:12] #678 closed, assigned to alexkalmuk

[2015-03-03 16:56] #561 closed, assigned to vloginova

[2015-03-10 10:44] #668 closed, assigned to alexkalmuk

[2015-03-13 10:47] #714 closed, assigned to AntonKozlov

[2015-03-13 10:57] #640 closed, assigned to mrgaz

[2015-03-13 11:38] #641 closed, assigned to anton-bondarev

[2015-03-13 12:02] #695 closed, assigned to anton-bondarev

[2015-03-13 12:09] #553 closed, assigned to vloginova

[2015-03-13 12:18] #469 closed, assigned to AntonKozlov

[2015-03-13 12:27] #665 closed, assigned to nobody

[2015-03-16 13:46] #495 closed, assigned to anton-bondarev

[2015-03-16 13:47] #660 closed, assigned to vloginova

[2015-03-18 12:11] #527 closed, assigned to anton-bondarev

[2015-03-19 14:14] #656 closed, assigned to anton-bondarev

[2015-03-29 07:52] AntonKozlov opened #720 "Some drivers still do not use REG_STORE/REG_LOAD"
##### What steps will reproduce the problem?
1. ns16550, xuartlite not uses REG_LOAD/REG_STORE
2. It should, as in general memory-mapped registers access is more compilcated than (volatile void *) access

[2015-04-14 17:54] abusalimov opened #721 "New README and contributing guides"
The current README file is completely outdated.
- [x] Provide more actual project description
- [ ] Add [contributing guide-lines](https://help.github.com/articles/setting-guidelines-for-repository-contributors/) (CONTRIBUTING.md file)
- [x] Quick start

[2015-04-15 15:17] AntonKozlov opened #724 "execve should initialize environment of new process"
Current implementation does not use envp at all.

[2015-04-16 15:53] AleksandraButrova opened #728 "Xen build failed"
[code]

[2015-04-17 08:30] Deryugin commented on #728
Can't reprocude this issue. @AleksandraButrova, can you try running "make clean && make"?

[2015-04-17 08:35] AntonKozlov commented on #728
Hmm, me too.
I forgot boot.S file. When I commit it, xen/debug successfully built

[2015-04-19 21:31] #728 closed

[2015-04-20 21:48] abusalimov opened #734 "Fix incinst build warnings"
Lots of lines like:
[code]

This confuses tools like Coverity Scan, I constantly receive emails like this:

And needless to say, these warnings make a lot of unnecessary noise.

[2015-05-23 21:45] #734 closed

[2015-05-24 22:28] sikmir commented on #721
[Quick start] What about advising to use qemu-linaro for ARM emulation?

[2015-05-25 14:44] AntonKozlov commented on #721
qemu-linaro have beagleboard emulation, which is our only available arm/qemu platform

[2015-05-25 16:21] sikmir commented on #721
@AntonKozlov, I just suggest to mention about it in Quick Start guide.

[2015-05-25 16:55] abusalimov commented on #721
@sikmir Could you suggest a PR for that, please? The current setup works for me just fine, likely because I have an environment similar to that on Travis, so that I'm afraid I won't be able to reproduce the issue and properly fix it.

[2015-05-25 21:13] sikmir commented on #721
@abusalimov It's not an issue in fact, just a note for archlinux users.
Case 1:
[code]
Case 2:
[code]
I don't know why follow one works for travis:
[code]

[2015-05-26 07:27] AntonKozlov commented on #721
travis seems to use some ubuntu-based distro (may be ubuntu itself). It's qemu built with linaro patches.

https://launchpad.net/qemu-linaro

`Want native binaries? The qemu-system package in Ubuntu Maverick and later already includes some Linaro changes ...`

[2015-05-26 08:06] Deryugin commented on #721
Debian has the same problem with qemu from default repos.
Also, build fails if */bin/sh* points to */bin/dash* (*"Bad substitution"*), and it's default for some debian and ubuntu versions.
Issue could be fixed by linking */bin/sh* to */bin/bash*.

[2015-05-28 12:00] #709 closed

[2015-05-29 10:08] AntonKozlov opened #760 "TASK_RESOURCE_DECLARE: use or drop"
There is handy TASK_RESOURCE_DECLARE macro, that allow to skip offset managment, required by TASK_RESOURCE_DEF

Compare
https://github.com/embox/embox/tree/master/src/kernel/task/resource/u_area/u_area.c
and
https://github.com/embox/embox/tree/master/src/compat/posix/fs/umask.c

This scheme isn't best, but since we adopted it, it's better to keep it consistent

[2015-05-29 10:32] Deryugin commented on #760
This way you need to leave trailing comma in TASK_RESOURCE_DECLARE. Is there any macro magic to avoid it?

[2015-05-29 11:01] AntonKozlov commented on #760
first comma if resource is public?
Another macro could be solution.
But OK, issue confirmed

[2015-05-29 11:05] Deryugin commented on #760
Actually I meant comma after VA_ARGS. It's not required if VA_ARGS are empty, so you can't simple add comma to macro declaration

Look at the 5-th line.

But first comma should be a problem as well.

[2015-05-29 11:12] AntonKozlov commented on #760
OK, will do something with it

[2015-05-29 11:27] abusalimov commented on #760
Changing the macro [definition](https://github.com/embox/embox/blob/e3739c3e589b59cf551f58ff516a2e55de41476f/src/include/kernel/task/resource.h#L38-L45) from
[code]

to
[code]

should do the trick.

[2015-05-29 11:36] AntonKozlov commented on #760
yep, agree

[2015-05-29 11:42] Deryugin commented on #760
And what about leading comma in case of non-present modifier?

[2015-05-29 11:46] AntonKozlov commented on #760
Something like?

#define TASK_STATIC_RESOURCE(a, b, ...) \
    TASK_RESOURCE_DECLARE(static, a, b, ##VA_ARGS)

#define TASK_RESOURCE(a, b, ...) \
    TASK_RESOURCE_DECLARE(, a, b, ##VA_ARGS)

I'll do later, if all of you agree

[2015-05-29 12:21] anton-bondarev commented on #679
Removed drivers etfs & ffs

[2015-05-29 12:23] #679 closed

[2015-05-29 12:24] Deryugin commented on #760
It's ok IMO

[2015-06-01 16:23] Deryugin opened #767 "Triple idesc_table.h"
We three header files with the same name:

https://github.com/embox/embox/blob/master/src/kernel/task/resource/idesc_table.h
https://github.com/embox/embox/blob/master/src/include/kernel/task/resource/idesc_table.h
https://github.com/embox/embox/blob/master/src/include/kernel/task/idesc_table.h

Probably they should be merged into single header.

[2015-06-14 22:59] #247 closed

[2015-06-14 23:00] #425 closed

[2015-06-14 23:00] #421 closed

[2015-06-14 23:01] abusalimov commented on #255
@anton-bondarev Is this finally done?

[2015-06-14 23:04] abusalimov commented on #442
@anton-bondarev @mrgaz @Deryugin does anyone know whether this is fixed?

[2015-06-14 23:07] abusalimov commented on #499
Kinda a dup of #93

[2015-06-14 23:07] #499 closed

[2015-06-14 23:09] abusalimov commented on #581
Still actual?

[2015-06-16 12:33] AntonKozlov opened #772 "Change extbld's to not use sourceforge"
Sourceforge changed some tar's, which invalidates our extblds checksums.
SF also known to have bad policy regarding abandoned projects. I suggest to use another download source for packages
- [ ] third-party/STLport
- [ ] third-party/e2fsprogs
- [ ] third-party/boost
- [ ] third-party/iperf
- [ ] third-party/tcl/tcludp
- [ ] third-party/tcl/tclsh
- [ ] third-party/lib/pcre
- [ ] third-party/lib/cJ

[2015-06-18 11:56] AntonKozlov opened #774 "usb endpoint error handling"
Error handling in every usb request callback is very error-prone, most
of current handlers have no such logic. I suggest to use another
callback, specified for endpoint error handling with some default
policy.

[2015-06-18 12:00] AntonKozlov opened #775 "usb context should use irq locks or moved to light thread"
usb stack performed in irq context. While it so and we have 1 interface, it seems to be OK.
However, context should be moved to light threads or at least use proper irq locks.

[2015-07-06 13:41] AntonKozlov opened #789 "Disable piggy build target by default"
piggy target sometime fails the build on some arch (arm, arm-embedded compiler; msp). Why its built by default? Could be disabled?
@abusalimov @anton-bondarev

[2015-07-06 14:07] abusalimov commented on #789
I don't mind disabling it.

Regards,
Eldar
On Jul 6, 2015 4:41 PM, "Anton Kozlov" <notifications@github.com> wrote:

[2015-07-20 13:46] #789 closed

[2015-08-14 07:11] onegray opened #813 "Support building under Mac OS X"
At the moment `make` fails while building `openlibm`:

    .../arch-embox-gcc -include ...   -I ...  -D__ELF__  -fno-gnu89-inline -std=c99 -Wall -O3  -DASSEMBLER -D__BSD_VISIBLE -Wno-implicit-function-declaration -m32 -march=i386 -c src/s_isinf.c -o src/s_isinf.c.o
    <inline asm>:1:1: error: unknown directive
    .weak isinff
    ^
    1 error generated.
    make[6]: *** [src/s_isinf.c.o] Error

[2015-08-14 09:13] AntonKozlov commented on #813
Could you provide name of template you're trying to build?

[2015-08-14 15:30] onegray commented on #813
make confload-x86/qemu
    make

[2015-08-17 10:31] #517 closed

[2015-08-17 16:25] AntonKozlov commented on #813
You're right, build failed on Mac OS.
I've made couple of fixes in buildsystem #815 and updated title page with info on crosstool #817. Could you check that the last is clear? In general, crosscompiler should be build when you're on MacOS (our `crosstool` script suggested). Links are in that PR. Please let us know if there are any issues with crosstool or something unclear.
Thanks!

[2015-08-20 08:45] onegray commented on #813
Finally, using `crosstool` I was able to successfully build it under Mac OS X 10.10.3.
Thanks!

[2015-08-20 08:45] #813 closed

[2015-08-23 04:59] andreiw opened #822 "64-bit clean?"
Is embox 64-bit clean yet? I noticed there are only 32-bit variants for things like x86 and ppc, hence the question...

A

[2015-08-23 06:11] anton-bondarev commented on #822
You are right, unfortunately embox don't support any 64 bits architecture!

[2015-09-02 14:49] mike2390 opened #827 "USB driver for Raspberry Pi"
The USB driver is already under development in branch [704-raspberry-usb](https://github.com/embox/embox/tree/704-raspberry-usb).

Support for inputs (keyboard and mouse) shall be added.

[2015-10-08 14:22] Deryugin commented on #767
Fixed in #841

[2015-10-08 14:22] #767 closed

[2015-10-19 11:18] Deryugin opened #853 "Hardcoded flash memory size"
NAND-flash space used for reading/writing from Embox is hardcoded (i.e. src/drivers/flash/flash.lds.S src/drivers/flash/stm32f3_flash.lds.S).
It would be the way better if such values were passed as module parameters.

[2015-10-20 07:22] Deryugin commented on #107
Is it still actual?

[2015-10-20 07:40] Deryugin commented on #853
It turned out that there is an issue with the same problem -- https://github.com/embox/embox/issues/439.
This one is closed as duplicate.

[2015-10-20 07:40] #853 closed

[2015-10-20 09:33] #255 closed

[2015-10-22 08:48] #666 closed, assigned to Deryugin

[2015-10-22 09:38] Deryugin commented on #718
Done in new VFS.

[2015-10-22 09:38] #718 closed

[2015-11-17 12:08] #315 closed

[2015-11-17 12:15] Deryugin commented on #442
This problem is caused by poorly written initfs_ioctl(). This function should be rewritten.

[2015-11-19 15:19] Deryugin commented on #636
Well, as header was moved, this issue is not relevant anymore.

[2015-11-19 15:19] #636 closed

[2015-11-19 15:29] Deryugin commented on #607
I use this <module/...> includes in headers to have access to options from other modules. I wonder if this is possible without it.

[2015-11-19 15:31] Deryugin commented on #628
It seems that this issue is outdated as file was changed a number of times since 2013. I will remove dead code from that file and close this issue.

[2015-11-19 15:35] #628 closed

[2015-11-19 15:42] anton-bondarev commented on #572
We use static idesc configuration for very small platform

[2015-11-19 16:57] #572 closed

[2015-11-20 06:04] AntonKozlov commented on #607
It creates very implicit dependencies. when unsatisfied, they results in ugly 'missing header' build error from compiler and only compiler, build system don't know anything about them.
If we are going to extended build system to catch such dependencies, it's ok to have module header include in global headers. But it seems not going that way, so best option is to avoid them. I'm not insist on techn

[2015-11-20 08:14] Deryugin commented on #607
What do you mean by global config header? I can't find any header which duplicates module options.
For example, let's grep build folder from the master branch with x86/dvfs template:
[code]
As you see, this constant is defined just in one header.

Consider following example: POSIX/LibC functions often deal with file names and paths, and buffers for them are being used. It makes sense to get buffer

[2015-11-20 09:45] AntonKozlov commented on #607
Sorry for confuse you, config.h is hypotetical file (actually, there was such in previous versions of BS). Some effort was spent to split options to modules.

Your example is good enough, as long as config/dvfs.h included to dvfs.h only. But it should not be included to any other headers except dvfs's.

I'd like to suggets disscussion on follow:

Next step in the example to include fs/dvfs.h in so

[2015-11-20 12:48] #107 closed

[2016-01-25 10:27] Deryugin commented on #626
This issue is not relevant anymore as new VFS supports this feature.

[2016-01-25 10:27] #626 closed

[2016-01-25 10:27] Deryugin commented on #627
This issue is not relevant anymore as new VFS supports this feature.

[2016-01-25 10:27] #627 closed

[2016-01-25 10:38] Deryugin commented on #442
Well, this is embarassing, but there is no standart function "fioctl" (at least in glibc). I'm not sure this function should be placed into "libc" module.

Anyway, what kind of output do you expect? What "0" request code means for regular files?

[2016-01-25 10:44] Deryugin commented on #713
fatfs has the same problem. For FAT it could be solved with fat long file names.
Any ideas what to do with cdfs? Is this issue important currently?

[2016-01-25 10:48] Deryugin commented on #717
Problem was solved when the overall device architecture was reworked.

[2016-01-25 10:48] #717 closed

[2016-01-25 11:02] abusalimov commented on #442
@Deryugin Yep, it's true. [Here's](http://stackoverflow.com/questions/14210276/how-to-decode-cmd-3222823425-in-ioctl-in-linux-2-6-29/14211113#14211113) how the `ioctl` command argument is encoded. The codes are unspecified, generally speaking, and are OS/FS/device-specific.

I guess, in this particular case, `0` means that the FS in question supports only a single command, and whoever implemented

[2016-01-25 16:01] Deryugin commented on #442
Fixed

[2016-01-25 16:01] #442 closed

[2016-01-26 14:35] Deryugin commented on #606
Can't reproduce in last version.

[2016-01-26 14:35] #606 closed

[2016-02-02 10:50] Deryugin commented on #541
Well, almost every block device driver has such problem. I'm afraid that adding buffer for such things is not always possible.

With local array too much stack memory will be taken, and with static buffer we'll have to implement additional locks. And there will be as much static buffers as much drivers you include in config. For low-memory boards it can be a problem.

May be, static buffer for all

[2016-02-03 09:26] AntonKozlov commented on #541
For me it looks like `hd_read_pio` problem.
Correct me, it's because the function uses supplied buffer (of length 600) as temporary buffer for device IO (DMA or not)?

For temporary buffers `bcache` could be used. It already employed for this, but not on regular basis.

[2016-02-20 10:59] Deryugin opened #912 "@IncludExplirt(...) collision"
There can be several files exported with the same path, and there are no warning/error messages.

[2016-04-19 22:20] AnastasiaSulyagina opened #930 "sudo ./scripts/qemu/auto_qemu fails"
Fails on OSX 10.11.4.

Log:
[code]

[2016-04-20 07:38] anton-bondarev commented on #930
Thanks for the report!

Your command for qemu start is

It means that there isn't any network interface in your qemu.
Did you start **auto_qemu** script with **sudo**?
If you don't need network now you can just remove its configuration commands from ./conf/start_script.inc

[2016-04-20 08:25] AnastasiaSulyagina commented on #930
@anton-bondarev , fails with

as well. Log is the same.
Yes, started both with sudo and I do need network.

[2016-04-20 09:05] anton-bondarev commented on #930
@AnastasiaSulyagina
Please try this command line

Our script (auto_qemu) why that didn't recognize net-card from the configuration.
Correct message have to

[2016-04-20 09:19] AnastasiaSulyagina commented on #930
@anton-bondarev

[2016-04-20 10:24] anton-bondarev commented on #930
@AnastasiaSulyagina
Hm, I think it's the problem not in QEMU.
there is no 'tap' device support in macos. We try to suggest a way to resolve this problem soon.

[2016-04-20 10:25] AnastasiaSulyagina commented on #930
@anton-bondarev , thanks.

[2016-04-20 10:55] AntonKozlov commented on #930
Hi, All,

Agree, seems like tap networking will not work out-of-box on macos (darwin). There is some info about proper qemu networking with tap on http://drupal.bitfunnel.net/drupal/macosx-bridge-qemu, hope it works. In case of success we'll modify our qemu scripts.

[2016-04-20 11:03] alexkalmuk commented on #930
Hi guys,
What if tuntap driver was not pre-installed at all?
May be it would be suitable just like a workaround to setup the TUNTAP tool for OSX at first - http://tuntaposx.sourceforge.net/index.xhtml (or just do "brew install tuntap" for another one)
I am in doubt that it resolves all the world's problems, but most likely it creates /dev/tapX.

[2016-04-20 11:09] AnastasiaSulyagina commented on #930
Thanks, @alexkalmuk. Worked for me.

[2016-04-29 16:42] anton-bondarev opened #933 "ne2000 isa network driver"
We have ne2k_pci driver, but have not ne2k_isa wich supporting by [qemu-system-mips -M malta](https://www.linux-mips.org/wiki/QEMU) and
[qemu-system-i386 -M isapc](http://www.h7.dion.ne.jp/~qemu-win/HowToNetwork-en.html)
I think it's rather simple to extract common part of this drivers and develop ISA code.

[2016-05-05 10:30] anton-bondarev commented on #629
This issue is not actual. Now running_time use correct in 'embox.kernel.sched.timing' module.

[2016-05-05 10:30] #629 closed

[2016-05-06 11:01] Deryugin commented on #930
I guess we can close this issue as soon as we add OSX to "Preparing environment" in README.md

[2016-05-07 13:34] alexkalmuk opened #938 "mips network"
It would be great to have network support under qemu-system-mips.

One of the possible ways is to use mipsnet card.

[2016-05-08 19:10] AntonKozlov opened #940 "Stack_iter interface is private from implementors"
Module `embox.lib.execinfo.backtrace` impose api requirements consists of
[code]

However, these requirements are in backtrace.c and not visible for implementor, for example `embox.arch.x86.stackframe`.

The problem is that there is no src/include/lib directory, where `stack_iter.h` with api could be placed. `backtrace` module have it's apis to be `@IncludeExport`ed, however, `stack_iter.h` can't

[2016-05-13 08:46] anton-bondarev commented on #933
Closed by #943

[2016-05-13 08:46] #933 closed

[2016-05-16 17:28] anton-bondarev commented on #938
Closed by #944

[2016-05-16 17:28] #938 closed

[2016-05-21 14:11] Deryugin commented on #317
What do you mean by pin subsystem?

GPIO system is far from perfect, but I don't think it's necesary to refactor it right now.

[2016-05-21 16:27] AntonKozlov commented on #317
There are some remainings of old `pin` subsystems, that was ad-hoc misnamed
gpio.
It's mostly removed, but there are some orphans, like
./src/include/hal/pins.h
./src/include/drivers/pins.h

The gpio have some sharp edges, and this is what the long standing issue is
about.
But you can close this with WONTFIX, if you like.

[2016-05-27 18:27] AntonKozlov commented on #930
Since #939 docker is the official way to develop on MacOSX.
Feel free to reopen in case of issues.

[2016-05-27 18:27] #930 closed

[2016-05-27 20:01] #621 closed

[2016-06-05 18:05] AnastasiaSulyagina opened #947 "Embox + docker on mac os X"
Не могу запустить ембокс в докере. С командой

[code]

все нормально, а с

[code]

висит с

[code]

[2016-06-05 19:20] AnastasiaSulyagina commented on #947
И как раньше билдила через crosstool теперь не могу для дебага запустить

[2016-06-06 12:21] AntonKozlov commented on #947
Можно и без докера

-s -S останавливает qemu до подсоединения дебагера. Пока дебагером не подцепиться, дальше загрузка не пойдет.

Насколько понимаю, поведение одинаковое с докерм и без?

[2016-06-06 20:52] AnastasiaSulyagina commented on #947
Дебаггер подцеплен, но он не слышит без докера. А как дебаггер к докеру подключить не совсем понятно.

[2016-06-07 08:08] AntonKozlov commented on #947
Последовательность отладки
1. запустить qemu -s -S
2. подцепиться дебагером (remote в eclipse, `target extended-remote :1234` в gdb)
3. Сказать continue в дебагере или eclipse

Не совсем понял, что значит "не слышит без докера"

Для отладки в докере вместо `gdb` на хост машине надо запускать gdbhostwrapper (https://github.com/embox/embox/wiki/Emdocker#gdb). Для эклипса есть готовая конфигурация дл

[2016-06-07 21:20] AnastasiaSulyagina commented on #947
Я сейчас пока поставила виртуалку убунты, там доделаю, а потом когда время будет, попробую повторить.
Не слышит - не подключается и выдает timeout.

[2016-06-15 20:38] frantony opened #948 "python is missed in the README.md build prerequisites list"
Without python installed we have this error mips/qemu build log message on Debian 8.5.0 amd64 host:
[code]

[2016-06-15 20:47] frantony opened #949 "mips/qemu: soft/hard-float ABI inconsistency"
Here is a fragment from mips/qemu build log:

[code]

[2016-06-23 15:05] anton-bondarev commented on #948
Thanks for the report!
We added python into prerequisites for Debian base distributives

[2016-06-23 15:05] #948 closed

[2016-06-28 08:55] AntonKozlov opened #954 "x86/user_apps broken, not builds"
Seems that this template haven't built for a long time.
There are some problems with stat/new_stat that I can't resolve in short time.
[code]

[2016-06-28 09:03] AntonKozlov commented on #954
Can't resolve stat issue, @anton-bondarev could you reassign it to some one?

[2016-06-28 09:19] anton-bondarev commented on #954
@AntonKozlov Yes, of cause, I can:) @Deryugin or me fix it! You work on the issue in [this branch](https://github.com/embox/embox/tree/954-fix-x86-user_apps)?
But I think we should also decrease number of templates.

[2016-06-28 09:21] AntonKozlov commented on #954
Yes, suppose you could make changes in that branch.
This template is valuable, since it should have mmu working

[2016-06-28 10:28] anton-bondarev commented on #954
@AntonKozlov I fix it, check please

[2016-06-28 16:55] anton-bondarev commented on #954
Closed by #955

[2016-06-28 16:55] #954 closed

[2016-06-29 17:42] Kakadu opened #958 "[Clang] ARRAY_SPREAD_DECLARE and double const"
Там шланг находит, что жопа с появлением двойной константности. Надо либо объявлять это везде без константности (а это много мест), либо стереть константность в `__ARRAY_SPREAD_DECLARE`. Прибить опцией командной строки пока не получается -- с виду опций вида -Wno-мой-самый-любимый-ворниг нету. Позже спрошу у буржуев как надо.

@anton-bondarev  @Deryugin

[code]

[2016-06-29 18:16] abusalimov commented on #958
From [util/array.h](https://github.com/embox/embox/blob/b5d9e149b4e44a95bd291e47dae11bd69e85b94c/src/include/util/array.h):
<pre>
 *     Considering current use cases and some implementation issues, spread
 * arrays are always allocated in read-only data section as if you have defined
 * a regular array with @c const modifier (although you might not have to). To
 * prevent confusion and to take ad

[2016-06-29 18:31] Kakadu commented on #958
OK, @abusalimov , so which of three mentioned options do you recommend?

[2016-06-30 10:35] abusalimov commented on #958
Fixing the implementation seems to be the right way.
[code]

[2016-06-30 14:38] anton-bondarev opened #959 "Wrong getaddrinfo behaviour"
The follow correct code return error:
[code]

[2016-07-01 15:22] #959 closed

[2016-07-02 21:01] HaK1R commented on #958
It states that the array is read only. By removing this, all arrays of
pointers become not const. So in this case you have to find all places like:
ARRAY_SPREAD_DEF(const mytype *)
and replace them with
ARRAY_SPREAD_DEF(const mytype * const)

That's why this qualifier was set in this macro (but yes, unfortunately it
produces a double const for non-pointer types).

Probably the other way is to hide

[2016-07-02 21:23] abusalimov commented on #958
@HaK1R hmm, I didn't think about that, it seems you're right, thank you. The code in master seems to be broken now.

I guess one could also workaround that using `typeof`.

[2016-07-02 22:27] abusalimov commented on #958
@Kakadu

`-Wno-duplicate-decl-specifier` seems to do the trick.

I would suggest to `git revert f93c42e` and also add missing `const` specifiers as suggested by @HaK1R, i.e.:
[code]

[2016-07-29 14:12] anton-bondarev opened #967 "Cortex-A9 GIT is not correct work"
You can reproduse this problem if configure imx6 template with imx6_git timer.
During start Embox will stag on timer_test

[2016-07-29 14:18] anton-bondarev opened #968 "VMEM on IMX6"
When you use commands its breake on an assert in do_map_region()
`assert(!mmu_pte_present(pte + pte_idx)); `

[2016-07-29 16:50] anton-bondarev opened #969 "Utility routine for IP stack"
Many times we need show_packet() routine for debuging net stack (for example in some net driver).
It'll be better to extract this funtionality to separate routine

[2016-08-01 07:54] Deryugin commented on #968
As far as I know, the problem is that on system start whole RAM is mapped 1-to-1 (i.e. every virtual address corresponds to the same physical address). When you execute command, system allocates a chunk of memory and tries to map it...
And this is exactly what given `assert()` checks: the same virtual address is being mapped twice.

[2016-08-07 05:16] AntonKozlov commented on #822
For those who interested, seems like 64bit port start should not be really hard
http://kazlauskas.me/entries/x64-uefi-os-1.html

[2016-08-09 15:20] anton-bondarev commented on #958
@HaK1R @abusalimov I replaced ARRAY_SPREAD_DEF() with pointer types as you described in PR #974 Should I do anything else?
About commit reverting, I think that I just make a new commit and it will be enough.

[2016-08-09 15:21] abusalimov commented on #958
I'll try to take a look this evening.

Regards,
Eldar

On Aug 9, 2016 6:20 PM, "Anton Bondarev" <notifications@github.com> wrote:

[2016-08-12 14:31] alexkalmuk opened #976 "Telnet does not work while ping is running"
This is a piece of my start_script.inc, which I have used under x86/qemu template.

If you are doing so, then while ping is running you are unable to connect with telnet.
But if you will run ping after this script finished, you get lucky - telnet works fine.

[2016-08-19 11:43] anton-bondarev commented on #949
@frantony I couldn't reproduce this warning.
I have

mips-elf-gcc (GCC) 4.9.1
Copyright (C) 2014 Free Software Foundation, Inc.

and

Linux anton-Inspiron-1520 3.13.0-24-generic #47-Ubuntu SMP Fri May 2 23:30:00 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

[2016-08-19 11:47] #968 closed

[2016-08-20 12:05] frantony commented on #949
You use gcc-4.9.1; please try gcc-4.9.2 from recent [embox crosstool](https://github.com/embox/crosstool).

[2016-08-22 18:25] anton-bondarev commented on #958
Fix by #974

[2016-08-22 18:25] #958 closed

[2016-08-28 14:35] anton-bondarev opened #982 "PL041 ac'97 compatible sound card"
Implement sound drivers PL041 for arm/vexpress-a9 platform

[2016-08-28 14:41] anton-bondarev opened #983 "PL111 Color LCD Controller"
Implement driver PL111 for arm/vexpress-a9 and arm/integrator-cp platforms

[2016-08-29 14:29] anton-bondarev opened #986 "Enable ethernet on 'vexpress-a9' platform"
QEMU  platform 'vexpress-a9' has lan9118 net card. Embox has implementation of this driver for platform overo but it required GPIO module which not implemented yet.

[2016-09-22 08:45] anton-bondarev commented on #969
Closed by #990

[2016-09-22 08:45] #969 closed

[2016-10-06 11:20] alexkalmuk opened #997 "Implement ferror and friends"
There is a bunch of functions (clearerr, feof, ferror, fileno) in POSIX that are used to check and reset stream status.

[2016-12-14 15:15] anton-bondarev commented on #982
Closed by #1006

[2016-12-14 15:15] #982 closed

[2016-12-22 14:29] anton-bondarev commented on #986
Closed by #1011

[2016-12-22 14:29] #986 closed

[2017-01-05 08:21] sikmir opened #1015 "ping localhost doesn't work"
### Steps to reproduce
1. `make confload-x86/qemu`
2. `make`
3. `sudo ./scripts/qemu/auto_qemu`
4. `ping 127.0.0.1`

### Actual behaviour
[code]
[code]

### Expected behaviour
Embox 0.3.15:
[code]

### Configuration
Embox Version: 0.3.16

[2017-01-07 14:47] anton-bondarev commented on #1015
Thanks for your report. Please check fix in PR #1018

[2017-01-07 20:15] #1015 closed

[2017-01-20 11:32] Kakadu opened #1032 "[clang] Genererated objects files too big"
I'm not sure why. Maybe too many debug information.

Measurements are here: https://gist.github.com/Kakadu/ca554770e4c3a2d32354be6b4f2ffaf9

[2017-02-16 10:27] AntonKozlov opened #1041 "Stack protection needs improvements"
* Disabled. Should be enabled by default
* Seems to be disabled for anything except stack_protect_test: `stack_protect_enable` called in setup and `stack_protect_disable` in teardown
* Should not require setting fault_handler. SIGSEGV signal looks more appropriate, but questionable.
* Test should actually check that access within stack is OK, now it's just `// should be OK`
* Stack protection coul

[2017-02-28 22:20] onewhl opened #1044 "'route' command does not check if current route exist and just add a new one"
**What steps will reproduce the problem?**
1. For example you can try to add a new route with command
`route add -net 192.168.0.0/16 dev lo`
2. Repeat step 1

**What do you see?**
[code]
I will fix it.

[2017-03-01 09:19] anton-bondarev commented on #1044
Thanks.
Please create PR for your changes.

[2017-03-03 08:11] frantony commented on #949
ping

[2017-03-03 08:17] frantony opened #1047 "add RISC-V architecture support"
[RISC-V](https://www.riscv.org) is a new and very promising  open instruction set architecture.

[2017-03-06 12:37] anton-bondarev commented on #949
pong:)

We couldn't represented this problem before, but now we'll try to use mips-linux-gcc from debian packets. I hope we'll represent it.

[2017-03-08 19:32] AntonKozlov commented on #949
Hi,

I can see same warning on https://github.com/embox/crosstool/releases/download/current/mips-elf-toolchain.tar.bz2

Seems like gcc bug that was fixed in newer versions of gcc
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=64569

One solution is to bump gcc version, another is to workaround a bug like linux did
https://patchwork.linux-mips.org//patch/8355/
Since it's just single config change, I

[2017-03-09 20:20] AntonKozlov commented on #949
Just note, I renamed that crosstool release to https://github.com/embox/crosstool/releases/tag/2.25.1-4.9.2-7.9

[2017-03-13 12:37] #949 closed

[2017-03-13 12:40] AntonKozlov commented on #949
@frantony Thanks! The fix is merged in, if it was not sufficient, please reopen

[2017-04-10 19:09] #1044 closed

[2017-06-17 17:00] #721 closed

[2017-07-04 10:31] sikmir opened #1093 "Build errors"
Some errors with gcc 7.1.1:
[code]
Template: x86/qemu

[2017-07-05 12:39] AntonKozlov commented on #1093
That strange, I have gcc (GCC) 7.1.1 20170528, on commit
[code]
I have that warnings as warnings, not errors. Build completes successfully. Could you provide details about commit you've tested, extra CFLAGS in shell environment (like one with '-Wall'), etc?

[2017-07-05 20:31] sikmir commented on #1093
[code]
No extra CFLAGS in shell environment.

[2017-07-05 20:51] sikmir commented on #1093
As strange as it may sound, it's caused by my locale (fi_FI.UTF-8). But it works with ru_RU.UTF-8. I don't really understand why.
[code]

[2017-07-06 09:54] AntonKozlov commented on #1093
Interesting, I was able to reproduce with `fi_FI.UTF-8` locale. With the locale, gcc invocation line is not contain `-Wno-error...` flags, but they are there with `ru_RU.UTF-8`, `en_US.UTF-8` locales that I could check.
I suspect that gcc version determination is not working with your locale. I'll check shortly

[2017-07-06 12:13] #1093 closed

[2017-08-02 12:13] FateevAlexandr opened #1106 "platform/pjsip/stm32f4discovery not build in master"
/tmp/cclophvh.s: Assembler messages:
/tmp/cclophvh.s:175: Error: selected processor does not support Thumb mode `vmrs r3,fpscr'
/tmp/cclophvh.s:184: Error: selected processor does not support Thumb mode `vmsr fpscr,r3'
/tmp/cclophvh.s:204: Error: selected processor does not support Thumb mode `vmrs r3,fpscr'
/tmp/cclophvh.s:213: Error: selected processor does not support Thumb mode `vmsr fpscr,r3'

[2017-08-02 12:27] anton-bondarev commented on #1106
@FateevAlexandr Thanks.

Please try arm-none-eabi version 5.4.1
[code]

[2017-08-02 12:27] FateevAlexandr commented on #1106
Build with gcc version 5.4.1 20160919 (release)

[2017-08-02 12:27] #1106 closed

[2017-08-11 09:13] #983 closed

[2017-11-25 08:55] AntonKozlov opened #1118 "Continuous Integration regressions"
There is a number of regressions found full CI started again by #1113: https://travis-ci.org/embox/embox/builds/294570241

Some tests were temporary disabled (by #1113, again) to watch on new regressions. This issue keeps track of disabled tests and fixes for them.

List of commits is below, each one masks regression by disabling failed test. Work on each regression can be started by reverting spe

[2017-12-11 14:18] Deryugin opened #1125 "Family-specific ARM exceptions"
Exception handler for ARM systems (`./src/arch/arm/armlib/exception_handler.c`) uses `cp15_get_mvbar()` and `cp15_get_vbar()` which seem to be unsupported on some platforms (i.e. QEMU/IntegratorCP platform). Calling this funtcions causes endless recoursive exceptions.

It makes harder to understand what happens (i.e. you should scroll output upper until find first "EXECTPION" to understand what ac

[2018-02-26 08:48] cypa opened #1144 "MPLS"
MPLS в каком-либо виде уже поддерживается?

[2018-02-26 11:09] anton-bondarev commented on #1144
Hi,

Now, unfortunately don't, Embox hasn't [MPLS](https://en.wikipedia.org/wiki/Multiprotocol_Label_Switching) support.
Earlier we tried to design configurable network stack (PNET) which can be used to similar goals. You can look at in Embox sources tree (src/pnet).

Please, write in English.

[2018-03-01 07:37] alexkalmuk opened #1145 "STM32F7-Discovery doesn't work with the recent toolchain"
From the embox-devel google group:
[code]
That is, it compiles fine, but doesn't work.

Template: arm/stm32f7cube

[2018-04-10 07:17] AntonKozlov opened #1148 "x86/qemu intermittent crash"
x86/qemu experiences a crash from time to time on `8b3bad23`. First time observed in then run of `xen18` branch https://travis-ci.org/embox/embox/jobs/364340910, but can be reproduced on master

[code]

[2018-05-28 09:55] Deryugin opened #1160 "FEC 1000Mbps packet loss"
FEC net driver loses about half of packets when use 1000mbps speed on i.MX6 board.

[2018-07-20 16:43] jonyMarino opened #1182 "pjsip for stm32f4 doesn't compile"
I compiled this way from master:
make confload-platform/pjsip/stm32f4discovery
make

Ang I got:

arm-none-eabi-gcc  -pipe --debug-prefix-map=`pwd`= --debug-prefix-map=./= -fno-strict-aliasing -fno-common -Wall -Werror -Wundef -Wno-trigraphs -Wno-char-subscripts -Wformat -std=gnu99 -Os -g -Wno-maybe-uninitialized -mthumb -mlittle-endian -march=armv7e-m -mcpu=cortex-m4 -msoft-float -ffreestanding -W

[2018-07-21 09:11] anton-bondarev commented on #1182
Thanks for the report!
What is your compiler version?

[2018-07-21 12:40] anton-bondarev commented on #1182
@jonyMarino Fixed in  #1183. But unfortunately I haven't a real board right now to check how it work. Check it please if you can.

[2018-07-27 13:59] alexkalmuk opened #1185 "pgd_allocator free more than available space"
Template: arm/qemu

include embox.cmd.mem.infomem

Then run infomem command.

"Also there is a somthing strange with PGD tables: number of free tables is more than number of tables at all. (2048 / 2049 - all / free)."

[2018-09-18 11:03] AnimusPEXUS opened #1205 "Intentional or bug? : src/tests/stdio/printf_test.c:122:23: error: ‘snprintf’ output truncated before the last format character [-Werror=format-truncation=]"
[code]

[2018-09-18 12:11] anton-bondarev commented on #1205
@AnimusPEXUS Thanks
What is your compiler version? and what template do you use?

[2018-09-18 13:14] AnimusPEXUS commented on #1205
[code]
`make confload-x86/qemu`

[2018-09-18 15:27] anton-bondarev commented on #1205
Now we don't support gcc 8. I hope we fix it soon.

[2018-09-18 17:02] AntonKozlov commented on #1205
[code]
gcc issues warning as the result (in `dest`) do not hold all required bytes, deduced in static.
But the test is actually checks if snprintf works correctly in such situation.
I think disabling the warning for this file with `#pragma`s would be good enough solution

[2018-10-03 08:07] kandeshvari commented on #1047
Are there public MCs or CPUs available?

[2018-10-03 08:30] frantony commented on #1047
There is a RISCV32 [HiFive1 board](https://www.sifive.com/boards/hifive1).
For RISCV64 please see [HiFive Unleashed board](https://www.crowdsupply.com/sifive/hifive-unleashed).

You can use mainline qemu for HiFive board emulation.

[2018-10-11 07:46] kandeshvari commented on #1047
1. What arch is better to get as a base for porting? Is `generic` a stub for any new arch?
2. What other code I have to write besides `src/arch`?

[2018-10-15 09:50] #1182 closed

[2018-10-16 10:58] #1205 closed

[2018-10-16 12:46] anton-bondarev commented on #1205
@AnimusPEXUS @AntonKozlov Please check on your compiler

[2018-10-16 13:06] AnimusPEXUS commented on #1205
both `make` and `make confload-x86/qemu` completed ok. the later printed out some cycle errors before main building process
[code]

[2018-10-16 14:17] anton-bondarev commented on #1205
@AnimusPEXUS Thanks
'dependency cycle' errors are internals (only for build debug) and don't affect runtime execution. We are cleaning them slowly.
Try execute on qemu please
`./scripts/qemu/auto_qemu`

[2018-10-16 14:41] anton-bondarev commented on #716
Now 'vmem_alloc' doesn't have  'phymem' as dependence

[2018-10-16 14:41] #716 closed

[2018-10-16 16:39] AnimusPEXUS commented on #1205
[code]
[code]

[2018-10-17 10:13] anton-bondarev opened #1231 "Problem with qemu network in ./scripts/qemu/auto_qemu"
[code]

[code]
[code]

[2018-10-17 10:16] Deryugin commented on #519
I suggest to close this issue as too wide.

I don't see how this issue can be solved without rewriting error handling in (almost) the whole project. I guess we can add some details to our codestyle to avoid such issues in future.

[2018-10-17 10:16] anton-bondarev commented on #1205
@AnimusPEXUS Thanks a lot

Now I haven't qemu with version 3.0.0 and just open a new issue #1231  We try to do it as soon as possible

[2018-10-17 10:24] #540 closed, assigned to anton-bondarev

[2018-10-17 10:39] #519 closed

[2018-10-17 11:01] Deryugin commented on #1125
Fixed in #1152

[2018-10-17 11:01] #1125 closed

[2018-10-17 16:00] #601 closed

[2018-11-07 14:21] #1185 closed

[2018-12-17 08:46] kandeshvari opened #1265 "Is there updated wiki?"
I have found old one at http://web.archive.org/web/20160105031702/https://code.google.com/p/embox/wiki/QuickOverview?wl=ru

I there a newer version? Could someone export/import at least old wiki to github?

It's connected with my offtop but main question - what is the status of embox development? Is it stalled, abandoned or sluggishly developing? Is there future for embox?

[2018-12-17 15:03] kandeshvari commented on #1047
I'm trying to build minimal kernel as it described [here](http://web.archive.org/web/20160105032147/https://code.google.com/p/embox/wiki/EmboxArchPorting)

my template:
[code]
next:
[code]

but gain an error:
[code]

Do I really need libm for minimal kernel? How to switch it's build off?

[2018-12-17 16:14] alexkalmuk commented on #1047
@kandeshvari Probably, you can try `include embox.compat.libc.math_libm_none`

[2018-12-18 10:33] anton-bondarev commented on #1047
@kandeshvari And use add line
	`include embox.compat.libc.stdio.print(support_floating=0)`

for switch off  floating point support in 'print' routines

[2018-12-18 10:37] anton-bondarev commented on #1047
@kandeshvari

try to use `include embox.compat.libc.math_builtins`

[2018-12-26 14:02] piyushguptaa opened #1273 "Need help with PjSIP Server"
Hi There,

I am trying to use PJSIP, Can you please help us up using PJ SIP for Android and iOS.

We tried the demo projects but for some reason its still not working.

Kindly let me know.

Thank you

[2019-01-17 16:17] #1273 closed

[2019-02-06 09:26] #426 closed

[2019-02-06 09:27] #46 closed

[2019-02-06 09:28] #93 closed

[2019-02-06 09:28] #338 closed

[2019-02-06 09:29] #498 closed

[2019-02-22 21:04] sikmir opened #1292 "x86/qt-app build error"
Steps to reproduce:
[code]

[2019-02-23 11:00] AntonKozlov commented on #1292
Do we have the template in CI?

[2019-02-23 11:38] Deryugin commented on #1292
No, we don't.

[2019-02-23 14:03] anton-bondarev commented on #1292
Fix it in #1293 Check please

[2019-02-23 19:04] sikmir commented on #1292
It's buildable now.

[2019-02-24 06:48] #1292 closed

[2019-04-16 08:18] anton-bondarev opened #1335 "execv return 0 and does not set errno on errors"
Look at #1334 to reproduce this bug

[code]

[2019-05-17 13:32] #699 closed

[2019-07-08 12:16] anton-bondarev commented on #1265
@kandeshvari
Hi, we created a separate github repo for Embox documentations ([https://github.com/embox/embox-docs](https://github.com/embox/embox-docs) ). So it's better to use it for documentations issues.

[2019-07-08 12:16] #1265 closed

[2019-07-08 12:23] #772 closed

[2019-07-26 09:03] Dovgalyuk opened #1458 "Can't build for platform/stellaris/lm3s811evb"
Got the following errors:

1
src/drivers/serial/pl011/pl011.c:101:40: error: 'pl011_mem' defined but not used [-Werror=unused-const-variable=]
 static const struct periph_memory_desc pl011_mem = {
cc1: all warnings being treated as errors

This one is solved by patching memory.h:
#define PERIPH_MEMORY_DEFINE(_mem_desc) const void * const p##_mem_desc = &_mem_desc;

2
./src/include/kernel/thread.h:

[2019-07-26 10:33] anton-bondarev commented on #1458
Thanks!
Try again in master, please. We've fixed stellaris/lm3s811evb build in PR #1459
![Screenshot_2019-07-26_13-14-52](https://user-images.githubusercontent.com/6949261/61945048-b86c1100-afa7-11e9-8a37-475b3e67f136.png)
But the first problem

 hasn't appeared.

[2019-07-26 10:58] Dovgalyuk commented on #1458
It's latest master already. Nothing has changed.
I used make confload-platform/stellaris/lm3s811evb

This warning looks correct, because the variable is not actually used. Therefore the code should be fixed.

[2019-07-26 11:24] anton-bondarev commented on #1458
Are you sure that your git branch has changes from PR #1459 ?

After pulled git you have to load the config again
`make confload-platform/stellaris/lm3s811evb`
and may be try cleaning project
`make clean cacheclean`
than build
`make`

What is you arm compiler version?

[2019-07-26 11:34] Dovgalyuk commented on #1458
Yes, I've updated the branch.

Please check the first message for the compiler version.

[2019-07-26 12:11] anton-bondarev commented on #1458
Ops, sorry, I haven't noticed.

Could you give a full build log?
Do `make distclean` before building.
After building pack your ./conf folder to a tarball and send it

[2019-07-26 12:16] Dovgalyuk commented on #1458
MKGEN mk_core_def.mk
 MKGEN mk_core_obj.mk
 MKGEN mk_util.mk
 MKGEN mk_gold_engine.mk
 MKGEN mk_model.mk
 MKGEN mk_annotations_core.mk
 MKGEN mk_mybuild_myfile.mk
 MKGEN mk_mybuild_configfile.mk
 MKGEN mk_mybuild_build.mk
 MKGEN mk_mybuild.mk
 MKGEN mk_annotations_handlers.mk
 MKGEN mk_ugly.mk
 ANNOTATION CORE
 MYFILE mk/mybuild/lang/Unique.my
 MYFILE mk/mybuild/lang/DefineMacro.my
 MYFILE mk/mybu

[2019-07-26 12:21] Dovgalyuk commented on #1458
[conf.tar.gz](https://github.com/embox/embox/files/3435693/conf.tar.gz)

[2019-07-26 14:12] anton-bondarev commented on #1458
@Dovgalyuk Thank you very much!
I'm sorry, I didn't understand you at first.
You are right. The problem was in PERIPH_MEMORY_DEFINE macro. I hope I've fixed it in #1460.

Could you check it again?

[2019-07-29 07:18] Dovgalyuk commented on #1458
Now the build is ok.

[2019-07-29 07:18] #1458 closed

[2019-08-13 14:33] Deryugin commented on #822
Now we have partial Aarch64 and e2k support (they both are 64-bit platforms). Not all modules are 64-bit clean, but that's enough for minimal build (MMU/interrupts/console commands/etc).

[2019-08-13 14:33] #822 closed

[2019-08-13 15:10] Deryugin commented on #28
Starting to work on it [on wiki ](https://github.com/embox/embox/wiki/Porting-to-a-new-architecture).

[2019-09-20 12:22] nastya-nizharadze commented on #1047
Hi, **@kandeshvari**
I'm going to continue porting Embox to RISC-V architecture. It would be great if you could tell me what results have already been achieved.

[2019-09-20 12:36] kandeshvari commented on #1047
Hi @nastya-nizharadze

Plz see in https://github.com/kandeshvari/embox/tree/risc-v-support

I've done early stage with qemu-sifive-e
I've added boot code and diag_serial via sifive's uart. It boots now and shows
[code]

Next I started interrupts but switched to other private tasks and abandoned this one :(

some hints to help:

## compile risc-v qemu
	./configure --target-list=riscv32-softmmu,risc

[2019-09-20 12:39] kandeshvari commented on #1047
more notes:

## resources

	[Tuesday @ 0900 RISC V Interrupts Krste Asanović, UC Berkeley & SiFive Inc](https://www.youtube.com/watch?v=iPbaG_wnNJY)

### interrupts
	[FE310G: an open source RISC-V microcontroller – Interrupt System](http://embeddedsystems.io/fe310g-open-source-riscv-microcontroller-interrupt-system/)

https://www.sifive.com/blog/all-aboard-part-3-linker-relaxation-in-riscv-toolcha

[2019-09-20 12:43] nastya-nizharadze commented on #1047
Thank you very much, @kandeshvari !

[2019-09-23 07:56] anton-bondarev commented on #1047
Hi @kandeshvari!

Looks great. Thank you. May you create PR for your current achievements?

[2019-09-23 16:14] kandeshvari commented on #1047
@anton-bondarev,
sure, give me few days to prepare PR.

[2019-09-24 12:54] kandeshvari commented on #1047
@anton-bondarev,
need help ;)
embox/src/compat/libc/include/inttypes.h:192 - how these defines were constructed? I can't find __e2k__ or __mips__ in code

[2019-09-24 13:34] anton-bondarev commented on #1047
@kandeshvari
Do you mean
`#if defined (__e2k__) || (defined(__mips__) && !defined(__gnu_linux__)) || defined(__sparc__) || defined(__microblaze__) || defined(__PPC__)`
?

These macros ` _e2k_` or `__PPC__` predefined in cross-compilers (`<arch>-gcc`) . We check type of architecture for defining some integer types. It's may be different for different cross-compilers for the same arch. MIPS for exam

[2019-09-24 18:44] kandeshvari commented on #1047
@anton-bondarev,
yes, it is! Thank you for hint! I've solved this step, but, it's a kind of magic, my branch does not compile now. It is strange, because I built it few month ago. Now I'm getting an error:

[code]

I suppose this is a build system's error - some modules were included implicitly. Could you tell me how to get dependency graph for all modules? Or maybe you know what module needs to b

[2019-09-25 15:16] kandeshvari commented on #1047
I've removed `embox.driver.clock.clint_timer` from PR due to `jiffles_init()` has added to `clock_source.c`. `jiffles_init()` needs to use interrupt timer that I don't have at the moment. I only started to add interrupts and tried to use hz clock_source that can't be used now.

[2019-09-26 08:05] anton-bondarev commented on #1047
Not a problem.

Thanks a lot for your work! PR will be merged soon!

[2019-10-30 10:20] AntonKozlov opened #1537 "usermode86/debug doesn't restore terminal settings"
After (forceful) exit from usermode86/debug, terminal settings are not restored
[code]

[2019-10-30 10:23] AntonKozlov opened #1538 "diag_shell: trimmed welcome message"
Replace `tish` with `diag_shell`

[code]
Last line is output from welcome message and should be printed above

[2019-11-26 20:10] HDDCableHD opened #1569 "Tish: Arrow buttons error"
Left and Right arrow buttons don't work.
Up and Down keys work correctly.

[2019-11-29 09:59] Deryugin commented on #1569
Please, provide more details. Which configuration do you use?

[2019-11-29 11:17] AntonKozlov commented on #1569
I've asked @HDDCableHD (Georgy Doronin, not sure about how it's written) to make this entry. He reproduced the issue. So it should be `x86/qemu`

[2019-12-10 14:51] anton-bondarev commented on #307
Now we recommend use docker or virtual machine on windows

[2019-12-10 14:51] #307 closed

[2019-12-10 14:52] Deryugin commented on #448
Currently clock source doesn't depend on IRQ, so this issue is considered deprecated.

[2019-12-10 14:52] #448 closed

[2019-12-10 15:04] Deryugin commented on #720
`REG_LOAD`/`REG_STORE` and structure are both fine, so I'm closing this issue.

[2019-12-10 15:04] #720 closed

[2019-12-10 15:35] Deryugin commented on #541
This function is accessed only from block device subsystem, which always provides buffer for device and calls read/write function with block-aligned count.

[2019-12-10 15:35] #541 closed

[2019-12-10 16:11] #708 closed

[2019-12-17 21:59] AntonKozlov commented on #1569
@HDDCableHD made some analysis and suggest using a next patch https://github.com/HDDCableHD/embox/commit/4bd6fd99cc577aaf085fb08fd71f1772dfc65846#diff-27f710a4260ba96f651c03cc0b17055f

it also appears like 55c225ad39 introduced the bug.

But there is an another issue: backspacing in the middle of the line do not moves the rest of the line.

Reverting 55c225ad39 fixes original issue but do not fixe

[2019-12-24 21:39] HDDCableHD commented on #1569
If unlock these lines, the backspace problem will be solved: [L583-L585](https://github.com/HDDCableHD/embox/blob/master/third-party/lib/linenoise/linenoise.c#L583-L585).

[2020-01-03 10:01] AntonKozlov commented on #1569
Thanks! It seems like both issues can be fixed by reverting few changes.

@Deryugin, commit 4928d40d introduced the issue. Can we revert it?

@HDDCableHD could you prepare a pull request with fixes? I would prefer to have revert commits (`git revert ...`) in the PR

[2020-01-21 08:32] Deryugin opened #1643 "npf porting"
We got request for porting this lib: https://github.com/rmind/npf

I did a little research on dependencies, some of them are ported in [npf_porting](https://github.com/embox/embox/tree/npf_porting) branch.

It turned out that we need following improvements:
* bsd/queue support #1644
* Extend pthread compatibility #1645
* Using different compilers for `libtool` in `third_party`

[2020-01-21 08:35] Deryugin opened #1644 "bsd/queue support"
Right now we don't have any modules for bsd compatibility, I suggest creating a separate directory for it, like `src/compat/bsd/`.

We need to implement macros/functions from BSD `queue.h`, it can be tested with #1643

[2020-01-21 08:47] Deryugin opened #1645 "Extend pthread compatibility"
We need to implement following functions:
[code]
This changes are required for #1643

[2020-01-21 12:04] AntonKozlov commented on #1644
Can we just take them as is
https://github.com/freebsd/freebsd/blob/master/sys/sys/queue.h ? It's BSD
too

src/compat/bsd is nice place, but on my Linux system it's just in
/usr/include
[code]

[2020-01-21 14:34] Deryugin commented on #1644
Yeah, probably we can just take this file.

As for the header directory, we're trying to avoid putting header files into `src/include` by using `@IncludeExport`, otherwise `src/include` directory becomes a bit messy.

[2020-01-21 18:39] Deryugin opened #1647 "devfs/ls fails on arm/qemu"
Bug can be reproduced on arm/qemu template.

You should add lots of lines with `"ls /dev/ttyS0",` to `system_start.inc`. After a few dozens of successfull calls, `ls` stalls.

[2020-01-23 11:45] Deryugin opened #1650 "aarch64 mmu_pte_unpack() invalid return value"
` uintptr_t mmu_pte_unpack(uintptr_t pte, int *flags)` in `src/arch/aarch64/mmu/mmu.c` always returns zero, but it should return physical address of corresponding pte.

[2020-01-24 14:51] anton-bondarev commented on #544
There are some implemented and used some processes API (vfork() for example) in Embox

[2020-01-24 14:51] #544 closed

[2020-01-24 14:51] anton-bondarev commented on #326
We can't reproduce this bug

[2020-01-24 14:51] #326 closed

[2020-01-24 14:53] anton-bondarev commented on #331
Won't fix it now

[2020-01-24 14:53] #331 closed

[2020-01-24 14:56] anton-bondarev commented on #360
Thanks, But now there are no problems with it.
If it appears the issue can be reopened.

[2020-01-24 14:56] #360 closed

[2020-01-24 14:58] anton-bondarev commented on #439
We improved it a little now. In the future we'll formulate it in more details

[2020-01-24 14:58] #439 closed

[2020-01-24 14:59] #487 closed

[2020-01-24 15:01] anton-bondarev commented on #317
We redesigned GPIO subsystems (add command to manage it etc).

[2020-01-24 15:01] #317 closed

[2020-01-24 15:09] anton-bondarev commented on #607
@AntonKozlov Won't fix?

[2020-01-24 15:09] #607 closed

[2020-01-24 15:12] anton-bondarev commented on #947
@AntonKozlov Won't fix?

[2020-01-24 15:12] #947 closed

[2020-01-24 15:15] #693 closed

[2020-01-26 09:35] anton-bondarev commented on #976
@embox/devs Is it actual now?

[2020-01-26 09:39] anton-bondarev commented on #1145
@embox/devs Has it been still actual?

[2020-01-26 11:14] #774 closed

[2020-01-26 11:15] anton-bondarev commented on #775
Now we reworked usb stack

[2020-01-26 11:15] #775 closed

[2020-01-26 11:16] anton-bondarev commented on #715
@AntonKozlov
Is it actual? Can you provide more details?

[2020-01-27 11:54] #581 closed

[2020-01-27 12:02] Deryugin commented on #1145
It certainly works for GCC 9.2.0

[2020-01-27 12:58] #1145 closed

[2020-01-27 13:17] #760 closed

[2020-01-27 13:17] #715 closed

[2020-01-27 14:54] anton-bondarev commented on #543
Embox has pthread_mutex_ and etc

[2020-01-27 14:54] #543 closed

[2020-01-27 14:59] anton-bondarev commented on #596
If it is actual, reopen

[2020-01-27 14:59] #596 closed

[2020-01-27 15:01] anton-bondarev commented on #623
now closed, reopen If it is reproduced

[2020-01-27 15:01] #623 closed

[2020-01-28 15:56] alexkalmuk opened #1653 "No output with sifive_u qemu 4.2.0"
template: `riscv/qemu-sifive-u`
qemu:
[code]

Run embox:
[code]

And.. no more output here.

P.S. But works well with qemu 4.1.0.

[2020-01-28 16:29] alexkalmuk opened #1654 "risc-v version command wrong output"
template: riscv/qemu-sifive-u
qemu: 4.1.0
gcc:
[code]

[code]

On host:
[code]

But `version` works fine on x86 and arm.

[2020-01-28 16:34] alexkalmuk commented on #1654
`18:30:00` constantly appears and doesn't depend on the actual build time.

[2020-01-29 07:52] alexkalmuk commented on #1653
But template `riscv/qemu` works on qemu 4.2.0.

[2020-01-31 08:26] #1650 closed

[2020-02-04 10:06] anton-bondarev commented on #662
Won't fix. After rework VFS it'll not actual

[2020-02-04 10:06] #662 closed

[2020-02-04 10:07] anton-bondarev commented on #1148
Won't fix. It's not reproduced now

[2020-02-04 10:07] #1148 closed

[2020-02-04 10:08] anton-bondarev commented on #713
Not actual.

[2020-02-04 10:08] #713 closed

[2020-02-04 10:13] anton-bondarev commented on #625
Thanks. Yes, when we'll rework fs we'll consider and thread safety

[2020-02-04 10:13] #625 closed

[2020-02-04 10:17] anton-bondarev commented on #28
Closed. We've started on wiki and in [Embox documentation repo ](https://github.com/embox/embox-docs). If it becomes actual reopen issue in docs repo

[2020-02-04 10:17] #28 closed

[2020-02-05 11:56] anton-bondarev commented on #703
Done

[2020-02-05 11:57] #703 closed

[2020-02-14 14:00] Deryugin opened #1685 "Implement strptime()"
strptime() is a POSIX function to convert time from string representation to `struct tm`. Refer to `man 3 strptime` for more details.

It's necessary to add some test and put them in some templates.

Stub for this function was added in #1631 already.

[2020-02-16 14:10] AntonKozlov opened #1686 "Debug LKL hang"
In branch `lkl`, `lkltest` may hang.

Linux function `kernel_init` (executed in a kernel thread that apparently will become PID 1) is reached. It's possible that something called from the function hangs

[2020-02-16 15:23] DmiitriyJarosh commented on #1686
-

[2020-02-16 15:29] DmiitriyJarosh commented on #1686
.

[2020-02-18 11:59] Deryugin opened #1690 "Building with make 4.3"
Building Embox with make 4.3 causes following error:

[code]

Temporary solution is to downgrade `make` to 4.2.

Seems like the problem is caused by this function in `mk/core/define.mk` at line 1379: `__builtin_to_function_inline`.

[2020-02-19 09:38] Deryugin commented on #1690
As it turned out, this error was caused by using `builtin_func-def-ifdef` before it was processed by `$(def_all)` macro. This is fixed in 29d16f7

But now we have a new problem: segmentation fault. This is caused by stack overflow during processing `mk/load-mybuild.inc.mk:95`. I have spend some time figuring out how exactly `builtin_func-` stuff works, but it seems to be a bit messy, so I don't kn

[2020-02-19 10:18] AntonKozlov opened #1694 "Xen block device driver"
Discussion on imlementation of block device for xen

[2020-02-19 10:22] anton-bondarev commented on #1694
Hi,
I don't understand what's difference between block_dev for Xen and another block_dev?

[2020-02-19 10:23] AntonKozlov commented on #1694
Hmm, do we have xen block_dev driver already?

[2020-02-19 10:31] anton-bondarev commented on #1694
Ok, I've understood. But I think the issue description should correct.

for example.
It seems more clear.

[2020-02-20 11:46] Deryugin commented on #1694
I bet ramdisk will work for Xen, and it's a block device :)

[2020-02-20 12:00] Deryugin commented on #1690
Another issue with make 4.3 is building third party modules.

`openlibm` happened to run `build` stage before `patch` while building parallel (i.e. `make -jN`), I suggest to fix by adding explicit dependencies for each building stage e08281e

I wonder why this problem was not found previously. Am I missing something?

[2020-02-20 12:23] alexkalmuk commented on #1690
Hm, what about third_party applications that do not use all these targets, just some of them - like `make download extract patch` only? Lile `@Build(stage=1,script="$(EXTERNAL_MAKE) download extract patch")`

Maybe it would be ok, but should be checked/

[2020-02-20 12:25] alexkalmuk commented on #1690
I see third-party/bsp/stmf4cube/Mybuild use only 3 targets, so if it will be built, so ok.

[2020-02-20 12:35] alexkalmuk commented on #1690
Try to rebuild `arm/stm32f4-discovery` once it built (without clean). You will get an error

[2020-02-20 12:39] Deryugin commented on #1690
Thanks for your comment! You're right, I'll try to fix it now.

[2020-02-20 12:58] Deryugin commented on #1690
Fixed with 42749ef6866f831df94884d58b5b74300cf75636
When files are specified as dependencies (instead of recipes) it doesn't attempt to extract/patch/build it second time.

[2020-02-20 13:05] alexkalmuk commented on #1690
Yes, now it was built fine :)

[2020-02-20 13:06] Deryugin commented on #1690
I think we're ready to merge  #1692 as there are no more known issues?

[2020-02-20 13:20] alexkalmuk commented on #1690
Yes, of course, I approved PR.

[2020-02-21 11:20] #1690 closed

[2020-02-21 12:01] AntonKozlov commented on #1694
Accidentally I started irrelevant discussion. Sorry for that.

[2020-02-21 12:01] #1694 closed

[2020-02-21 12:27] anton-bondarev opened #1696 "Wrong backtrace on ARM"
To reproduce you can add `assert(0);` or simply add a breakpoint in gdb to critical_dispatch() and look at stacktrace.
for breakepoint:
[code]

for assert(0):
[code]
 ASSERTION FAILED on CPU 0
	at src/kernel/critical.c:28
	in function critical_dispatch_pending

0
Data abort exception!
regs:
00090078 01c99c5c e59ff018 fffffff8
00124000 00000000 00000000 00000000
00000000 00000000 00000000 01c99c5c

[2020-02-21 13:50] anton-bondarev commented on #1538
is not reproduced

[2020-02-21 13:50] #1538 closed

[2020-02-21 14:22] anton-bondarev opened #1698 "Improve 'uname' core util command"
Currently, `uname` uses mybuild options for getting platform(-i), processor(-p) and systems (-o). Use some other way to get them.

[2020-02-21 14:31] anton-bondarev opened #1699 "Improve 'lsblk' command"
Now 'lsblk' print block dev size in bytes, but it's useful to show in (K bytes, M bytes, G bytes)

[2020-02-22 10:43] anton-bondarev opened #1701 "'blockdev' command"
Implement of 'blockdev' command ([man 8 blockdev ](http://man7.org/linux/man-pages/man8/blockdev.8.html) )
The first implementation may include only `--getbsz` command or `--report` options. [Examples](http://fibrevillage.com/storage/291-blockdev-command-examples).

Example, getting of blockdev information may be found in 'lsblk' command

[2020-02-22 14:27] anton-bondarev opened #1702 "service_run() does not consider result of starting service"
[code]

in spite of execv() can be broken service always adding to services list

It's blocked by #1335

[2020-02-22 18:52] bw-space commented on #1701
I want to take up this issue, can I work on it?

[2020-02-22 19:28] ahmedkrmn commented on #1699
Hi Anton,
Do you have an idea where I can get started to implement this?

[2020-02-22 19:48] alexkalmuk commented on #1699
Hi Ahmed, you can start with launching this command in Embox shell. And of course, it is not a bad idea to try this command on your host Linux system.

[2020-02-22 19:50] anton-bondarev commented on #1699
Hi,
You can use x86/qemu template with virtual (or real) USB mass storage as described on [wiki](https://github.com/embox/embox/wiki/Using-USB-on-qemu)  and call lsblk in command line.

[2020-02-22 19:51] anton-bondarev commented on #1701
yes, you can :)

[2020-02-22 19:58] bw-space commented on #1701
Thanks a lot, I have been going through the source code, I have seen implementations of many shell functions, but I am not able to figure out where are they called from,like:
if I type 'uname', how is it called, or where should I place my new command, so that it is found by the tish shell. Is there documentation of such related queries?

[2020-02-22 21:26] ahmedkrmn commented on #1699
Thanks @anton-bondarev and @alexkalmuk. I'm working on the implementation now.
I just want to ask if there is a simpler way for testing my changes locally instead of running the following each time I make a change?
[code]

[2020-02-22 22:04] ahmedkrmn commented on #1699
I tried and tested an implementation which works when compiled and ran separately through `gcc ./lsblk.c && ./a.out`.
When I modify the `lsblk.c` file in the `src/` directory and re`make` the project, then I run `lsblk` in the embox shell, the following error message keeps on being printed indefinitely:

[code]

[2020-02-22 23:02] ahmedkrmn commented on #1699
@anton-bondarev and @alexkalmuk. The error message occurred when I was trying to display the `float` size using `printf()` and `%f`. I tried to use `sprintf()` with `%f` to convert the `float` size to a `string` but the above error message also occurred. Typecasting the `float` size to `uint64_t` before printing is the only option that worked.
Is there a certain reason for this behavior?

[2020-02-23 06:23] anton-bondarev commented on #1701
You can get information about how to add a new command to Embox on[ "Quick start" wiki page](https://github.com/embox/embox/wiki/Quick-Start#hello-world-application) or in embox_quick_start_en.pdf from [ documentation repo](https://github.com/embox/embox-docs/releases)

[2020-02-23 07:54] alexkalmuk commented on #1699
Embox is statically configurable (it's one of the project concepts), it means you have no ability to run some pre-compiled binary within Embox. In particular, yes, it means you need to rebuild embox to verify your changes (basically, only your modified file will re-compiled and linked then to final embox image).

[2020-02-23 09:58] bw-space commented on #1701
Thanks, I have managed to make the first app, I am able to get the block size. What all entries should be present in the --report part?
'RO    RA   SSZ   BSZ   StartSec            Size   Device' all from here?

[2020-02-23 10:16] anton-bondarev commented on #1701
Block size and block_dev size are enough now

[2020-02-23 10:20] alexkalmuk commented on #1699
It's due to math library (`embox.compat.libc.math_builtins` in your conf/mods.config) floating operations missing implementations. I think you have to switch to `embox.compat.libc.math_openlibm`  and try once more.

[2020-02-23 11:02] ahmedkrmn commented on #1699
Hi can I do that?

On Sun, Feb 23, 2020, 12:20 PM Alex Kalmuk <notifications@github.com> wrote:

[2020-02-23 12:02] alexkalmuk commented on #1699
You can delete `embox.compat.libc.math_builtins` module from your conf/mods.config and add `embox.compat.libc.math_openlibm` instead. It's just to check floating point version will work.

But I think your solution with `uint64_t` probably will be ok because we can use lsblk without floating-point support (hardware and software) on the target platform. Still, we need to think about that.

[2020-02-23 20:49] Ahish9009 commented on #1537
Hi, I would like to work on this issue.
I have built the embox shell, could you point to me a good place to get started to resolve this issue?

[2020-02-23 23:29] bartekxk commented on #1696
Hello, I would like to work on this issue but, what is exactly wrong with this backtrace?

Thanks.

[2020-02-24 03:38] bw-space commented on #1701
Can you let me know, if the code in PR is alright, or needs some changes?

[2020-02-24 08:20] alexkalmuk opened #1708 "Time flows too fast on arm/qemu"
Template: `arm/qemu`
Include module `include embox.cmd.testing.ticker` in conf/mods.config and rebuild embox.

[code]

You can see time flows faster than in reality.

[2020-02-24 09:00] alexkalmuk commented on #1696
I will try to explain this on another example:

I used the following patch to add `assert(0)` in src/cmds/net/ifconfig.c:

[code]

Ok, what is expected behavior of this code? When `ifconfig` command will be executed it will go into `main()` then into `assert(0)`. `assert(0)` expression is _always_ false, so assert will be failed and Embox stack trace should appear on your screen.

Then, what Anton

[2020-02-24 09:23] anton-bondarev commented on #1699
@ahmedkrmn I agree with Alex, using uint64_t looks useful for at this place

[2020-02-24 09:31] alexkalmuk commented on #1696
Hm, probably there are several bugs here. We are still discussing this issue. we will let you know soon what to do further.

[2020-02-24 10:12] anton-bondarev commented on #1701
@bw-space Can you prepare PR according to the rules adopted by Embox ?

[2020-02-24 10:45] alexkalmuk opened #1709 "Extend block_dev_test command with new options"
`block_dev_test` command is a simple testing tool for block devices like hdd, usb, flash, etc. It checks that read/write routines work correct.

We suggest extending the existing functionality with the following options:

* Add parameter which specifies the block number at which the command should start at.
* Add parameter which specifies blocks count to be tested.
* Add option to read/write multi

[2020-02-24 10:53] alexkalmuk opened #1710 "Implement tail command"
Just very basic functionality is required. Read more about this command `man tail`.
We already have `head` command in Embox, so can examine this one first.

[2020-02-24 11:01] Nishchay-sopho commented on #1698
I would like to work on this issue.
I have looked at the uname.c and Uname.my files and basically got an idea about how the workflow of the code is but am not able to understand what exactly do you want from this.
Could you please guide me how to get started?

[2020-02-24 11:16] ymdatta commented on #1709
Hi, i would like to work on this issue. Can i take it up?
Thanks.

[2020-02-24 11:21] alexkalmuk commented on #1709
@ymdatta Yes, you can. But first of all : I cannot find your proposal in email. Did you send your proposal to anybody of the mentors?

[2020-02-24 11:50] Nishchay-sopho commented on #1710
Can I work on this issue ?

[2020-02-24 12:09] anton-bondarev commented on #1698
Hi
The simplest thing in this task is get rid of `option string system = "Embox-OS"` from module description. You can just change it to a macro in C code

Then you can add a module with simple analog sysctl. For example you can look at uname().

[2020-02-24 12:16] alexkalmuk commented on #1709
We received your email, thanks,  so now I will assign you to this issue.

[2020-02-24 13:49] Nishchay-sopho commented on #1698
So, that means you want the information regarding the processor, platform and system to be modular as the things in struct utsname.
But we still would have to hard code the value of the macros for the system, platform and processor in the file where the macro is, wouldn't we?

[2020-02-24 14:14] anton-bondarev commented on #1698
Yes, I want to remove Embox dependency
`#include <embox/cmd.h> /* options */`

Of cause,it's better if you do that without hard code at all. I mean in sources of 'uname' command.
We can look at [https://github.com/wertarbyte/coreutils/blob/master/src/uname.c](https://github.com/wertarbyte/coreutils/blob/master/src/uname.c) and see that processor and platform get by sysctl

[2020-02-24 14:54] alexkalmuk commented on #1696
The problem was in the ARM function frame format, so it was solved in #1711. After we added the corresponding compiler flags stack trace became fine.

@bartekxk Sorry, the issue was invalid, you have to choose a new one (we are updating the list)

[2020-02-24 14:54] #1696 closed

[2020-02-24 16:02] layman-n-ish commented on #1708
Hello,

This looks like an interesting situation. May I work on fixing this? Thanks in advance.

[2020-02-24 16:13] alexkalmuk opened #1713 "Implement memalign for heap_simple memory allocator"
There are several memory allocation algorithms in Embox, one of them is heap_simple - the very basic one, which is rarely used but is useful sometimes for debugging. However, the current heap_simple implementation misses `memalign()` function, so it's required to implement it.

[2020-02-24 16:27] bartekxk commented on #1537
Hello,
What settings are not properly restored? I'm trying to reproduce the error but everything looks fine.

Thanks.

[2020-02-24 16:28] bartekxk commented on #1713
Hello, I would like to work on this issue.

[2020-02-24 16:35] alexkalmuk commented on #1713
Hello, great!

[2020-02-24 16:36] alexkalmuk commented on #1708
Yes, of course.

[2020-02-24 16:46] alexkalmuk opened #1714 "Extend lsusb command"
Add the following option to lsusb command:

(from `man lsusb`)
[code]

We already have `lsusb` in Embox, but it only prints current devices, it would be great if we can see also device descriptors at least.

This issue requires to study USB, but only very basic high-level things, without going deeper into the USB subsystem. You have to study how to get a USB descriptor and show this descriptor to

[2020-02-24 17:10] AntonKozlov commented on #1537
I filed the bug after conversation with @anton-bondarev.

AFAIR, after embox forcefully terminated (i.e. ctrl-c or with `kill` from another terminal on linux), terminal doesn't do echo of typed symbols, enter key doesn't introduce new line (or makes '\n' without '\r', don't remember now)

[2020-02-24 19:51] worldinmyfist commented on #1537
Hi, Can I work on this issue ?

[2020-02-24 19:55] worldinmyfist commented on #1701
Can I work on this issue as well?

[2020-02-24 20:00] worldinmyfist commented on #1702
Hi can I work on this issue?
I need a starting point if you could help me.

[2020-02-24 20:17] Ahish9009 commented on #1537
Hi
I am also unable to reproduce the error. I tried echo'ing various symbols, and using the enter key. Everything seems to be working fine for me.

[2020-02-24 20:26] bartekxk commented on #1714
Hello, I would like to work on this issue.

[2020-02-24 20:27] bartekxk commented on #1713
I created pull request. Can you review it?
 #1715
Thanks.

[2020-02-24 21:07] AntonKozlov commented on #1537
Please check screencast with the issue demonstrated.
Is behavior on your machine different?

https://asciinema.org/a/304411

I hit ctrl-c during boot process. Then I hit enter few times -- shell invitations expected on separate lines, but they are on the same.
Then I tried typing `1<enter>2<enter>...`. I expected to see number as I type them, but they are not displayed -- I see only shell error af

[2020-02-24 21:23] Ahish9009 commented on #1537
![output](https://user-images.githubusercontent.com/26454938/75192275-eb62c700-5779-11ea-9df9-f4427e8a7660.gif)

It seems to be working fine on my machine.

[2020-02-24 21:43] Ahish9009 commented on #1335
Hi,
Could I work on this issue?

[2020-02-24 22:24] Nishchay-sopho commented on #1698
I have done a small implementation to improve this functionality in 17d310b8a51fc149051baa8e82187853757e3547 .

Could you please let me know if or not this is what was desired ?

[2020-02-25 08:11] alexkalmuk commented on #1714
Let's finish with https://github.com/embox/embox/issues/1713 first. Then you can to choose a new one :)

[2020-02-25 08:24] anton-bondarev commented on #1698
Yes, it looks like what I wish.
But you should prepare separate PR for this task and wait when it'll merge before start another issue.

[2020-02-25 08:39] AntonKozlov commented on #1537
I see, interesting. I use xterm on linux, it probably matters. It may be my
environment as well.
I would suggest not to spend too much efforts on reproducing, it's warmup
issue and it's not very disturbing. Thanks for checking! I think it made a
contribution to understanding of the problem the problem.

[2020-02-25 08:52] anton-bondarev commented on #1537
@Ahish9009 @bartekxk @AntonKozlov Thanks
Now I also can't reproduce the problem!

[2020-02-25 08:52] #1537 closed

[2020-02-25 09:04] Deryugin commented on #1701
@worldinmyfist no. Please consider some other issue that is not assigned to anyone.
We will add more issues with "Good first issue" tag soon.

[2020-02-25 09:06] alexkalmuk opened #1716 "Tests for pthread_kill"
There is POSIX function `pthread_kill` - you can read more about this function in `man 3 pthread_kill`.  We have our own implementation of this function in Embox.

Please, add tests for this function.

[2020-02-25 09:08] Deryugin commented on #1335
@Ahish9009 sure! Codestyle and git workflow can be found on wiki: https://github.com/embox/embox/wiki

[2020-02-25 09:11] anton-bondarev opened #1717 "Partly implement 'lshw' command"
Add 'lshw' command which reporting about hardware in the system. Now show only pci, network and usb devices

[2020-02-25 09:17] alexkalmuk opened #1718 "Porting the last version of Openlibm"
https://openlibm.org/

We already have Openlibm in Embox in `third-party/lib/openlibm/`. It's required to update this version to the most recent one.

[2020-02-25 09:19] Deryugin commented on #1702
@worldinmyfist sure! Basicly, you should make sure that process is properly created with `execv()` and print something meaningful if something went wrong.

Codestyle and git workflow can be found on our wiki: https://github.com/embox/embox/wiki

[2020-02-25 09:27] anton-bondarev opened #1719 "Desing unit test for fcntl(fd,F_GETFL)"
Add some unit test for fcntl(). Pay attention about  O_ACCESS_FLAGS flag

[2020-02-25 09:39] alexkalmuk opened #1720 "sshd (dropbear) rejects second connection"
There is an sshd server in Embox - third-party/dropbear/ (what dropbear is - https://matt.ucc.asn.au/dropbear/dropbear.html). So it is a third party application ported to Embox.

_How to start dropbear?_
* `make confload-x86/qemu`. Then add `include third_party.dropbear.dropbear` in conf/mods.config, also add `"service dropbear -F"` in conf/system_start.inc. Build embox.
* Start Embox
* Connect to

[2020-02-25 09:40] worldinmyfist commented on #1702
Hi it would be great if you could tell me in which file is this function located?

[2020-02-25 09:52] Deryugin commented on #1702
@worldinmyfist `service_run()` is in src/cmds/service.c. I advise to use `grep` command to find functions quickly.
[code]
`service_run` argument is used to pass the pattern you're looking for, `-r` (recousrive) flag makes it go into directories recoursively, `-n` (number) makes it print line number where pattern was matched

[2020-02-25 09:58] anton-bondarev opened #1722 "printf must check return value from printchar_handler"
printf() must return error code if printchar_handler() failed

[2020-02-25 10:17] Nishchay-sopho commented on #1698
Oh yeah, I didn't realize that while pushing it to the master of my forked repository.

I will remove this commit for now and wait for #1712 to get merged and then push this one and create a PR for the same.

Is it okay?

[2020-02-25 10:25] alexkalmuk opened #1723 "arping doesn't show microseconds"
[code]

Expected something like that:

[code]

[2020-02-25 11:06] anton-bondarev commented on #1698
Yes, it's ok. Thanks.

[2020-02-25 11:26] sk2sat commented on #1722
Hi
Can I work on this issue?

[2020-02-25 11:37] anton-bondarev commented on #1722
Of course, yes!

But if you want to participate of GSoC you should also send us email and tell a bit about yourself as described on the wiki page  [https://github.com/embox/embox/wiki/Google-Summer-of-Code-2020](https://github.com/embox/embox/wiki/Google-Summer-of-Code-2020)

[2020-02-25 11:42] sk2sat commented on #1722
OK. I will send email. thanks!

[2020-02-25 15:10] bartekxk commented on #1714
Sure, I will also look at other tasks and after finishing my, I will let you know again :).

[2020-02-25 19:01] eboswell commented on #1723
In the example, are those 0.285ms microseconds or milliseconds?

[2020-02-25 19:45] eboswell commented on #1723
I would like to work on this issue

[2020-02-25 21:11] alexkalmuk commented on #1718
Hello, thank you, we received your email.

[2020-02-25 21:13] alexkalmuk commented on #1723
0.285 milliseconds = 285 microseconds :)

[2020-02-25 21:17] alexkalmuk commented on #1723
There are possible troubles with floating-point arithmetic on CPUs with a really small amount of memory and without hardware FPU, so I would suggest you to use integer arithmetic if it is possible here. But any solution will be great, of course.

[2020-02-26 06:45] ymdatta opened #1725 "cmd: block_dev_test: Incorrect parsing of command line arguments"
**What steps will reproduce the problem?**
    Call cmd `block_dev_test` with `-i` flag.

**What is the expected output? What do you see instead?**
For example, if the command issued is: `block_dev_test -i n_iter <dev_name>`, it first should print a statement saying `starting block device test (iters = n_iter)...`. Instead, for any value of `n_iter`, it prints a statement saying `starting block de

[2020-02-26 09:09] #1708 closed

[2020-02-26 09:09] alexkalmuk commented on #1708
@layman-n-ish Thank you! Your solution looks pretty good, so we already merged it into master.

[2020-02-26 10:07] anton-bondarev opened #1729 "Implement 'du' command"
man du

Implement only for regular files and it's enough to follow flags:
[code]

[2020-02-26 10:24] Deryugin opened #1730 "Extending file formats for `file` command"
There is a `file` command (src/cmds/fs/file.c), currently it just checks if file is RIFF or text file.

This can be extended for ELF, PNG and GIF formats too, and it should be relatively simple.

Optionally, checking for HTML/XML/SVG file formats may be implemented too, but that's a little bit more complicated as header is not in the fixed position.

[2020-02-26 11:31] #1725 closed

[2020-02-26 11:34] alexkalmuk commented on #1709
Hi @ymdatta, thank you for the https://github.com/embox/embox/pull/1727.

You probably faced these problems with `-i` and `cd0`, so I think it's better to test block_dev_test new options with another stuff:

[code]
In Embox:
[code]

[2020-02-26 12:20] VivekKamisetty commented on #1730
Hello, I am interested in taking up this issue

[2020-02-26 12:42] ymdatta commented on #1709
Hi @alexkalmuk, thanks for the suggestion.

When i started trying to solve this issue (#1709), i realized i need something other than `cd0` to test my changes with. So, i followed this [Using-USB-on-qemu](https://github.com/embox/embox/wiki/Using-USB-on-qemu) and right now i am using USB to test my changes.

[2020-02-26 12:49] alexkalmuk commented on #1709
Nice, are you using `ehci_pci` or `ohci_pci` in your mods.config?

[2020-02-26 12:50] ymdatta commented on #1709
I tried using `ochi_pci` it didn't work, but with `ehci_pci` it's working. :)

[2020-02-26 12:51] alexkalmuk commented on #1709
Yeah, it's already known bug :) I'm just working on it right now.

[2020-02-26 14:52] anton-bondarev commented on #1730
Hello, ok. I've assigned it to you

[2020-02-26 15:22] nilCux commented on #1716
Hi, I have sent a mail about participating GSoC from chenglin.theo.xu@gmail.com, may I work on this issue please? If I didn't misunderstand, it concerns adding a test for Embox version of `pthread_kill` which should do exactly the same thing as POSIX `pthread_kill`, right?

[2020-02-26 16:26] layman-n-ish commented on #1717
Hello, I'd like to take this up. Thanks in advance.

[2020-02-26 16:35] alexkalmuk commented on #1717
As far as I can remember you already finished https://github.com/embox/embox/issues/1708, but well, you are free to choose a new one if you want, of course.

[2020-02-26 17:04] bartekxk commented on #1729
Hello, I would like to work on this issue.

[2020-02-26 17:38] shivamanipatil commented on #1714
I woould like to work on this one.

[2020-02-26 17:57] alexkalmuk commented on #1729
Hi, yes you can, of course :)

[2020-02-26 18:48] bartekxk commented on #1729
Should the command work on a single file or recursively?

[2020-02-26 20:21] alexkalmuk commented on #1729
Hm, why recursively? :) You should study a bit more what "regular file" from the issue description mean. For example, you can figure out how to check whether a file is a regular file on your Linux host.

But on the other hand, probably we can use `du` not only for regular files, but it's better to discuss it later.

[2020-02-26 20:37] alexkalmuk commented on #1729
Anyway, you can start with regular files, without directories.

[2020-02-26 23:22] bartekxk commented on #1729
I was thinking about recursive reading du documentation on another unix. Currently I did recursively by default with the option of choosing a file (regular file) / directory but I can change it if you want, for example with the -R parameter. I wrote the code, if you want you can see it here:
https://github.com/bartekxk/embox/commit/72ea9b329fc1caed01ae9d5596ed417742385124

This is almost the whole

[2020-02-27 03:31] ThePiGrepper commented on #1718
one question regarding the Makefiles, especially regarding external builds. (Im still reading mk/extbld/lib.mk to figure out what exactly the build system does with external builds)
Apparently PKG_SOURCES is the variable defining where to download the sources from, and additional patches can be applied by using the variable PKG_PATCHES. I've been having some issues creating a new patch, exactly li

[2020-02-27 07:48] anton-bondarev commented on #1714
@shivamanipatil You've been assigned with the issue.
Please look through our code style ( [https://github.com/embox/embox/wiki/Code-Style](https://github.com/embox/embox/wiki/Code-Style)) and git roles ( [https://github.com/embox/embox/wiki/Contributing%3A-Git-cheatsheet](https://github.com/embox/embox/wiki/Contributing%3A-Git-cheatsheet) ) to prepare PR.

[2020-02-27 08:25] alexkalmuk commented on #1718
I think it's not a good way because we have many third-party allocations, and we try to download all of them from the external project's resources.

Let's try to figure out how to solve your problems with sources patching.

Yes, you're right.

You can try `./scripts/app_diff.sh` script to cretate a patch. btw, what's is URL you specified in PKG_SOURCES?

[2020-02-27 09:00] alexkalmuk commented on #1729
Your version looks good!

I don't know if `st_blocks` is implemented correctly... Probably @anton-bondarev will answer.

But for `-b` it's better to refer to `st_size` rather than `st_blocks`.

[2020-02-27 09:02] alexkalmuk commented on #1729
On Linux:
[code]

So it would be impossible to get this 10 bytes value from `st_blocks`.

[2020-02-27 09:07] anton-bondarev commented on #1729
You are right. Unfortunately, filling st_blocks isn't implemented now. We'll create a new task for that soon. Except it, when you work on Embox "initfs" you have no block_dev. It places directly in Embox image (like a mapped file system in flat address space)

[2020-02-27 10:48] #1722 closed

[2020-02-27 11:55] anton-bondarev commented on #1716
Yes pthread_kill the same.
How to add Embox unit test you can see if look at src/test/posix/pthread/

[2020-02-27 12:32] bartekxk commented on #1713
You can close this task.

[2020-02-27 12:36] alexkalmuk commented on #1713
Yes, of course, thanks. btw you will use something like "Close #<issue>" or "Fix #<issue>" it will be closed automatically - https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2020-02-27 12:37] alexkalmuk commented on #1713
Closed by https://github.com/embox/embox/pull/1715

[2020-02-27 12:37] #1713 closed

[2020-02-27 12:46] bartekxk commented on #1729
From Linux man du:

So is not the size of the memory blocks? It will be probably 10 * (512 or 1024 B blocks).
I think st_size will return the file size, not the memory size that occupies the disk file (in 512B blocks). If I'm right we have to wait for the st_blocks implementation.

[2020-02-27 13:40] shivamanipatil commented on #1714
@anton-bondarev @alexkalmuk
![lsusb](https://user-images.githubusercontent.com/43640923/75450348-a4045280-5994-11ea-9a02-88b086d9ca81.png)
Right now I am priting this is this fine?

[2020-02-27 16:15] SusannaDiV commented on #1719
Hello, I've started working on the issue.

[2020-02-27 16:39] alexkalmuk commented on #1729
And yes and no :) You're right disk usage is not the same as file size. But:

[code]

I think because of `apparent-size` using `st_size` is suitable.

[2020-02-27 17:05] alexkalmuk commented on #1729
btw, `-b` is not a common option for `du` command. For example, there is no such option in Busybox version of `du` at all.

I think we can just return a sum of all files sizes for now, and then we can think about how to do it better.

[2020-02-27 17:06] anton-bondarev commented on #1719
Hi, ok. I've assigned it with you.
Don't forget to send email and tell us a bit about yourself

[2020-02-27 17:20] alexkalmuk commented on #1714
Hi, the pattern looks good but I would recommend printing Configuration Descriptor instead of Interface Descriptor.

[2020-02-27 17:21] alexkalmuk commented on #1714
But the pattern looks nice :)

[2020-02-27 17:25] shivamanipatil commented on #1714
**struct usb_dev** contains **usb_desc_device** and **usb_desc_interface** and doesn't contain **usb_desc_configuration**. So is it fine if I add **usb_desc_configuration** to **struct usb_dev** for displaying configuration descriptors.

[2020-02-27 19:16] bartekxk commented on #1729
Okay, so I calculate the size based on sb-> st_size. I also added recursive calculation for folders. Can your review it? Thanks.

[2020-02-27 22:09] ThePiGrepper commented on #1718
I see, that's ok then. Let's go with fixing the patching.

I changed the URL to a personal server, where I had 'git archived' the latest commit available(w/o patches). I modified the md5sum as well, just to test that it worked. I did this because I didnt know for sure if the current build scheme supported local file paths.
In any case, using app_diff.sh it build successfully.
- I have a couple of

[2020-02-28 08:04] alexkalmuk commented on #1729
Hm, may be it's related to why your commits are not linked to your Github account. You can see a grey unauthorized icon here - https://github.com/embox/embox/pull/1736/commits/046ea98c6f31f90e321aa4d519f3892738a1e8ab. Probably because of https://stackoverflow.com/questions/26004587/git-commits-are-not-getting-linked-with-my-github-account

[2020-02-28 08:29] alexkalmuk commented on #1718
Can we try to use https://github.com/JuliaMath/openlibm/archive/v0.7.0.tar.gz as an official source? If you will specify this URL in PKG_SOURCES and md5 (you can calculate it once it is loaded), Embox will automatically save this archive in download/. Then during the build the unpacked sources will appear at `build/extbld/third_party/openlibm` (something like this).

We have `embox.test.math.math_

[2020-02-28 08:32] alexkalmuk commented on #1718
I just pointed to the official releases - https://github.com/JuliaMath/openlibm/releases and refer to the latest available one.

[2020-02-28 11:22] alexkalmuk commented on #1709
@ymdatta I merged your contribution, so before to start with the third bullet please rebase on the top of our master.

[2020-02-28 11:29] zhuanyanchengkong commented on #1720
I try to do this work.

[2020-02-28 12:16] anton-bondarev opened #1739 "field st_blocks of stat structure have to been filled by stat()"
field st_blocks of stat structure is not filled by stat() as noticed in #1729.

if a file belongs to some block_dev stat() should fill it with block_dev information. If there are no any block_dev ("initfs" for example) stat() can consider than block_size = 1 byte.

[2020-02-28 12:21] alexkalmuk opened #1740 "Incorrect output of more command on a short file"
[code]

These new lines shouldn't appear on the screen.

[2020-02-28 12:27] anton-bondarev commented on #1569
@HDDCableHD @AntonKozlov Thanks.
I think that the right way to solve the problem is pulling the last version of [linenoise](https://github.com/antirez/linenoise).

@HDDCableHD Are you still working on the issue?

[2020-02-28 12:30] #1231 closed

[2020-02-28 12:44] ymdatta commented on #1709
@alexkalmuk I will be keep that in mind before committing. Thanks.

[2020-02-28 13:47] anton-bondarev commented on #702
@AntonKozlov
I don't agree
[code]
termios a pointer to struct termios (buffer)
TIOCGETA is a request in this case which contains 'buffer ' size
`#define	TIOCGETA	_IOR('t', 1, struct termios)`
`#define _IOR(type, nr, arg)   _IOC(_IOC_READ, type, nr, sizeof(arg))`
so ioctl called with sizeof (struct termios) in second arg and  buffer for struct termios in third arg

[2020-02-28 13:49] anton-bondarev commented on #719
@AntonKozlov Can you please give more details?

[2020-02-28 16:07] layman-n-ish commented on #1717
Hi. In order to print the hierarchy of hardware devices for `lshw`, without the device-tree support, I'm a bit lost. If the hierarchy of the hardware devices is not needed, then, isn't the task just to integrate `lsusb`, `lspci`, etc. in one umbrella utility - `lshw`? Is there any other device configuration I'd have to print in the case of `lshw`? Please do correct me if I'm fundamentally wrong ab

[2020-02-28 18:42] AntonKozlov commented on #719
It was fixed as #1055

[2020-02-28 18:42] #719 closed

[2020-02-28 23:30] ThePiGrepper commented on #1718
ok, done. apparently passes the tests as well on x86/qemu conf. I sent a PR (https://github.com/embox/embox/pull/1742).

[2020-02-29 09:59] Deryugin commented on #1335
A little more details on this issue (as it seems to be a bit more complicated than it seemed before).

This due to `vfork()` implementation. `vfork()` is kind of optimization when you want to do `fork()` just to `execv()` in the child process without actual duplication of all process resources. The first problem raises because we "disconnect" child from the parent too early, before checking that t

[2020-02-29 10:06] #1710 closed

[2020-02-29 10:28] MrSquanchee commented on #1740
Hii, Alex kalmuk.
I would like to work on this issue.
And may you brief me on how to reproduce the bug and which files are the culprit.

[2020-02-29 10:43] anton-bondarev commented on #1740
@MrSquanchee Ok, I've assigned it with you.

It's described in issue
[code]
When you start Embox you see command line and you have to create 'more' command which can be called from the command line.
You should start from our [wiki Quick-Start](https://github.com/embox/embox/wiki/Quick-Start)

[2020-02-29 10:51] anton-bondarev opened #1743 "Poor test suits for posix/time routines"
There are some tests for asctime/mktime/strftime/time routines locate in 'src/test/posix/time' folder but they is very poor. Test for time() for example check only 'time(NULL)' case.

Extend test coverage to suggest some more test cases for the routines.

[2020-02-29 11:26] Ahish9009 commented on #1335
Hi

Thanks for the additional information!

[2020-02-29 11:51] #447 closed

[2020-02-29 11:52] anton-bondarev commented on #701
@AntonKozlov Can you provide more details?
May be it's "good first issue"? :)

[2020-02-29 11:54] #648 closed

[2020-02-29 11:58] anton-bondarev commented on #1653
@nastya-nizharadze As I understand qemu-system-riscv32 with -machine sifive_u version 4.1.0 has wrong address map?

[2020-02-29 12:18] alexkalmuk opened #1745 "math floating point tests"
There are no basic math tests from FP functions in Embox. Let's add something like `src/tests/math/math_test_fp.c` and test for the following functions:

[code]

(it's first several functions from src/compat/libc/math/math_builtins.h)

It's assumed the tests should be very simple, just to make sure the corresponding functions are not stubs and really doing something.

[2020-02-29 12:46] layman-n-ish commented on #1740
Hi, I had looked into this previously; maybe some of my observations could be useful to y'all.

I think the `*** many newlines goes here ***` part is just `curses'` attempt to flush the screen (which is of size [80 * 24](https://github.com/embox/embox/blob/master/src/compat/posix/curses/curses.c#L29) - hence we see 24 `\n` chars) when `initscr()` is called - [here](https://github.com/embox/embox/b

[2020-02-29 13:06] anton-bondarev commented on #1740
@layman-n-ish You are right, but this task is easier a bit :)

To understand the issue you should run embox and try to do
`root@embox:/#cat hosts`
Then you should add a command which just output file content.
After previous steps, you may decide how you can implement required features (it's not necessary to implement full functionality in this task) with curses or not.

[2020-02-29 13:07] MrSquanchee commented on #1740
@layman-n-ish Nope that doesn't solve the problem i.e. It doesn't remove the `*** many newlines goes here ***`.
@anton-bondarev I encountered one more problem during this the EOF of is not getting detected.
I tried using feof() but that function is not yet defined.

[2020-02-29 13:13] MrSquanchee commented on #1740
@anton-bondarev . I saw the code for cat.c . Is implementing `more` like `cat` expected ? Doesn't it defeat the purpose ??

[2020-02-29 13:22] anton-bondarev commented on #1740
Thanks, Can you open a new issue or maybe even implement feof()  yourself?

[2020-02-29 13:24] anton-bondarev commented on #1740
I'm not sure now, but I think you can start from it

[2020-02-29 13:31] #1714 closed

[2020-02-29 13:32] MrSquanchee commented on #1740
@anton-bondarev . I implemented `more` using your method i.e. not using `curses.c`. and It works.
![embox01](https://user-images.githubusercontent.com/53647194/75608472-acd85e00-5b25-11ea-858f-5bc660f91d25.png)
![embox02](https://user-images.githubusercontent.com/53647194/75608475-b5c92f80-5b25-11ea-9a35-eaff0e581a1d.png)

Shall I now proceed implementing it using `curses.c` ??

[2020-02-29 13:39] MrSquanchee opened #1746 "Function feof() is not yet implemented"
The function `feof()` located [here](https://github.com/embox/embox/blob/master/src/compat/libc/stdio/stdio_stubs.c), which is used to detect the EOF (End Of File), is not yet implemented.

[2020-02-29 13:41] anton-bondarev commented on #1717
Yes!
But if you add also hierarchy of the hardware devices, it's be nice!

[2020-02-29 13:49] anton-bondarev commented on #1717
@layman-n-ish You've already finished # 1708 (one "good first issue") please if you want to take more tasks you should select another (not "good first issue"). Unfortunately, It's difficult for us to create a lot of "good first issue", but we must give an opportunity to solve at least one of them to all who want to take part of GSoC.

Can I unassigned you from this issue?

[2020-02-29 14:15] sk2sat commented on #1743
Can I work on this issue?

[2020-02-29 14:29] anton-bondarev opened #1747 "Add tests for ptread_rwlock_"
Add unit tests for routines which has been already implemented
[code]

[2020-02-29 14:45] anton-bondarev commented on #1743
@sk2sat You can, but ...

You've already finished # 1722. Thanks, it's good work.
Please if you want to take more tasks you should select another (not "good first issue"). Unfortunately, It's rather difficult for us to create a lot of "good first issue", but we must give an opportunity to solve at least one of them to all who wants to take part of GSoC.

Shall I assign you with this issue? :)

[2020-02-29 14:58] anton-bondarev opened #1748 "Add some unit test for semaphores"
Add some unit tests for implemented routines from semaphore.h
[code]

[2020-02-29 15:10] layman-n-ish commented on #1717
Apologies, I was not aware of this.

No, I hadn't made much progress. It's only fair for you to unassign me and give others a chance. Sorry, again, if any discomfort was caused.

[2020-02-29 15:14] sk2sat commented on #1743
understood. I will select another task.

[2020-02-29 15:17] anton-bondarev commented on #1717
@layman-n-ish

no problem, thank you! :)

[2020-02-29 15:26] layman-n-ish commented on #1740
@MrSquanchee Huh, that's odd. My output after making the aforementioned changes looks something like this:

![Screenshot from 2020-02-29 20-46-48](https://user-images.githubusercontent.com/33180939/75610202-0dbb6280-5b35-11ea-9f0b-6c001931bc59.png)

I don't mean to deflect your attention but with this approach, notice the first line (80 chars) of every file viewed is not printed (it is being read

[2020-02-29 17:05] zhuanyanchengkong commented on #1720
I added dropbear to embox and checked the running status,
`root@embox://etc/dropbear#service dropbear`
`Service is already running.`
`[5] Jan 0root@embox://etc/d1 01:00:29 Earropbear#ly exit: Failed to daemonize: Address family not supported by protocol family`
Then I used netstat and found the port of 22 was not open, I think maybe this is the reason can't connect the OS via ssh.
I think the firs

[2020-02-29 20:57] rushilkvs commented on #1745
I would like to work on this issue

[2020-02-29 21:00] anton-bondarev commented on #1745
Thanks. I've assigned it with you.

[2020-02-29 22:54] Inokinoki commented on #1748
Could I have a try with this?
Luckily, I've ever written some similar codes in one of my courses which aims at implementing a real-time kernel from scratch :)

[2020-02-29 22:57] Inokinoki commented on #1748
And BTW, isn't it semaphore in general? Or there is another meaning in this context?

[2020-03-01 02:57] zhuanyanchengkong commented on #1720
I  checked the running status of dropbear and found an error :

Starting service: dropbear
Service is already running.
root@embox://etc#[5] Jan 01 00:00:14 Early exit: Failed to daemonize: Address family not supported by protocol family

What does this error mean?

[2020-03-01 08:04] alexkalmuk commented on #1720
I cannot answer your question right now since we run dropbear only with `-F` flag and only from the root directory, so the problem you described probably is some another bug. I would recommend you to start with the reproducing the behavior described in the issue. So we can follow the same the way and try to figure out what's happen.

[2020-03-01 08:26] zhuanyanchengkong commented on #1720
Oh! You reminded me.  I use `service dropbear`  because I found that the operation of Dropbear is abnormal and many commands cannot be used. Now I successfully login using ssh：

[sudo] password for eric:
The authenticity of host '10.0.2.16 (10.0.2.16)' can't be established.
ECDSA key fingerprint is SHA256:NhFfPLTp/88yEc0jtMckNOIZT8EKbS4xsYdG+X2REZM.
Are you sure you want to continue connecting (ye

[2020-03-01 08:29] MrSquanchee commented on #1740
@anton-bondarev .I solved the problem. Thanks to @layman-n-ish for pointing out the replacement of `' '` with `0`   [here](https://github.com/embox/embox/blob/master/src/compat/posix/curses/curses.c#L112). But that was a partial solution as `endwin()` was [called](https://github.com/embox/embox/blob/master/src/cmds/fs/more.c#L31) before the drawing on the screen. and the Implementation of `endwin(

[2020-03-01 08:38] alexkalmuk commented on #1720
It's good! So you can try to exit and reconnect to reproduce the bug then.

Embox is not Linux, so we don't have xinetd. Embox provides only posix compatible layer which makes an application executing in the way similar to Linux. But there may be a number of limitations like with Xinetd.

[2020-03-01 08:50] zhuanyanchengkong commented on #1720
Although I have added `"service dropbear -F"`　in conf / system_start.inc.
But before every time I use ssh service, I still need to use the command of  `dropbear -F` in embox.
Otherwise, I can't connect．

[2020-03-01 09:21] zhuanyanchengkong commented on #1720
I found a more fundamental cause due to the error found in the above operation. There seems to be something wrong with the tish service．So I removed tish  `in conf / system_start.inc`
Then recompile and start to embox, and then found that dropbear successfully appeared in the embox startup service.

runlevel: init level is 2
runlevel: init level is 3
runlevel: init level is 4
Default IO device[tty

[2020-03-01 09:33] alexkalmuk commented on #1720
You can also add `service dropbear -F` before `tish`, without removing the last one.

[2020-03-01 09:40] zhuanyanchengkong commented on #1720
Indeed so，Thanks!

[2020-03-01 13:49] zhuanyanchengkong commented on #1654
I want to try to solve this．

[2020-03-01 13:54] puranjaymohan commented on #1747
Hi!
I want to work on this issue.
Please help me with a few basics about the test system, so it becomes easy for me.
Thanks

[2020-03-01 15:09] yogeshwaranL commented on #1739
Hi, I would like to work on this.

[2020-03-01 16:05] alexkalmuk commented on #1747
Hi,

You can take a look at src/tests, there are many examples here. More specifically, since proposed `pthread_rwlock_*` are posix functions, you can take a look at `src/tests/posix/`.

[2020-03-01 16:37] alexkalmuk commented on #1748
Hi, you should send an email to the mentors first - https://github.com/embox/embox/wiki/Google-Summer-of-Code-2020#introduction

Sorry, I am not sure what do mean when asking about "semaphores in general", but it's posix semaphores, you can read about all of these functions in Linux `man` for example.

[2020-03-01 16:39] alexkalmuk commented on #1654
@zhuanyanchengkong Let's start with working on one single issue. Should I unassign you from https://github.com/embox/embox/issues/1720?

[2020-03-01 17:18] Inokinoki commented on #1748
Thanks for reminding me! I've sent you all an email.

Yes, it was a question about the name semaphore. I was doubting whether there is another meaning because in the description "semafore" is used. (from my point of view, Symphony and Symfony are totally different😄). There is no more question about it if it just means the POSIX semaphore.

[2020-03-01 17:26] ThePiGrepper opened #1749 "add functionality to tish"
I was playing around with tish, and soon realized that it didnt have job control(no biggie), nor piping(I kinda missed that one). So I wondered. would it be useful to add some functionality to tish? not a lot of features of course, I understand keeping it minimal is kinda the point, but maybe a couple of basic features. thoughts?

[2020-03-01 17:33] anton-bondarev commented on #1739
yes!
I assigned the issue with you!

[2020-03-01 17:44] layman-n-ish commented on #1749
Hello. Yes, even I kind of missed pipelining, IO redirection and the most pivotal signal handlers. It'd be fun to add some of these features. Let's wait for others' opinions too!

[2020-03-01 19:00] anton-bondarev commented on #1749
Thanks, I agree. It would very useful

[2020-03-01 19:08] anton-bondarev commented on #1740
@MrSquanchee Ok, maybe. It looks believable. Can you prepare PR for your suggestion?

[2020-03-02 00:26] zhuanyanchengkong commented on #1654
Sorry to bother you, I don't know if I haven't finished issue #1720. I think I should complete issue # 1720 first. You can unassign me from #1654.

[2020-03-02 06:44] anton-bondarev commented on #1654
No, no problem for #1720 . It's really difficult to starting, we wanted to try different type (research)  issue :)

Try to ask @nastya-nizharadze . She ported Embox to RISC-V

[2020-03-02 06:58] AshishBhatti commented on #705
@anton-bondarev
Hi, I am Ashish, a senior undergrad at department of Aerospace Engineering, IIT Kanpur, India.
I have previously worked on Raspberry Pi for a national level competition and robotics projects and thus have a strong background in the same.
I would love to work on this problem as this years GSoC project. Can you please tell me if there is a qualifying task, if there isnt, please guide

[2020-03-02 07:40] anton-bondarev commented on #705
@AshishBhatti
Hi, for take part in Embox GSoC you should follow the instruction [https://github.com/embox/embox/wiki/Google-Summer-of-Code-2020](https://github.com/embox/embox/wiki/Google-Summer-of-Code-2020). Have you already sent emale to any of mentors, if no you should.

[2020-03-02 08:25] #1718 closed

[2020-03-02 08:53] Inokinoki opened #1750 "Incompatible behavior of kernel sempahore with POSIX semaphore"
Up to now, in Embox, the POSIX-compliance API of semaphore are implemented in `src/compat/posix/semaphore.c`:

[code]

These functions call the semaphore implementations in the Embox kernel (`src/kernel/thread/sync/semaphore.c`).

The kernel semaphore module works well at the moment:
- `semaphore_leave()` do a release on a semaphore, and decrement `value` field in a `sem_t` structure.
- `semaphore

[2020-03-02 08:55] Inokinoki commented on #1750
A possible solution is to make an adaptive layer between the two implementations.

[2020-03-02 09:33] alexkalmuk commented on #1729
Thank you! Your contribution was merged.

[2020-03-02 09:33] #1729 closed

[2020-03-02 11:49] alexkalmuk opened #1751 "Extend thread command"
`thread` command shows information about threads:

[code]

Let's add two additional fields - `Task name` and `Stack size`. Expected output:

[code]

[2020-03-02 11:52] alexkalmuk opened #1752 "ls -la /dev/zero failure"
Template: `x86/qemu`

[code]

p.s.
It works for example for /dev/ttyS0:
[code]

[2020-03-02 11:59] Deryugin opened #1754 "Multiple arguments for `cat` command"
Looks like `cat` command simply prints content of the last argument (i.e. ignoring all the other arguments).

What do we have now:
[code]

What do we need:
[code]

This can be tested on `x86/qemu` or `arm/qemu` templates.

[2020-03-02 12:00] alexkalmuk commented on #1723
Fixed by https://github.com/embox/embox/pull/1741

[2020-03-02 12:00] #1723 closed

[2020-03-02 12:05] Deryugin opened #1755 "Multiple arguments for `ls` command"
Looks like `ls` uses only first non-option argument, so it should be fixed to accept more files as arguments.

Now it works like this:
[code]

How is it expected to work:
[code]

This can be tested on `x86/qemu` or `arm/qemu` templates.

[2020-03-02 12:48] MrSquanchee commented on #1685
@Deryugin , I would like to be assigned to work on this issue and implement the `strptime()` function.

[2020-03-02 12:57] Deryugin opened #1758 "Extend `cpuinfo` command output"
This command is supposed to be somewhat like `lscpu` in GNU/Linux systems, which prints various information about CPU (number of cores, CPU family, cache size and so on).

Currently `cpuinfo` works on x86 platform (can be checked with `x86/qemu` template) and prints just vendor ID and time stamp counter value.

[code]

It would be nice to extend this info (for example, add CPU frequency and availa

[2020-03-02 13:10] subhojit-ghorai commented on #1644
Hi! Can I work on this issue? I have been doing research on this issue.

[2020-03-02 13:32] Deryugin commented on #1748
@Inokinoki yes, that was a typo. We are talking about POSIX semaphores here.

[2020-03-02 14:01] Deryugin commented on #1750
@Inokinoki thank you for detailed description!

You're making a valid point.

As far as I can see, the only problem here is the actual `value` and other than that everything is fine (i.e. if you call `sem_init(s, N)` then this semaphore can be locked N times and `sem_post()`/`sem_wait()` work as expected).

I think it can be fixed just by changing `sem_getvalue()` (are there any other ways to tell

[2020-03-02 14:15] Deryugin commented on #1644
Hi,
Sure!

[2020-03-02 14:50] Inokinoki commented on #1750
Yes, I did it in a small patch: https://gist.github.com/Inokinoki/da97fde29985355eca799ec5be1afd3b

It works well with `sem_wait` (value++)!

But the `value` field may be less than 0, because there is no detection of value 0 in the calling chain `sem_post()`->`sempahore_leave()`. Otherwise, are there some lines which can prevent from it?

[code]

The code is in [semaphore.c Line85](https://github.

[2020-03-02 14:52] Deryugin commented on #1685
@MrSquanchee I'm sorry, one of the developers is already working on it at the moment.
P.S. Let's finish #1740 at first.

[2020-03-02 16:11] ThePiGrepper opened #1761 "POSIX compliance"
I've been trying to port a third-party software to embox and I've been finding the many workarounds other third-party ports had to go through for them to be able to overcome the lack of some POSIX functionality.
It'd be interesting to have a conversation regarding full POSIX compliance and what would take to get there. maybe starting with a TODO list to see how is the level of compliance right now

[2020-03-02 17:31] puranjaymohan commented on #1747
Hi!
I was trying to build the test and while running the make command I get the following error while linking "undefined reference to `pthread_rwlock_init'"
also, I think the PTHREAD_RWLOCK_INITIALIZER macro is also not implemented.
Please help me with solving this issue.
Thanks

[2020-03-02 21:52] sobhaniiest commented on #1754
Hi, I would like to work on this.

[2020-03-03 01:32] pdzhu commented on #1755
I have solved it，but I don't think my code is very elegant. Later, I'll PR.

[2020-03-03 01:51] zhuanyanchengkong commented on #1654
OK, thank you, I understand. I also spend some time using GBD, tracking error messages, and trying to locate error codes.

[2020-03-03 06:11] anton-bondarev commented on #1654
@zhuanyanchengkong Ok.
 But In my mind the problem can be solve in different way:)

[2020-03-03 06:12] anton-bondarev commented on #1755
Ok

[2020-03-03 07:41] alexkalmuk commented on #1754
Hi, ok, I assigned you.

[2020-03-03 09:36] puranjaymohan commented on #1747
Hi I tried writing the tests for these APIs, but when I try the following line of code

`pthread_rwlock_t rw;`
`test_assert_zero(pthread_rwlock_init(&rw, NULL));`
`test_assert_zero(pthread_rwlock_rdlock(&rw));`
`test_assert_equal(-EBUSY, pthread_rwlock_trywrlock(&rw));`

I get the following error while testing using qemu.

`test: running embox.test.posix.pthread.pthread_rwlock
	failure at src/test

[2020-03-03 10:32] anton-bondarev commented on #1747
Hi, I think You should try gdb for debugging.
It's described in README [https://github.com/embox/embox#debugging](https://github.com/embox/embox#debugging)

[2020-03-03 10:44] shivamanipatil commented on #1751
Hey, I would like to work on this.

[2020-03-03 10:50] MrSquanchee commented on #997
Hii @alexkalmuk I would like to work on this issue.

[2020-03-03 11:28] alexkalmuk commented on #1751
@shivamanipatil As far as I can see you already completed https://github.com/embox/embox/issues/1714. So can I ask to choose issues without the "good first issue" label? (I think new issues will be created soon).

[2020-03-03 11:35] ymdatta commented on #1709
@alexkalmuk : For third option, do we need to take how many blocks to read/write in a single iteration as a command line option from the user? or do we fix the number of multiple blocks?

[2020-03-03 11:56] sobhaniiest commented on #1754
Please have a look.

[2020-03-03 12:05] alexkalmuk commented on #997
Hi, well, you can get a try.

[2020-03-03 12:08] alexkalmuk commented on #997
I'd suggest you first to check whether these functions are not implemented yet.

[2020-03-03 12:43] Deryugin opened #1767 "Implementing EPIT driver"
EPIT (Enhanced Periodic Interrupt Timer) is a timer used in various i.MX boards.

This timer is emulated with QEMU 4.2.0 `sabrelite` machine, which works with `arm/sabrelite` template.

[code]

Technical details (register definition and so on) can be found in [i.MX 6Dual/6Quad Applications Processor Reference Manual](https://www.nxp.com/products/processors-and-microcontrollers/arm-processors/i.mx-

[2020-03-03 13:20] puranjaymohan commented on #1747
Hi Anton,
I have found the issue, the function `pthread_rwlock_trywrlock()` and `pthread_rwlock_tryrdlock()` should return `EBUSY` when they try to lock an already locked rwlock, but here these are returning `-ENOSYS`, which means, "function not implemented". So should I leave these functions and write tests for the remaining five functions?

[2020-03-03 13:23] zhuanyanchengkong commented on #1654
I am so sorry. I may have to abandon this issue because we delayed school due to pneumonia and there is no risc-v board at home.

[2020-03-03 13:46] Deryugin opened #1768 "Audio issues with auto_qemu script"
For some reasons qemu fails to use alsa for audio output when run with sudo.

However, we need sudo privileges to configure network, so we need to find out the way to have both network in audio with `auto_qemu` script.

## How to reproduce
1. `make confload-x86/qemu`
2. Add following lines to conf/mods.config
[code]
3. Add some WAV file to `conf/rootfs/` directory.
4. Run `./scripts/qemu/auto_qemu

[2020-03-03 13:57] Deryugin opened #1769 "Implementing sp804 driver"
sp804 is a timer module which is used in various ARM boards.
Technical reference manual can be found [here](http://infocenter.arm.com/help/topic/com.arm.doc.ddi0271d/DDI0271.pdf).

It's emulated for qemu vexpress machine, which is already supported (`arm/vexpress-a9` template), so it's required to implement a driver for this timer.

[code]

[2020-03-03 14:38] alexkalmuk commented on #997
So it looks like we should implement these three functions.

[2020-03-03 14:46] #1755 closed

[2020-03-03 15:17] anton-bondarev opened #1771 "Implement some pthread_rwkock_xxx routines"
There are not implemented routines return -ENOSYS
[code]

[2020-03-03 15:51] anton-bondarev commented on #1654
@zhuanyanchengkong
Try to get  `info mtree` in qemu control console :)

[2020-03-03 16:15] zhuanyanchengkong commented on #1654
Ok!

[2020-03-03 18:29] shivamanipatil commented on #1768
Hey, I did not get any errors while performing the first 4 steps and then playing a .wav file. I have attached some screenshots. I am using **Debian 9** and qemu version - **1:2.8+dfsg-6+deb9u9**.
![Screenshot from 2020-03-03 23-53-43](https://user-images.githubusercontent.com/43640923/75807092-d0600a80-5daa-11ea-9d79-31fa3110824b.png)
![Screenshot from 2020-03-03 23-53-35](https://user-images.git

[2020-03-03 21:38] layman-n-ish commented on #1647
Hello! I tried reproducing this bug on `arm/qemu` template by appending `"ls /dev/ttyS0",` (~500 times!) to `system_start.inc`, as suggested, although I don't see any signs of `ls` stalling. Was the bug fixed already?

[2020-03-03 23:14] layman-n-ish commented on #1769
Hello! I see that LKDDb (Linux Kernel Driver DataBase) has [support for SP804](https://cateee.net/lkddb/web-lkddb/ARM_TIMER_SP804.html). May I take that as a reference and give an attempt at the implementation? Is there any other starting point you'd suggest?

[2020-03-03 23:42] ThePiGrepper opened #1774 "questions regarding Mybuild syntax"
a few questions regarding Mybuild: what do these do?
- static module <name> vs module <name> ?
- @DefaultImpl(module_name) (does this force module_name to be added to the build? what would happen if module_name didnt extend an abstract module, if it were a regular module?
- @NoRuntime depends
- @App
- @InitFS
- is the order in which modules are declared on mods.config of any relevance? if so, some

[2020-03-04 07:46] Deryugin commented on #1730
This issue is unassigned now, so feel free to pick this task.

[2020-03-04 08:57] ThePiGrepper commented on #1774
I'll start replying and filling the information as I'm getting to know the system. Maybe someone else will find this useful.
- Static modules are static libraries, they are just linked to the embox image. modules are object files which can be also initialized at run time.
- @Runlevel(num): It gives a recommendation to the build system for it to build the module in a certain order.
- @BuildDepends:

[2020-03-04 09:04] alexkalmuk commented on #1774
Not `build`, but `initialize` at run time.

[2020-03-04 09:10] anton-bondarev commented on #1647
What your qemu version?

[2020-03-04 09:23] anton-bondarev commented on #1769
Yes, I've assigned the issue with you

[2020-03-04 09:40] ThePiGrepper commented on #1774
oops. sorry. fixed

[2020-03-04 10:31] layman-n-ish commented on #1647
[code]

[2020-03-04 11:17] anton-bondarev commented on #1647
I also have not been able to reproduced the problem.
@Deryugin How many lines with `"ls /dev/ttyS0",` should be added?

[2020-03-04 11:19] #661 closed

[2020-03-04 11:20] #712 closed

[2020-03-04 11:21] anton-bondarev commented on #912
@Deryugin May be close this?

[2020-03-04 11:23] anton-bondarev commented on #702
@AntonKozlov May be close this?

[2020-03-04 11:39] MrSquanchee commented on #1740
@alexkalmuk . Can we close this issue now ????

[2020-03-04 11:43] MrSquanchee commented on #997
@alexkalmuk . I am a lil bit stuck here. I want to know whether the `stdio` file functions implement an error field in the `flags` variable of file_struct or not or the error resolution is solely done with `errno` variable. If not I would like to change the code of all the file IO functions a lil bit to accommodate for a file error field and the `EOF` field in the `flags` variable.
Am I thinking i

[2020-03-04 11:45] MrSquanchee commented on #997
As far as I have seen this seems to be the most obvious implementation.

[2020-03-04 12:54] anton-bondarev opened #1778 "Wrong time in initfs"
stat returns the default value(0) always for initfs
[code]
times can be saved during initfs creating

[2020-03-04 13:28] alexkalmuk commented on #1740
@MrSquanchee Sure, but if you would link this issues to your PR then it will be closed automatically - https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue

[2020-03-04 13:28] #1740 closed

[2020-03-04 13:35] alexkalmuk commented on #997
You can probably start with tests for these functions, and check how they work on Linux first. So after that, we will have a bunch of tests and will think about how to implements this in Embox.

[2020-03-04 14:00] ThePiGrepper commented on #1778
I assume Modify was set during the initfs creation. What exactly would be the issue? Not updating then, or not updating after, let's say, a touch(access and modification) or cat(access)?

[2020-03-04 15:26] Deryugin commented on #1709
@ymdatta I think that best way is to provide option to specify number of multiple block and have some default value so we don't require user to specify it every time. Exact default value doesn't matter, say 4 or 8 or 32 blocks (but make sure it's a sane value which would fit regular block devices).

[2020-03-04 15:34] Deryugin commented on #1647
~50 calls were enough to fail.

Now I can't reproduce it too, so I close this issue.

[code]

[2020-03-04 15:34] #1647 closed

[2020-03-04 15:46] Deryugin commented on #912
@anton-bondarev sure, if we decide not to fix it.

[2020-03-04 15:53] Deryugin commented on #1768
@shivamanipatil can you try it with newer qemu, like 4.0+? I guess that will help to find out if it's caused by qemu or Linux sound system.

[2020-03-05 01:49] checker5965 commented on #1758
@Deryugin Hi, I'm interested in taking this issue up. Could you please assign it to me?

[2020-03-05 07:12] El-Mohamed commented on #724
Hi, I would try to work on this.

[2020-03-05 07:25] El-Mohamed commented on #1730
tell me more I can't understand

[2020-03-05 07:47] #1754 closed

[2020-03-05 08:22] Deryugin commented on #1758
@checker5965 sure!

[2020-03-05 08:38] alexkalmuk commented on #1750
@Inokinoki Thank you for this temporary fix!

Let's discuss also whether we should change the embox's internal semaphores due to POSIX. I think it would be more expected behavior.

[2020-03-05 08:52] alexkalmuk commented on #1709
@ymdatta I am agree with @Deryugin, let's add an option.

[2020-03-05 08:56] alexkalmuk commented on #1769
@layman-n-ish You can also take a look at our src/drivers/clock, most of them are quite simple.

[2020-03-05 09:03] MrSquanchee commented on #997
I propose following changes and want your advise ....
1. I want to add following lines in file_struct.h or stdio.h (I really don't know)
`#define _IO_EOF_SEEN          0x0010`
`#define _IO_ERR_SEEN          0x0020`
To check for the EOF for `feof()` and ERR for `ferror()` and later clear them from `file->flags` in `clearerr()`.

2. I want to add error handling in [fflush.c](https://github.com/embox

[2020-03-05 10:38] anton-bondarev commented on #1778
In my mind. initfs should be kept read only and so couldn't be modify by cat or touch. So I mean that access and change times (now zero) can be set when initfs image is creating. And in runtime we can get it time

[2020-03-05 10:43] anton-bondarev commented on #1778
I prefer POSIX-compliant behaviour (strictatime), but it applies not read-only file systems (not initfs), may be FAT on usb or hd. but it the different task, I think

[2020-03-05 11:36] alexkalmuk commented on #997
@MrSquanchee Let's start with feof and clearerr which clears only EOF flag :)

[2020-03-05 11:43] alexkalmuk commented on #997
As I understand `feof` should return whether EOF flag is already set. How it can be tested? ILet's consider a simple regular file with one symbol - `a`.

[code]

What do you think?

[2020-03-05 11:51] alexkalmuk commented on #997
btw I think the changes you proposed may be good, but I would suggest to verify this only for `read`, without changing fflush, fseek, etc.

[2020-03-05 11:52] MrSquanchee commented on #997
Roger that ..... :)

[2020-03-05 12:17] ThePiGrepper commented on #1569
hi. is there still interest in upgrading linenoise to its latest version? I could do it if you like.

[2020-03-05 12:19] MrSquanchee commented on #997
I implemented all the functions and flags and put the flags in `file_struct.h`.
I don't know where to put this test file and how to run the test.
Would you describe the process a lil bit to me ??
I am a noobie when it comes to testing, so please bear with me.

[2020-03-05 12:30] ameetsaahu commented on #1751
Hey, can you assign this to me.
I would like to work on this.

[2020-03-05 12:36] alexkalmuk commented on #1751
Yes, I assigned you.

[2020-03-05 12:42] anton-bondarev commented on #1569
Yes, we still interest in the latest version.

Be careful. it 's not usual a third-party application. It's placed directlyin Embox sources [https://github.com/embox/embox/tree/master/src/lib/readline](https://github.com/embox/embox/tree/master/src/lib/readline)

[2020-03-05 12:42] AntonKozlov commented on #1569
I don't think upgrade is correct way to solve the issue.

The issue narrowed down till a single (our) commit changing linenoise behavior. It's possible to just revert one commit and consider this is resolved.

I don't understand at all why don't take this path. The suggestion to upgrade will revert all changes without considering each and bring new linenoise for no reason. Have anyone tested it?

[2020-03-05 12:47] anton-bondarev commented on #1569
@ThePiGrepper @AntonKozlov  We need time for discuss and investigate this issue

[2020-03-05 13:41] alexkalmuk opened #1781 "Add USB test"
There are OHCI and EHCI support for USB, which currently verified by hands as described here - https://github.com/embox/embox/wiki/Using-USB-on-qemu

How we can automate this to add the corresponding test?

* Running `block_dev_test` on a USB flash drive would be enough (maybe through scripts/expect). The advantage of using `block_dev_test` is that we can easily run it on any device, not only qemu

[2020-03-05 15:21] anton-bondarev commented on #1654
Did you reproduced the problem?
You should run Embox on  qemu-system-riscv32 different version (4.1 and 4.2) and compare `info mem` in them

[2020-03-05 15:33] zhuanyanchengkong commented on #1654
Sry. I am still solving this compilation problem.

 CONFIGLINK
 BUILDMODEL
 BUILDGEN build
cp -r -T src/lib/debug/whereami.h build/base/include/debug/whereami.h
cp -r -T src/mem/vmem/vmem_nommu.h build/base/include/mem/vmem.h
cp -r -T src/drivers/diag/diag.h build/base/include/drivers/diag.h
cp -r -T src/compat/libc/math/math_builtins.h build/base/include//math.h
cp -r -T src/util/log.h build/base

[2020-03-05 15:44] zhuanyanchengkong commented on #1654
`make[4]: riscv64-unknown-elf-gcc: Command not found`
In my terminal I can use this command: ` riscv64-unknown-elf-gcc` and I can found it in $PATH. But It still not found when I build embox.

[2020-03-05 16:01] puranjaymohan commented on #1767
I would like to work on this.
Please tell me how to get started with the drivers in embox.
Thanks

[2020-03-05 16:08] anton-bondarev commented on #1654
@zhuanyanchengkong
what output from
```riscv64-unknown-elf-gcc --version```

[2020-03-05 16:11] anton-bondarev commented on #1767
You can use [pl031](https://github.com/embox/embox/tree/master/src/drivers/clock/pl031 ) as an example

[2020-03-05 16:18] zhuanyanchengkong commented on #1654
Copyright (C) 2019 Free Software Foundation, Inc.
This is free software; see the source for copying conditions. There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR `PURPOSE`

[2020-03-05 16:27] zhuanyanchengkong commented on #1654
Maybe the compilation chain is not installed properly. I am recompiling riscv-unknow-elf-gcc.

[2020-03-05 16:44] ymdatta commented on #1709
@Deryugin , @alexkalmuk : Sure, i will do that.

[2020-03-05 16:53] sobhaniiest commented on #1643
Hi, I would like to work on this.

[2020-03-05 17:29] anton-bondarev commented on #1654
have you  riscv-unknow-elf-gcc not riscv64-unknown-elf-gcc?
You can just change CROSS_COMPILER in conf/build.conf

[2020-03-05 20:37] ameetsaahu commented on #1751
Hey @alexkalmuk I have added Task name, but I am confused about how to get this Stack size done.
Please help me with this.

[2020-03-05 21:04] ameetsaahu commented on #1751
Should I make use of pthread.h?

[2020-03-05 21:35] AntonKozlov opened #1785 "Interactive ping test false positive result"
1. Interactive ping test false positive result

https://github.com/AntonKozlov/embox/runs/488694733?check_suite_focus=true#step:6:208
When ping fails it reports something like
[code]
Now interactive ping test assumes success if `0 errors` string is found in ping output https://github.com/embox/embox/blob/master/scripts/expect/ping.exp#L22

The test passes when ping fails.

2. (related but differen

[2020-03-05 21:36] checker5965 commented on #1758
@Deryugin The CPUID instruction is returning incorrect (0) values in the registers for some cases. Do you have some suggestions?

Here is my code to get the frequency -

`static void set_cpu_freq(struct cpu_info *info) {
	uint32_t reg[2]; /* registers: eax, ebx */

	asm volatile (	"movl $0x16, %%eax   \n\t"
					"cpuid				\n\t"
					"movl %%eax, %0		\n\t"
					"movl %%ebx, %1		\n\t"
					: "=g"(re

[2020-03-05 21:59] checker5965 commented on #1758
@Deryugin I've solved this issue but it is untested - my processor does not support the leaf for frequency. As of now, I have written the code for base frequency, max frequency, FPU, MMX, and SSE. Should I add anything else?

[2020-03-06 00:44] checker5965 commented on #1730
@Deryugin @anton-bondarev Hi, I've added functionality for ELF, PNG, and GIF files. Can you assign this issue to me so that I can create a PR?

I can also try to implement HTML/XML/SVG functionality.

[2020-03-06 00:51] zhuanyanchengkong commented on #1654
Ok, I understand． @anton-bondarev

[2020-03-06 00:57] checker5965 commented on #1785
@AntonKozlov What if we change the test case to also look for "0 received"? If ping fails we won't be receiving any packets.

[2020-03-06 05:45] AntonKozlov commented on #1785
I haven't thought carefully enough at the issue. It should be a robust regex, I may suggest taking a full line `4 packets transmitted, 0 received, +0 errors, 100% packet loss`. But I haven't thought much about it

Another option is to consider return value. It's less error-prone and it allows noninteractive tests

[2020-03-06 06:48] worldinmyfist commented on #1702
Hey
I went through the code and did not find any possible errors except in execv() function
Thus if issue #1335 is resolved, this issue should be solved.
I want you to assign me other issue so that I can work on that .
Thank you

[2020-03-06 06:53] worldinmyfist commented on #1702
The command kill(parent, KILLSIG) runs when execv() fails. When this happens, service_add() will not get executed, and thus will not be added to the service list. Thus one of the solutions can be execv() returning to previous running environment after failing. Thus if #1335 is solved this issue should be solved.

[2020-03-06 08:04] alexkalmuk commented on #1785
No, even one non-replied packet should be considered like a failure (`75% packet loss` should be a failure too). I think `4 packets transmitted, 4 received` would be better.

Anyway, interactive tests aim to test command's _output_, not only command result, so I am agree ping is not the case.

As far as I can see we already have ping tests in `templates/x86/test/net/start_script.inc`:
[code]
so we

[2020-03-06 08:29] alexkalmuk commented on #1751
You can try to use `thread_stack_get_size`

[2020-03-06 08:53] AntonKozlov commented on #1785
Damn, I copy-pasted wrong line. 100% agree, need to match "all replies received".
Although, it doesn't tolerate to network errors, and even "one reply recieved" may be success in unstable networks -- but I don't think this is our case with `google.com`

They are simple and easy to check by eye, they supposed to provide basic sense that network is usable.
But if these fail (for some reason), embox

[2020-03-06 09:04] alexkalmuk commented on #1785
If it would happen because google.com do not response, we can either re-launch test or fix google.com to another url, or just get rid of this idea at all. But if we would allow embox to receive only one of four ICMP replies and treat this like success than accidentally we will mask possible network bugs in embox. I mean what if it is a bug inside embox, not the network instability?

Ah, then ok, w

[2020-03-06 09:07] Deryugin commented on #1758
@checker5965 it's fine for the first issue :) I'll write some comments for your PR.

[2020-03-06 09:43] nastya-nizharadze commented on #1653
In qemu version 4.1.0 for the sifive_u machine, the uart address was not the same as that specified in the documentation of the machine emulated by it. In qemu version 4.2.0, this issue has been fixed. After fixing this address in embox, another problem became clear: in qemu 4.2.0 for the sifive_u machine, smp cpus = 2 and it is impossible to do less, but I did not handle this situation, due to wh

[2020-03-06 09:46] AntonKozlov commented on #1785
I don't want to write this kind of tests in start_script :)

I perceived this as functional test: we can resolve the name, handle gateway, send request, and get reply.

You are talking about different type of testing (reliability?). It should be performed against 99.(9)% reliable peer -- the host itself.
I don't feel enough confidence after receiving 1 vs 4 replies from google.com

There are two p

[2020-03-06 10:34] alexkalmuk commented on #1785
I don't feel enough confidence after receiving 1 vs 4 replies from google.com

I do not say 1 vs 4 replies, I just want to make sure it will be _all_ replies, not 1 or 3, or 42. It could be only 1 ICMP packet to send somewhere to check this, I agree, but it should be stable (1 send, 1 received on every launch).

It's another issue I guess, `scripts/autotest` is just an experimental version which i

[2020-03-06 10:54] alexkalmuk commented on #1785
I am already not sure what we are discussing :)

1. How we can check ping works (from embox)?
As I understand you do not want to use google.com. So what do you propose? To create a local network with QEMUs or something else?
2. How to write a test for that
As far as I can see you proposed to fix current ping.exp or am I missed something?

[2020-03-06 12:15] zhuanyanchengkong commented on #1654
@alexkalmuk Hi,  @alexkalmuk  When I use the command `sudo ./scripts/qemu/auto_qemu `, I cannot enter embox.

AUTOQEMU_ARCH: riscv (guessed)
AUTOQEMU_MEM: 512 (guessed)
AUTOQEMU_NICS: (guessed)
AUTOQEMU_NICS_CONFIG: (got)
AUTOQEMU_AUDIO: (guessed)
AUTOQEMU_AUDIO_CONFIG: (got)
AUTOQEMU_USB: (guessed)
AUTOQEMU_USB_CONFIG: (got)
AUTOQEMU_GRAPHIC: (guessed)
AUTOQEMU_GRAPHIC_CONFIG: (got)
AUTOQEMU_DIAG

[2020-03-06 12:19] alexkalmuk commented on #1654
Hi @zhuanyanchengkong, please follow the instruction from the issue description, there is no `auto_qemu` there

[2020-03-06 12:22] zhuanyanchengkong commented on #1654
Yes,  I have tried both ways．

Embox kernel start
runlevel: init level is 0
runlevel: init level is 1
	unit: initializing embox.kernel.task.task_resource: done
	unit: initializing embox.driver.interrupt.riscv_intc: done
	unit: initializing embox.kernel.task.kernel_task: done
	unit: initializing embox.arch.riscv.kernel.interrupt: done
	unit: initializing embox.kernel.sched.sched: done
	unit: initia

[2020-03-06 12:35] alexkalmuk commented on #1654
I run it as following:

[code]

Can you please tell `qemu-system-riscv32 --version`

[2020-03-06 12:37] zhuanyanchengkong commented on #1654
[sudo] password for eric:
QEMU emulator version 4.0.50 (v4.0.0-1854-g57dfc2c4d5-dirty)
Copyright (c) 2003-2019 Fabrice Bellard and the QEMU Project developers

[2020-03-06 12:42] #1653 closed

[2020-03-06 13:12] alexkalmuk commented on #1785
@AntonKozlov I mean if you stuck a bit on Github Actions with `ping google.com` you can just disable it, and we can use it only on Travis.

So one of the possible solutions is to fix ping.exp so it would correctly check whether one single ICMP packet was successfully transmitted and reply received from 8.8.8.8. Also, we can use an environment variable for this IP address, as you suggested before.

[2020-03-06 13:28] alexkalmuk commented on #1654
And template is `riscv/qemu-sifive-u`? You didn't not modify it?

[code]

It looks like embox is running. Do you type something in Embox's shell?

[2020-03-06 13:32] zhuanyanchengkong commented on #1654
No, I can't do anything.

[2020-03-06 13:34] puranjaymohan commented on #1767
@anton-bondarev Hi,
How to test the driver, I have built the arm/sabrelite machine, but how should I include the driver and test it.
Thanks

[2020-03-06 13:41] alexkalmuk commented on #1654
Well, it could be happened probably due to some qemu bugs because RISC-V is a relatively recently added to qemu. So maybe versions under 4.2.0 can accidentally suffer from drawbacks... This issue also is not reproducible anymore.

@zhuanyanchengkong Are you interested to continue with RISC-V? If so we can propose you another simple task, but already under qemu 4.2.0 (so you have to install qemu 4.

[2020-03-06 13:48] zhuanyanchengkong commented on #1654
@alexkalmuk OK, I'll try again, if it doesn't work, I will consider other issues．

[2020-03-06 14:22] AntonKozlov commented on #1785
This is impossible in networks in general. Intermediate nodes are dying. Servers overloaded with other requests.
But getting <100% replies from google.com for requests sent with 1 sec interval is such rare, that I'm fine to consider it functional test.

This is definitely out of scope of 1) ping expect test doesn't test anything 2) there are two expect tests for ping, ntpdate, probably more

I _su

[2020-03-06 14:24] alexkalmuk opened #1791 "risc-v: Slow time"
template: riscv/qemu-sifive-u
qemu: 4.2.0

[code]

Then add `include embox.cmd.testing.ticker` to conf/mods.config and do `make`.

[code]

You can now see how slow ticker works.

[2020-03-06 14:27] alexkalmuk commented on #1654
@zhuanyanchengkong Great! Please take a look at https://github.com/embox/embox/issues/1791, it is almost the same (same template), but you have to install qemu 4.2.0 first.

[2020-03-06 14:29] zhuanyanchengkong commented on #1654
Ok!

---Original---
From: "Alex Kalmuk"<notifications@github.com&gt;
Date: 2020/3/2 00:39:39
To: "embox/embox"<embox@noreply.github.com&gt;;
Cc: "Eric"<550073777@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject: Re: [embox/embox] risc-v version command wrong output (#1654)

@zhuanyanchengkong Let's start with working on one single issue. Should I unassign you from #1720?

—
You are rec

[2020-03-06 14:40] alexkalmuk commented on #1785
But getting <100% replies from google.com for requests sent with 1 sec interval is such rare, that I'm fine to consider it functional test.

I understand that, and that's why you cannot provide 100% stable tests at all!

[2020-03-06 14:41] alexkalmuk commented on #1785
And no matter network or something else

[2020-03-06 14:43] alexkalmuk commented on #1785
I don't need the variable right now. Without this issue fixed expect tests may ping even my home router and I still would be fine (my router doesn't respond for pings :))

Ok, I will try to fix the test, and that's all fotr the issue.

[2020-03-06 15:26] alexkalmuk commented on #1785
@AntonKozlov Thank you a lot for the report! I would be also glad if you review https://github.com/embox/embox/pull/1793

[2020-03-06 15:42] #1758 closed

[2020-03-06 15:46] alexkalmuk commented on #1791
@zhuanyanchengkong Please let's know if you will start solving this issue :)

[2020-03-06 17:01] alexkalmuk opened #1796 "Build failed under WSL (Windows Subsystem for Linux)"
Template: `x86/qemu`

At the end of the configuration stage you will get SegFault.

[code]

As it was figured out it happens because WSL doesn't allow to set stack size more than 8192 - https://github.com/microsoft/WSL/issues/633 and `ulimit -s 16384` failed.

_How we can solve this?_

* Investigate why build system requires so large stack size (> 8192 Kb = 8 Mb) and fix it.
* Just ignore it and w

[2020-03-06 20:26] Dawody commented on #1752
Hi,
This issue seems interesting
Can you please assign this issue to me?

[2020-03-06 22:47] yogeshwaranL commented on #1739
I see that kfile_fill_stat() gets the file information from the inode. But inode doesn't have the information about block size, also in the definition of stat structure is given st_blocks as no. of 512B blocks. So can I divide the file size by 512 and round up to set the no. of blocks? And how do I get access to block size of a device if I need to get block size from the particular block device?

[2020-03-07 00:44] zhuanyanchengkong commented on #1791
OK,Thanks, I started to resolve this issue.

[2020-03-07 05:37] layman-n-ish commented on #1769
Hi! SP804 is a **dual-timer** module; I see no other way than initialising two distinct `clock_source` devices for each timer because each timer would have its own `TARGET_HZ`, `IRQ` line, `read()` function etc. Am I right?

[2020-03-07 10:19] rushilkvs commented on #1781
Hi, This looks interesting. I would like to work this.

[2020-03-07 17:16] #1785 closed

[2020-03-07 18:09] alexkalmuk opened #1799 "x86 ACPI build is broken"
Template: `x86/qemu`

Add module `include embox.arch.x86.kernel.acpi_shutdown` to the mods.config, then `make`.

[code]

ACPI is required to make `shutdown -p` to work.

[2020-03-07 18:11] alexkalmuk commented on #1799
It looks like embox.arch.x86.kernel.acpi_shutdown needs BuildDepends on third_party.lib.acpica at least.

[2020-03-07 18:22] alexkalmuk commented on #1781
Yes, you can get a try, but this particular issue is more related to shell scripts like scripts/continuous/, and expect - scripts/expect I think. But if you are interested in this then well.

[2020-03-07 18:24] alexkalmuk commented on #1769
Hm, I am not sure, but couldn't we use only one of these internal timers?

[2020-03-08 08:43] alexkalmuk commented on #1781
I was thinking a bit about that and probably one of the simplest solutions is just to run qemu with usb flash drive and add block_dev_test into the start script.

[2020-03-08 09:42] AntonKozlov commented on #702
Agree, I was under misconception that ioctl system is capable to pass values via parameters. After looking closer, pointers are everywhere and everything looks consistent

[2020-03-08 09:42] #702 closed

[2020-03-08 09:51] AntonKozlov commented on #701
There are two RNGs:
`rand` in src/compat/libc/stdlib/rand.c provides worse numbers, not bigger than 204814687 == 0xc35395f.
`random` in src/compat/libc/stdlib/random.c is GPLed. Apparently it was taken from BSD some time.

[2020-03-08 10:43] alexkalmuk commented on #1791
@zhuanyanchengkong Update your fork please from the embox upstream, there were fixes related to risc-v qemu 4.2.0.

[2020-03-08 10:44] zhuanyanchengkong commented on #1791
Ok

[2020-03-08 10:53] alexkalmuk commented on #1752
@Dawody Ah, sorry for the delayed reply. Yes, I assigned you.

[2020-03-08 11:08] zhuanyanchengkong commented on #1791
I have entered embox and reproduced the problem.

[2020-03-08 11:21] alexkalmuk commented on #1791
Great! So now you can examine why this slowdown happens.

[2020-03-08 12:12] alexkalmuk commented on #1739
May `512` to be Linux specific? When I refer to https://pubs.opengroup.org/onlinepubs/007908775/xsh/sysstat.h.html I see
[code]

You can find this here - src/drivers/block_dev/

[2020-03-08 12:17] alexkalmuk commented on #1730
@checker5965 Hi! As far as I can see you already finished https://github.com/embox/embox/issues/1758. Let's leave this issue for other students :)

We do not require to solve more than one good first issue, but if you want you a free to choose any which is not labeled with "good first issue".

[2020-03-08 12:21] alexkalmuk commented on #1730
By the way, if you already implemented ELF and PNG, you can create PR for these two only, but let's leave other formats for students, please.

[2020-03-08 13:24] Dawody commented on #1752
Than you,
- The problem is  this function _get_cdev_tab()_ returns a single element (first element) of devtab struct in _src/drivers/char/char_dev.c_
[code]
- We can not Iterate on this single element devfs_lookup() in _src/fs/driver/devfs/devfs_oldfs.c_
[code]
- I fixed the issue by adding a condition to the for loop to be like
`	for (i = 0; i < MAX_BDEV_QUANTITY && bdevs[i]; i++) {
`
- This may

[2020-03-08 19:00] sobhaniiest commented on #1645
Hi, I am interested to work on the issue [npf porting #1643](https://github.com/embox/embox/issues/1643) as this one is the required changes for #1643, I have done some study about how pthread_barrier functions are implemented in pthreads-win32, QNX and Glibc. Could anyone please assign me this issue? And is there any module that fetch and add or subtract a variable atomically in embox?
Thanks :)

[2020-03-08 22:23] subhojit-ghorai commented on #1771
Hi! Can I work on this issue?

[2020-03-08 23:50] nilCux commented on #1716
Hi, sorry to bother you. I'm afraid I need some help. I just wrote a unit test, however I don't know how to run it. I put it under "embox/src/tests/posix/pthread" and added a module in the"Mybuild" file in this path. Afterwards, what should I do to run it?

[2020-03-09 01:11] zhuanyanchengkong commented on #1791
I think the most direct way is `#define HZ = 10000` in drivers/clock/riscv_clk.c.

[2020-03-09 01:21] nilCux commented on #1716
Hi, I have finished a unit test including three cases:

-  A regular case of sending signal to a running thread
- Send signal 0 to a running thread
- Send signal to a terminated thread

However, there are three things I need to verify:

1. Using pthread_kill to send signal 0 should not be considered as an error, right?
2. Using pthread_kill to send a signal to a terminated thread will cause a cras

[2020-03-09 01:42] ThePiGrepper commented on #1778
I did some tests and apparently something similar is happening with vfat and touch/stat as well. I'll test again and report it here. Just to confirm then, what do you need initfs to do, and what is it doing now? I'd like to fix this issue if possible.

[2020-03-09 06:39] checker5965 commented on #1730
@alexkalmuk Oh okay, in that case I'll just let it be and pick another issue. Hopefully someone else will take this issue up :)

[2020-03-09 08:16] alexkalmuk commented on #1791
I do not think you should change HZ because `HZ=1000` just says the clock will be generated 1000 times per one second. So you should found in drivers/clock/riscv_clk. how to change an actual frequency. Look,

[code]

So you can see that this COUNT_OFFSET actually depends also on `SYS_CLOCK`

SYS_CLOCK is defined in src/include/hal/system.h, and you can see it is an option...

[2020-03-09 09:06] #1745 closed

[2020-03-09 09:27] alexkalmuk commented on #1752
@Dawody Thank you for your PR https://github.com/embox/embox/pull/1802, I left some comments there.

It's not a single element, it's a _pointer_ to the first element of `devtab` array.

[2020-03-09 11:06] anton-bondarev commented on #1767
@puranjaymohan You can remove (or comment ) `include embox.driver.clock.cortexa9` from template and add you clock driver. If ticker cmd would work and timer test succeeds it will mean that it work correctly

[2020-03-09 11:11] alexkalmuk commented on #1716
All the things you asked are pretty good questions!

https://pubs.opengroup.org/onlinepubs/9699919799/functions/pthread_kill.html says
`As in kill(), if sig is zero, error checking shall be performed but no signal shall actually be sent.`

When we take a look at kill() now - https://pubs.opengroup.org/onlinepubs/9699919799/functions/kill.html we can see `If sig is 0 (the null signal), error checki

[2020-03-09 11:18] puranjaymohan commented on #1799
Hi @alexkalmuk , I tried adding the `@BuildDepends(third_party.lib.acpica)` in the Mybuild file, and it still didn't work then I added the following two includes
[code]
then it gave an error because the acpi_shutdown.c has a `break;` inside a function on
line no 19, I changed it to a return and built it again. This time it built but when I run it on qemu it crashes.

I am trying to debug it more.

[2020-03-09 11:27] alexkalmuk commented on #1799
@puranjaymohan Ok, thanks. You can probably just change `break` to `return`.

[2020-03-09 11:41] anton-bondarev commented on #701
@AntonKozlov Thanks

[2020-03-09 12:16] zhuanyanchengkong commented on #1791
Yes.We can modify the `core_freq` in  `templates/riscv/qemu-sifive-u`

Then the clock works correctly．

[2020-03-09 12:19] anton-bondarev commented on #1791
Can you create PR with modified core_freq?

[2020-03-09 12:21] zhuanyanchengkong commented on #1791
Yes！My pleasure.

[2020-03-09 12:38] MrSquanchee commented on #1771
@Deryugin  Hii I have done some research for pthread APIs in linux. I would like to work on this issue :)
Thanks,
Suraj.

[2020-03-09 12:56] anton-bondarev opened #1805 "Improve pthread_mutexattr_xxx"
Add implementation functions which has not been implemented yet
[code]

[2020-03-09 12:59] anton-bondarev commented on #1771
@MrSquanchee Hi, Suraj
I've added another issue for pthread routines (#1805)
Can you please work on it?

[2020-03-09 13:01] anton-bondarev commented on #1771
@subhojit-ghorai
I've assigned it to you

[2020-03-09 13:02] MrSquanchee commented on #1805
Hello @anton-bondarev , I have done some researches on pthread in linux.
I would like to work on this issue.
Thanks,
Suraj.

[2020-03-09 13:03] MrSquanchee commented on #1771
Sure. I have commented on the mentioned issue.
Thanks.

[2020-03-09 13:05] nilCux commented on #1716
Thank you for answering my questions. I just pushed my work. Please let me know if I need to improve or modify it.

[2020-03-09 13:06] anton-bondarev commented on #1805
@MrSquanchee
I've assigned it with you.
But you should finish your opened PR before starting :)

[2020-03-09 13:11] nilCux opened #1808 "Fix pthread_kill"
- Send signal 0 with pthread_kill will return -1 while 0 is expected
- Send signal to terminated threads behave wierd (Even crashed when the signal is SIGALRM)

Test offered by #1716 , the part who might cause crash was written as comments, un-comment it if necessary.

[2020-03-09 13:15] puranjaymohan commented on #1769
Yes, EPIT is also similar to this timer and has two distinct timers in it with different registers. I think the current situation requires only a single timer as it is being used for frequency generation. I think you should only use a single timer.

Thanks

[2020-03-09 13:29] anton-bondarev commented on #1730
@Abnaby
[commented above](https://github.com/embox/embox/issues/1730#issuecomment-596199551)

[2020-03-09 14:09] #1767 closed

[2020-03-09 14:13] anton-bondarev commented on #1747
Thanks. Closed #1770

[2020-03-09 14:18] Deryugin commented on #1645
Hi @sobhaniiest
Those implementations (pthreads-win32, QNX and Glibc) are implementations of POSIX standard; refer to https://pubs.opengroup.org/onlinepubs/9699919799/ for details on how exactly should those functions behave.

[2020-03-09 14:40] alexkalmuk commented on #1799
How did it fail? Any messages?

[2020-03-09 14:52] alexkalmuk commented on #724
@Abnaby hi, I assigned you to this issue.

[2020-03-09 15:32] puranjaymohan commented on #1799
after the following changes:-
1.  Adding the includes for file paths.
[code]
2. Including the `embox.arch.x86.kernel.acpi_shutdown`

I get the following error after running the qemu script

[code]

[2020-03-09 16:12] Dawody commented on #1752
@alexkalmuk Yes I know, I mean that this is a single element (first element) of devtab array.
- I thought that reaching Null when iterating on the array means that there is no more block devs.
so I added the condition to make it break when reaching Null pointer.
- But I you said that we need to skip when reaching Null so I will modify and push again.
Thank you

[2020-03-09 16:45] Abnaby commented on #724
The main parameter `*envp` is not specified by POSIX.
If you take a look at the process memory map you will see that `envp[]` is just above `argv[]`.

[2020-03-09 16:51] alexkalmuk commented on #1709
Thank you!

[2020-03-09 16:51] #1709 closed

[2020-03-09 20:26] sk2sat commented on #1768
This issue also happed in my environment(QEMU 4.2.0 on Arch Linux).
I think this problem is due to running QEMU as root.
In addition, there is a warning on the Arch wiki, `QEMU should never be run as root`.
https://wiki.archlinux.org/index.php/QEMU#Running_virtualized_system
Therefore, adding `-runas` option solved this issue.
PR is here: #1809

[2020-03-09 21:04] #997 closed

[2020-03-09 21:04] #1746 closed

[2020-03-10 09:07] layman-n-ish commented on #1769
Yes, that makes sense. Thanks, @puranjaymohan.

[2020-03-10 09:08] zhuanyanchengkong commented on #1654
Hi, I found that the time displayed by the version command is the time of the first build, x86 and arm are the same.

And you can set the time using `date -s`．

[2020-03-10 09:12] alexkalmuk commented on #1654
Sure, thanks, it's an invalid issue.

[2020-03-10 09:12] #1654 closed

[2020-03-10 09:27] alexkalmuk commented on #1799
The problem is here:

[code]

I would suggest you set a breakpoint in gdb to `AcpiFindRootPointer` and examine why it is failed.

[2020-03-10 09:59] alexkalmuk commented on #1702
@worldinmyfist Ok, it seems it's actually blocked by #1335, you can choose another issue.

[2020-03-10 10:04] Deryugin commented on #1335
@Ahish9009 how is it going?

[2020-03-10 10:11] anton-bondarev opened #1812 "Implement pthread_getconcurrency()/pthread_setconcurrency()"
//extern int   pthread_getconcurrency(void);
//extern int   pthread_setconcurrency(int);
are not implemented now.

[2020-03-10 10:14] anton-bondarev opened #1813 "Implement pthread_rwlockattr_xxx"
There are no implementations for pthread_rwlockattr

//extern int   pthread_rwlockattr_destroy(pthread_rwlockattr_t *);
//extern int   pthread_rwlockattr_getpshared(const pthread_rwlockattr_t *, int *);
//extern int   pthread_rwlockattr_init(pthread_rwlockattr_t *);
//extern int   pthread_rwlockattr_setpshared(pthread_rwlockattr_t *, int);

[2020-03-10 10:21] anton-bondarev opened #1814 "Implement pthread_mutex priorceiling"
//extern int   pthread_mutex_getprioceiling(const pthread_mutex_t *, int *);
//extern int   pthread_mutex_setprioceiling(pthread_mutex_t *, int, int *);
There are no implementations

[2020-03-10 10:38] alexkalmuk commented on #724
Are you sure https://pubs.opengroup.org/onlinepubs/000095399/functions/exec.html?

[2020-03-10 10:40] alexkalmuk commented on #724
It is not the main parameter, but environment variables.

[2020-03-10 12:09] anton-bondarev opened #1815 "Implement mprotect()"
mprotect() has not been implemented yet.

[2020-03-10 12:12] anton-bondarev opened #1816 "Implement atexit()"
atexit() has not been implemented yet

[2020-03-10 13:30] anton-bondarev opened #1818 "implement mkfifo()"
mkfifo() has not been implemented yet

[2020-03-10 13:35] anton-bondarev opened #1819 "Implement shm_open() & shm_unlink()"
shm_open() & shm_unlink() have not been implemented yet

[2020-03-10 13:44] anton-bondarev opened #1820 "Add unit tests for mkdir"
You should test creation and destroying virtual directories (VFS_DIR_VIRTUAL)
And also you can use ramdisk with ramfs for testing

[2020-03-10 14:06] anton-bondarev opened #1821 "Add tests for pthread_cancel"
Add test cases for
[code]

[2020-03-10 19:07] Ahish9009 commented on #1335
Hi
I’ve been understanding the code base for most of the past days, have began working on this yesterday, will update soon.

[2020-03-10 21:21] Dawody commented on #1752
#1802

[2020-03-11 08:34] alexkalmuk commented on #1752
Closed via https://github.com/embox/embox/pull/1802

[2020-03-11 08:34] #1752 closed

[2020-03-11 10:45] Deryugin commented on #1751
Done with #1803

[2020-03-11 10:45] #1751 closed

[2020-03-11 11:30] Deryugin commented on #1749
Just a note: POSIX-compatible shell syntax rules may be found here https://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html

If someone wants to implement just subset of those features, please do it with extensibility in mind, so further extensions would not require rewriting everything from scratch.

Adding pipes, redirection, conditions, functions and loops means implementing in

[2020-03-11 11:34] #1768 closed

[2020-03-11 11:49] #1747 closed

[2020-03-11 12:04] sk2sat commented on #1816
I would like work on this issue.

[2020-03-11 12:35] zhuanyanchengkong commented on #1818
Hi, @anton-bondarev Let me try to solve this problem.

[2020-03-11 14:42] anton-bondarev commented on #1816
@sk2sat I've assigned it with you.

[2020-03-11 14:44] anton-bondarev commented on #1818
@zhuanyanchengkong I've assigned it with you.
But I think it's rather difficult issue!

[2020-03-11 14:53] anton-bondarev commented on #1818
@zhuanyanchengkong Please, let finish #1806 first!

[2020-03-11 15:58] ThePiGrepper commented on #1749
Hmm, indeed. that's why I didnt actually thought about POSIX compatibility when talking about tish, just wanted to open a discussion about new _minimal_ features. ie: piping, redirecting. For a fully POSIX shell, it would make more sense to: a) pick a third-party minimal POSIX compliant shell and port it(something a bit smaller than dash though), or b) make Tish modular/expandable as you suggested

[2020-03-11 16:51] sk2sat commented on #1816
@anton-bondarev
thx.
I have a question. Is the application entry point the `main`? Not `_start` or `__libc_start_main`?
If so, I think apps using `atexit()` need to expecitly call `exit()`.

[2020-03-12 03:37] yog-singh commented on #1730
Hello, I'm interested in solving this issue. Please assign it to me.

[2020-03-12 08:16] anton-bondarev commented on #1730
@yog-singh I've assigned it with you

[2020-03-12 08:19] AntonKozlov commented on #1686
`deferred_probe_initcall` schedules `deferred_probe_work`, but it doesn't start

[2020-03-12 09:14] anton-bondarev commented on #1816
@sk2sat
You should go deeper :).
You have to understand how applications execute in Embox (the similar there is in all systems).  It's not usual loader as Linux where there is start code and system loader which you not available, in Embox you can debug all system parts. I think You should try to set a breakpoint at the start of `ifconfig` command ( for example) and look on backtrace.

@ThePiGreppe

[2020-03-12 11:09] sobhaniiest commented on #1645
Hi, I have implemented pthread_barrier functions along with its test program. Please review these.
Thanks :)

[2020-03-12 11:46] Deryugin opened #1827 "Clean `ld` flags in build.conf"
`-g` flag is ignored for gcc, but is being widely used in lots of templates. I suggest to remove it from all templates where gcc is used for compilation

[code]

`-N` flags is supposed to do the following thing:
[code]

So it
1) Sets `.text` and `.data` to be readable/writable, which we don't care about (or do we?)
2) Disables page-align for `.data` which is useless (we align it anyway in `mk/imag

[2020-03-12 13:15] puranjaymohan commented on #1799
@alexkalmuk  I tried to put a breakpoint at `AcpiFindRootPointer` and saw, I found the following
[code]
I think the problem is with `ACPI_MOVE_16_TO_32 (&PhysicalAddress, TablePtr);`
here the address I not what it should be. Please tell me how to proceed as I am not well versed with ACPI.

[2020-03-12 13:35] MrSquanchee commented on #1805
@anton-bondarev . I tried so say that I will solve other pthread issues AS WELL (if time permits).
I didn't say I would leave this lol.
Thanks ,
Suraj.

[2020-03-12 13:43] anton-bondarev commented on #1805
Ok, I see :)
There are a couple of pthread issues ;) You can start with any of them, but it looks similar only at first sight. I've assigned it again ;)

[2020-03-12 13:55] alexkalmuk commented on #1799
@puranjaymohan Can you please PR where ACPI is fixed? Because now it seems the issue can be not so easy.

[2020-03-12 14:01] alexkalmuk commented on #1799
I mean only ACPICA build.

[2020-03-12 18:37] ThePiGrepper opened #1833 "removing getopt_init()"
Apparently getopt_init() is not needed anymore, it would be a good idea to start removing it altogether.

[2020-03-12 18:39] ThePiGrepper commented on #1833
apparently getopt() tests failed when removing getopt_init(). are you sure getopt_init() isn't needed anymore?

[2020-03-12 19:00] puranjaymohan commented on #1799
@alexkalmuk I have created a pull request which solves this issue.
Thanks

[2020-03-13 08:25] alexkalmuk opened #1835 "acpica is broken"
Template: `x86/qemu`

Add `include embox.arch.x86.kernel.acpi_shutdown` and make.

[code]

[2020-03-13 08:27] alexkalmuk commented on #1799
@puranjaymohan Thank you! I created another issue https://github.com/embox/embox/issues/1835 (but it's not required to start working on it if it's too difficult:))

[2020-03-13 08:28] alexkalmuk commented on #1799
Closed via https://github.com/embox/embox/pull/1834

[2020-03-13 08:28] #1799 closed

[2020-03-13 08:44] sobhaniiest commented on #1812
Hi @anton-bondarev, may I work on this :)

[2020-03-13 09:05] alexkalmuk commented on #1833
`getopt_init()` is required. It doesn't required for _commnads only_ because it is already called before each command execution - `src/framework/cmd/core.c:33`

[2020-03-13 10:10] Deryugin opened #1836 "Cleaning third_party stubs"
There are lots of POSIX/Linux functions stubs in third_party modules which were added to be able to compile it, but some of them are outdated as we now have those functions/files in Embox.

For example:
- `third-party/ntfs-3g/include/getopt.h` is empty file, seems like `./src/compat/posix/include/getopt.h` can be safely used instead of it.
- `third-party/lua/lua/include/stdlib.h` includes limits.h

[2020-03-13 10:19] Deryugin opened #1837 "Arch-independent `cpuinfo` command"
Right now `cpuinfo` commands just prints content of this structure, which is x86-specific.

[code]

It would be nice to extend it somehow to work with other architectures as well.

I guess it's ok to have some generic fields like `vendor_name[]` and `cpu_frequency`, but for extensions we need to rewrite this utility to use arch-agnostic interface.

May be something like this would work

[code]

[2020-03-13 11:42] alexkalmuk commented on #1698
@Nishchay-sopho Hi, how goes? If you are not going to continue with this issue we can unassign you from this issue.

[2020-03-13 11:55] alexkalmuk commented on #1719
@SusannaDiV Hi, how goes?

[2020-03-13 14:13] Deryugin opened #1840 "Implement memccpy()"
`memccpy()` is a part of POSIX standard.

For more details refer to POSIX specification: https://pubs.opengroup.org/onlinepubs/9699919799/

 Also implement some tests as well to make sure it works correctly.

[2020-03-13 16:00] ThePiGrepper commented on #1833
I see. I was wondering about that. thanks for the confirmation. I'll test it and send the patch.

[2020-03-13 18:12] tech-gian commented on #1840
Hello. I would like to try solving this issue. I have sent you mails for GSoC from: sdi1900059@di.uoa.gr. If I have a fully understand for this issue, the goal is to implement a function in C, that behaves exactly like memcpy() ? And, also, to implement corresponding tests?

[2020-03-13 20:18] ameetsaahu commented on #1819
Hey, @anton-bondarev I would like to work on this issue.
Can you please help me with how to do it or provide me some resources.

[2020-03-13 21:24] ThePiGrepper opened #1843 "third-party: e2fsprogs not building due to undefined references"
There are undefined references to unlikely()/likely() compiler optimization flags.
There's a declaration for those in the third party module itself, however it's been commented out by a patch. Don't know why.
There's also a declaration for those in embox itself, so it would be possible to either:  remove that section of the patch so that it doesnt get commented out, or b) modify the patch so that

[2020-03-13 23:08] Ahish9009 commented on #1335
Hey
So if I am understanding what's happening correctly, the vfork implementation currently copies and saves register values, and then calls the vfork_start_child function. I'm not sure where it is calling this function from as it is defined in 3 places:
- vfork_exchanged
- vfork_none
- vfork_stop_parent
A little more clarity on this would be really helpful!

[2020-03-14 08:56] anton-bondarev commented on #1840
Yes, you got in right!

I've assigned it for you

[2020-03-14 08:59] anton-bondarev opened #1845 "Add tests for ffs()"
Implement some test cases for standard [ffs()](https://pubs.opengroup.org/onlinepubs/009695399/functions/ffs.html) routine

[2020-03-14 09:08] anton-bondarev opened #1846 "Add tests for *env() routines"
Implement some test cases for the following routines:
[code]

[2020-03-14 09:53] binkoni commented on #1845
Hello sir, can I assigned to this issue?
I want to participate this project as a GSOC.
I didn't send an email for contact yet, but I'm planning to send the email which contains detailed information about me after solve some issues here

[2020-03-14 09:55] anton-bondarev opened #1847 "Add tests for strtok_r()"
There are a couple of test for strtok(). Add some tests for strtok_r()

[2020-03-14 10:02] anton-bondarev commented on #1845
@binkoni I've assigned it to you.
But you should send email to any of mentors at first. It can be short information, and then you can provide more details.

[2020-03-14 10:06] anton-bondarev opened #1848 "Add tests for strpbrk()"
Implement some test cases for [standard strpbrk()](https://pubs.opengroup.org/onlinepubs/009695399/functions/strpbrk.html)

[2020-03-14 10:14] anton-bondarev opened #1849 "Add test for strupr() & strlwr()"
Implement tests for standard routines strupr() & strlwr()

[2020-03-14 10:18] binkoni commented on #1845
@anton-bondarev Okay I'll compose the email right now.

[2020-03-14 10:47] anton-bondarev opened #1850 "Add test for memrchr() & memchr()"
Implement some test cases for standard routines memrchr() & memchr()

[2020-03-14 11:00] anton-bondarev opened #1851 "Add unit tests for strcpy() & strncpy()"
Implement some test cases for standard strcpy() & strncpy()

[2020-03-14 11:05] anton-bondarev opened #1852 "Add unit tests for strcat() & strncat()"
Add some test cases for standard routines strcat() & strncat()

[2020-03-14 11:11] #1846 closed

[2020-03-14 11:14] anton-bondarev opened #1853 "Add unit tests for strcmp() & strncmp()"
Implement some test cases for strcmp() & strncmp()

[2020-03-14 11:37] anton-bondarev opened #1854 "Add unit tests for strrchr() & strchrnul()"
There are some test case for strchr(). Implement also unit tests for strchrnul() and strrchr()

[2020-03-14 11:42] anton-bondarev opened #1855 "Add unit test for strstr() & strcasestr()"
Add some test cases for standard strstr() & strcasestr()

[2020-03-14 11:45] anton-bondarev opened #1856 "Add unit tests for strerror()"
Add some test cases for standard strerror()

[2020-03-14 11:48] anton-bondarev opened #1857 "Add unit tests for memcpy()"
Add some test cases for standard memcpy()

[2020-03-14 11:50] anton-bondarev opened #1858 "Add unit tests for memmove()"
Add some test cases for standard memmove()

[2020-03-14 11:52] anton-bondarev opened #1859 "Add unit test for memset()"
Implement some test cases for standard memset()

[2020-03-14 11:55] anton-bondarev opened #1860 "Add unit test for memcmp()"
Implement some test cases for memcmp()

[2020-03-14 12:37] anton-bondarev commented on #1819
@ameetsaahu Ok, let's try. It's rather difficult issue.

I think You have to create some unit test at first.
You can find some example for shm_open in google. [For example ](https://gist.github.com/garcia556/8231e844a90457c99cc72e5add8388e4).

When shared memory object is been opening (creating) it must save some information about itself in some repo. And when open again in another task (process)

[2020-03-14 12:46] anton-bondarev commented on #1335
@Ahish9009 I think vfork_exchanged implementation is used in your template. You can check it if make a compilation mistake in src/compat/posix/proc/vfork_exchange.c
I think there are following lines in your ./conf/mods.config
[code]

[2020-03-14 17:30] binkoni commented on #1845
@anton-bondarev Can I ask a basic question
I'm wondering how to run unit tests.
I added an unit test from other pull request to conf/mods.config such as:
[code]
And when I run make, build fails like this:
[code]

[2020-03-14 19:13] binkoni commented on #1860
Hello @anton-bondarev , I would like to get assigned.

[2020-03-14 19:19] binkoni commented on #1859
I would like to get assigned.

[2020-03-14 22:22] tech-gian commented on #1840
Thank you for the assignment.
I want to ask one thing. Original memcpy() doesn't handle overlap, instead it runs the same process (copies each byte) like in any other situation. Do you want me to do something different or to keep the same plan?

[2020-03-15 08:13] ameetsaahu commented on #1819
Sure, I will start on it today.

[2020-03-15 09:16] alexkalmuk commented on #1840
@tech-gian `memcpy` is already implemented, the issues tells about `memccpy`:

[code]

[2020-03-15 09:20] alexkalmuk commented on #1859
@binkoni Ok, assigned this one to you.

[2020-03-15 09:48] tech-gian commented on #1840
Oh, sorry. I missed that c. The question remains, how to handle overlap in memccpy()? Just like any other case, probably with undefined results?

[2020-03-15 09:58] ameetsaahu commented on #1819
@anton-bondarev How can I create a unit test for this? Also is there any other implementation already done in embox that is similar to this? I can get some ideas about how I'm gonna try this.

[2020-03-15 10:02] alexkalmuk commented on #1840
POSIX claims that:

[code]

So yes, the result will be undefined.

[2020-03-15 10:05] alexkalmuk commented on #1859
Ah, sorry, let's it's your second "good first issue", but we are required to solve only one. Let's finish with https://github.com/embox/embox/pull/1862

[2020-03-15 10:08] binkoni commented on #1859
Oh I didn't knew about that. thanks

2020년 3월 15일 (일) 오후 7:06, Alex Kalmuk <notifications@github.com>님이 작성:

[2020-03-15 10:16] alexkalmuk commented on #1843
@ThePiGrepper Thank you! I think now the issue can be closed.

[2020-03-15 10:16] #1843 closed

[2020-03-15 10:24] tech-gian commented on #1840
Ok. Thank you for the clarification

[2020-03-15 11:47] puranjaymohan commented on #1835
I tried putting a breakpoint on `AcpiFindRootPointer` and saw that the address returned by the `AcpiOsMapMemory` is not accessible, it might be because the implementation is wrong.

[code]

[2020-03-15 11:52] anton-bondarev commented on #1819
@ameetsaahu You can look at scr/tests/posix to know how to create a unit test. I think you should start with it.

[2020-03-15 12:03] ThePiGrepper opened #1863 "remove remaining calls to getopt_init()"
related to PR https://github.com/embox/embox/pull/1842.
There are a few calls to getopt_init() which need further investigation. These are:
src/compat/cxx/core/cxx_app_startup_shutdown.cpp
src/fs/driver/ext3/ext3.c
src/fs/driver/ext4/ext4.c
third-party/e2fsprogs/mke2fs_cmd.c

* After those are cleared, removing 'extern void getopt_init(void)' from src/compat/posix/include/getopt.h must be done as

[2020-03-15 12:47] checker5965 commented on #1837
Hi @Deryugin - I can take a look at this issue. Could you please assign it to me?

Just to be clear, we want to make the `cpuinfo` command arch independent to solve this issue. Do we also need to implement the functionality for other architectures apart from x86?

[2020-03-15 13:25] anton-bondarev commented on #1845
@binkoni

`@Runlevel(2) include embox.test.posix.pthread_rwlock` You use the wrong module full name.

You should use `embox.test.posix.pthread.pthread_rwlock` because for  this module `package embox.test.posix.pthread` and name is pthread_rwlock

Which tests fails?

[2020-03-15 13:50] binkoni commented on #1845
Oh sorry, pthread_rwlock test was my mistake, it runs fine.
I also tried math_test_fp yesterday by adding
[code]
And I thought that I was running unit tests in a wrong way because result was like below:
[code]

[2020-03-15 14:09] alexkalmuk commented on #1845
math_test_fp requires `math_openlibm` instead of `math_builtins`.

[2020-03-15 17:57] alexkalmuk commented on #1835
[code]

And what is `Where` value?

[2020-03-15 23:43] sobhaniiest commented on #1835
Yup, I have also got the same and the `Where` value is `1038`
`AcpiOsMapMemory (Where=1038, Length=2)
at third-party/lib/acpica/osemboxxf.c:103
`

[2020-03-16 01:07] Ahish9009 commented on #1702
Hi!
Could I pls get some more info on how to test if this is working properly. I am testing whether my fix to #1335 is working, and thought I'd try it out on this too.

[2020-03-16 07:44] #1845 closed

[2020-03-16 07:46] alexkalmuk commented on #1845
@binkoni Thank you!

Did you follow the steps here - https://github.com/embox/embox/wiki/Google-Summer-of-Code-2020#introduction? (I do not see email from you).

[2020-03-16 07:56] alexkalmuk commented on #1702
@Ahish9009 You can try `service qwerty123`, then `service` and see non-existent qwerty123 is in list.

[2020-03-16 08:44] #1748 closed

[2020-03-16 09:15] binkoni commented on #1845
@alexkalmuk Yes, I emailed to @Deryugin regarding memory profiling project few days ago.

[2020-03-16 09:47] #1716 closed

[2020-03-16 09:48] alexkalmuk commented on #1845
@binkoni Ah, ok then :) He confirmed that he received your email.

[2020-03-16 09:56] binkoni commented on #1845
Okay thanks!

2020년 3월 16일 (월) 오후 6:48, Alex Kalmuk <notifications@github.com>님이 작성:

[2020-03-16 10:13] alexkalmuk opened #1865 "CI: ping xip.io fails too often"
`ping 192.168.128.128.xip.io` fails too often for both expect tests and start_script:

https://github.com/embox/embox/runs/505471758#step:10:266 (start_script)
https://github.com/embox/embox/runs/505907968#step:10:208 (expect)

[2020-03-16 10:17] anton-bondarev commented on #1837
@checker5965 I've assigned it

Yes, we want to make `cpuinfo` arch-independent. It's useful to enable it on some arm template

[2020-03-16 10:29] AntonKozlov commented on #1865
Have you looked at the source of the error? I had no chance to look at.

[code]

It fails from time to time and the error message is really suspicious (`no error`). It really looks like a problem with DNS resolve, misreported. And I haven't seen the error on Travis, right? It may mean embox issue reproducing only in certain environments

[2020-03-16 10:35] alexkalmuk commented on #1865
No, I haven't look in more detail yet, but I have very similar observations.

[2020-03-16 10:45] alexkalmuk commented on #1865
@AntonKozlov

https://travis-ci.org/github/embox/embox/jobs/662978056#L9029

[2020-03-16 11:32] alexkalmuk commented on #1835
@sobhaniiest Yes, thanks.

@puranjaymohan

[code]

I looks like we should map this memory first. For instance, it could be done with `mmap_device_memory`. You can find some examples with "grep -nr mmap_device_memory src/drivers/"

Most likely it can be done like:

[code]

[2020-03-16 11:38] Deryugin opened #1869 "x86/qemu fails to start when compiled with -O2"
Looks like problem is related to `telnetd` service

1. `make confload-x86/qemu`
2. Replace `-O0` with `-O2` in `conf/build.conf`
3. `make`
4. `./scripts/qemu/auto_qemu`
[code]

[2020-03-16 12:19] Deryugin commented on #1812
Let's finish #1825 first, otherwise we may end up with lots of stall PRs :)

[2020-03-16 12:38] Deryugin commented on #1837
@checker5965

Sure, it would be nice to detect if FPU/Neon extensions are implemented for given ARM platform, for example. But that's another issue, I guess.

[2020-03-16 12:44] #1730 closed

[2020-03-16 12:58] sha-ahammed commented on #1860
Hello sir,
I would like to do this as part of GSOC.

[2020-03-16 13:04] tech-gian commented on #1840
I have finished (almost) my memccpy() function and I have almost finished all of the tests that need to be passed for the correctness of the function. I think that today or tomorrow, everything will be ready. I was working it in a private repository. What do I need to do so I can make it through embox's public repository? Just a pull request of the implementation and the tests? Is there any guide

[2020-03-16 13:12] Deryugin commented on #1827
Well, templates were cleaned in #1830; loadable apps were fixed in #1832. I'm closing this issue as it seems to be no arguments to keep `-N` ld flag.

[2020-03-16 13:12] #1827 closed

[2020-03-16 13:21] anton-bondarev commented on #1860
@sha-ahammed Hello
I've assigned it for you, but you should send email to one of the mentors at first.

[2020-03-16 13:30] anton-bondarev commented on #1840
@tech-gian Yes, now you should create a new PR which will be reviewed and approved one of the maintainers. Then your PR will be merged to embox/master.

Your PR should contain commits with tests and memccpy() implementation.

Let's try to create the first PR :)

[2020-03-16 13:45] Deryugin commented on #1840
@tech-gian

You can check some pages on our wiki:
https://github.com/embox/embox/wiki/Contributing%3A-Git-workflow
https://github.com/embox/embox/wiki/Code-Style

[2020-03-16 14:27] Deryugin opened #1870 "Add support for '%n' format for scanf()"
According to POSIX standard https://pubs.opengroup.org/onlinepubs/9699919799/
[code]

It's required to extend existing `scanf()` implementation with this format and also add corresponding test for `package embox.test.stdio.scanf_test`.

[2020-03-16 15:36] tech-gian commented on #1840
Thank you very much! I really appreciate your help:) I'm finishing with some details (comments etc) and I hope it will be finished in a few hours.

[2020-03-16 15:36] sha-ahammed commented on #1860
Oh my apologies, i was thinking solve issue first and mail later.Is there a specific mentor i should contact?

[2020-03-16 15:47] #1644 closed

[2020-03-16 17:19] puranjaymohan commented on #1835
I have added pull request #1876 which adds the call to `mmap_device_memory`.
I am not sure how should the `-EIO` be returned from the function of type void*. I have cast it to void*, don't know if it is correct.

[2020-03-16 18:33] ThePiGrepper commented on #1774
One more question. what does @IncludeExport(path="util") do exactly? I'm having problems understanding how the include structure works with the build system.

[2020-03-16 19:06] tech-gian commented on #1840
I have created a PR (or at least I tried my best). Ι think that i linked that issue with that PR. I am sorry that there is only one commit, but I was working this issue in a local folder. It won't happen again, now that I understood how everything works. Please let me know for any problems about the implementation, tests or even the PR. I want to learn, even from my mistakes!

[2020-03-17 08:27] alexkalmuk commented on #1835
Yes, for sure.

[2020-03-17 08:49] alexkalmuk commented on #1774
[code]

The one can use it in other modules which depends on `foo`:

[code]
Note: `<target_name>` is optional, if it is not specified the actual header name (`foo.h`) will be used.

[2020-03-17 09:15] anton-bondarev commented on #1860
@sha-ahammed No, there isn't.
All mentors can review your changes and help you if it's required

[2020-03-17 11:51] alexkalmuk commented on #1835
@puranjaymohan Thanks for your contribution! I think the issue is completed.

[2020-03-17 11:51] #1835 closed

[2020-03-17 13:22] checker5965 commented on #1815
Hi @anton-bondarev can you give me some more details about this issue? I would like to take a look at this.

[2020-03-18 04:10] RubyOcelot commented on #1870
Hi, I would like to take this issue, please assigned to me.

[2020-03-18 07:48] Deryugin commented on #1870
@RubyOcelot ok!

[2020-03-18 08:20] alexkalmuk commented on #1833
@ThePiGrepper Thank you!

This issue continues here https://github.com/embox/embox/issues/1863

[2020-03-18 08:20] #1833 closed

[2020-03-18 09:35] sha-ahammed commented on #1860
@anton-bondarev hey, how do i run tests?

[2020-03-18 09:39] anton-bondarev commented on #1860
@sha-ahammed Just add to mods.config
You may see tests executing when Embox starts

[2020-03-18 11:20] sha-ahammed commented on #1860
@anton-bondarev I did that and i configured the project on my fork. There was no error aside from

`Error: modules dependency cycle:
	embox.fs.driver.devfs_old
	embox.fs.rootfs
	embox.fs.syslib.file_system_full
	embox.driver.common
Error: modules dependency cycle:
	embox.fs.driver.devfs_old
	embox.fs.rootfs
	embox.fs.syslib.file_system_full
	embox.driver.common
`
Does this mean the test was succes

[2020-03-18 11:36] sha-ahammed commented on #1860
@anton-bondarev ok so it doesnt seem to be showing up
`runlevel: init level is 0
	unit: initializing embox.mem.static_heap: done
	unit: initializing embox.profiler.tracing: done
	unit: initializing embox.kernel.sched.sched: done
	unit: initializing embox.driver.interrupt.i8259: done
	unit: initializing embox.fs.buffer_cache: done
	unit: initializing embox.driver.clock.pit: done
	unit: initializing

[2020-03-18 11:40] sha-ahammed commented on #1860
@anton-bondarev this is what i added to mods.config
`@Runlevel(1) include embox.test.stdlib.memcmp_test`

[2020-03-18 14:46] RubyOcelot commented on #1870
@Deryugin I've add %n to scanf and test for scanf. but how to run the test and check the correctness? I tried to add it in mod.config but don't work

[2020-03-18 15:40] anton-bondarev commented on #1870
The test fails? Or it is not called?

[2020-03-18 15:42] RubyOcelot commented on #1870
It's not called, the test list doesn't change.
I add a line in mod.config for x86/qemu:
`@Runlevel(1) include embox.test.stdio.scanf_test`

[2020-03-18 15:59] anton-bondarev commented on #1870
@RubyOcelot Let me see on your module description? (Mybuild file)

[2020-03-18 17:20] sha-ahammed commented on #1860
I still cant get the test in output.Am i missing something @anton-bondarev ?

[2020-03-18 18:40] sobhaniiest commented on #1821
Hi, I am working on this issue and am trying with a simple test case to test `pthread_cancel`, the code snippet is the following:

static void *thread_fun(void *arg) {
    int r = pthread_cancel(tid);
    test_assert_equal(r, 0);
    return NULL;
}
TEST_CASE("Cancel self thread") {
    void *res;
    test_assert_zero(pthread_create(&tid, NULL, thread_fun, NULL));
    test_assert_zero(pthread_join(

[2020-03-19 08:28] alexkalmuk commented on #1821
@sobhaniiest

Yes, you can add `embox.kernel.thread.thread_cancel_enable` in your mods.config, then rebuild and check once more in gdb.

[2020-03-19 09:07] sobhaniiest commented on #1821
Yes, now in gdb `pthread_cancel` returns 0 i.e successful termination:

19	static void *thread_fun(void *arg) {
(gdb) n
20		int r = pthread_cancel(tid);
(gdb) s
pthread_cancel (thread=0x9ccb4a0 <__pool_storagethread_pool+262144>) at src/compat/posix/pthread/pthread_cancel.c:13
13		int r = thread_cancel(thread);
(gdb) s
thread_cancel (t=0x9ccb4a0 <__pool_storagethread_pool+262144>) at src/kernel/th

[2020-03-19 09:10] #1335 closed

[2020-03-19 10:02] anton-bondarev opened #1884 "usermode86/debug often fails on CIs"
Checking usermode86/debug was disable on github actions and travis because it fails too often

[2020-03-19 10:18] alexkalmuk commented on #1884
Example - https://github.com/embox/embox/runs/518891252#step:10:81