[2020-03-19 11:20] kouamdo commented on #1858
Hey , Hi, I would like to be assigned to this task.

thank you ...

[2020-03-19 11:40] Deryugin commented on #1858
@kouamdo ok!

[2020-03-19 11:48] kouamdo commented on #1858
thank you for all

[2020-03-19 12:24] kouamdo commented on #1858
I'm starting to solve that task

[2020-03-19 13:42] anton-bondarev opened #1886 "mips/qemu don't build with OpenLibm"
If enabele openlibm in mips/qemu
[code]
build fails
[code]

[2020-03-19 15:39] layman-n-ish commented on #1869
The bug occurs even at the 1st optimization level: `-O1` (`-O2` includes all optimization flags specified by `-O1` **[1]**) and doing a naive binary search on the optimization flags incorporated by it reveals the flag `-fomit-frame-pointer` to be the source of the exception. Ergo, a "hack" to resolve this bug **for now** could be:

1. `make confload-x86/qemu`
2. Replace `-O0` with `-O2` in `conf/b

[2020-03-19 16:23] #1699 closed

[2020-03-20 08:14] alexkalmuk commented on #1821
@sobhaniiest I was thinking that `phtread_cancel()` should work without pthread_setcancelstate.

[2020-03-20 08:18] alexkalmuk commented on #1821
So if it crashes then probably it's a bug in pthread_cancel() implementation in Embox. You can also check your code on Linux.

[2020-03-20 08:26] alexkalmuk commented on #1821
@sobhaniiest What I'd propose you to do:

* What we know? pthread_cancel should work even without pthread_setcancelstate called before, it should work every time, that is if there are no cancellation handlers then thread just terminates.
* You can make sure twice running the very similar code on Linux and see how it behaves there.
* Since we know your test is correct and if Linux runs it fine you

[2020-03-20 08:49] ath-90 commented on #1857
Hello

Could you please assign this issue to me?

Thanks!

[2020-03-20 09:24] sobhaniiest commented on #1821
Hi @alexkalmuk, I have written  the following code and have run in my Linux system:

#include <unistd.h>
#include <pthread.h>
static pthread_t target_tid;
/* Cancel self thread */
static void *thread_fun (void *arg)
{
    if (0 == pthread_cancel (pthread_self ()))
        printf ("Thread 1 cancel returns 0\n");
    printf ("This line will not be printed in thread_fun\n");
    return NULL;
}
/* Can

[2020-03-20 09:31] anton-bondarev commented on #1857
@ath-90 Hello

Do you want to participate Embox GSoC2020? You should send email to one of the mentors as described on wiki page ([https://github.com/embox/embox/wiki/Google-Summer-of-Code-2020](https://github.com/embox/embox/wiki/Google-Summer-of-Code-2020 ))

[2020-03-20 09:47] sobhaniiest commented on #1821
May I create an issue?

[2020-03-20 09:54] anton-bondarev commented on #1821
@sobhaniiest yes, sure! :)

[2020-03-20 10:10] ath-90 commented on #1857
Thanks. Will do.

[2020-03-20 11:32] sobhaniiest opened #1889 "Fix pthread_cancel"
- According to [POSIX standards](https://pubs.opengroup.org/onlinepubs/009695399/functions/pthread_setcancelstate.html): The cancelability state and type of any newly created threads, including the thread in which main() was first invoked, shall be `PTHREAD_CANCEL_ENABLE` and `PTHREAD_CANCEL_DEFERRED` respectively. So if we call `pthread_cancel` for a newly created thread it should be terminated a

[2020-03-20 12:46] alexkalmuk opened #1891 "rpi1 buggy serial input"
If you load Embox on rpi1 (Raspberry Pi Model B rev 2.0 board, not qemu) and then type something in shell the output not appear immediately, but only after a few seconds. so it's impossible to type something.

[2020-03-20 12:58] alexkalmuk commented on #1891
Actually I am not sure the problem is in serial input (pl011 RX), maybe it's just an indication of some another bug.

[2020-03-20 15:26] puranjaymohan commented on #1886
I want to work on this issue

[2020-03-20 15:32] 287mdsahil commented on #1853
I would like to work on this

[2020-03-20 16:40] #1870 closed

[2020-03-20 16:52] calenrobinette commented on #1851
Hi. Could you assign this issue to me? I plan on emailing mentors about GSoC shortly, but I wanted to get my feet wet first.

[2020-03-20 16:53] anton-bondarev commented on #1851
Ok

[2020-03-20 17:06] #1891 closed

[2020-03-20 20:21] 287mdsahil commented on #1853
Please review the commit
Do I need to add the test to the templates?

[2020-03-21 03:44] FrackeR011 commented on #1849
@anton-bondarev I would like to work on this. Can you please assign me this issue?

[2020-03-21 08:15] kouamdo commented on #1858
wow , look :

[code]
i think it can be fine .

What do you think ??

[2020-03-21 11:40] anton-bondarev commented on #1849
I've assigned you, But you have to send email to one of to mentors

[2020-03-21 11:52] FrackeR011 commented on #1849
OK, will do.

[2020-03-21 12:22] anton-bondarev commented on #1815
It's a standard POSIX routine ([https://pubs.opengroup.org/onlinepubs/009695399/functions/mprotect.html](https://pubs.opengroup.org/onlinepubs/009695399/functions/mprotect.html ))
It links with mmap.
In Embox there is vmem_set_flags() for set flags to a region, but of cause, it's required to check regions and treat memory subsystem for tasks at all.

[2020-03-21 12:32] checker5965 commented on #1815
Alright. Could you assign it to me?

[2020-03-21 12:35] anton-bondarev commented on #1858
@kouamdo, First, you should create PR :)

[2020-03-21 13:11] anton-bondarev commented on #1853
It seems good for now. Please create PR

[2020-03-21 14:13] #1853 closed

[2020-03-21 14:32] alexkalmuk commented on #1869
@layman-n-ish Thanks for the observation! I wonder why `-fno-omit-frame-pointer` help (I checked this). We should investigate the issue deeper.

[2020-03-21 14:35] alexkalmuk commented on #1869
Possibly we can examine the stack with gdb to figure out something about the nature of this page fault. So then maybe we can explain why this flag helps.

[2020-03-21 19:31] iosif-t commented on #1852
I would like to be assigned to this task but i have a question,should i implement the tests in c using assertions?

[2020-03-21 22:09] layman-n-ish commented on #1869
Certainly! I'm on it.

[2020-03-22 12:41] yog-singh commented on #827
I want to start working on this module. Any help to begin with will be great.

[2020-03-22 14:06] #1849 closed

[2020-03-22 14:37] anton-bondarev commented on #827
Sorry. This issue may be will become a part of GSoC project. We'll start it a little later.

[2020-03-22 23:42] HumayunMulla commented on #1852
I would like to work on this, please assign it to me. Thanks!

[2020-03-23 08:43] anton-bondarev commented on #1852
@HumayunMulla done

[2020-03-24 14:49] alexkalmuk opened #1900 "Qt build broken with gcc 9"
Template: `x86/qt-fb` (but I think the same issue can be reproduced for x86/qt-vnc and other qt templates).

[code]

[2020-03-25 13:24] zhuanyanchengkong commented on #1818
@anton-bondarev Hi,I am using mknod to complete the mkfifo function, do you have any suggestions.

[2020-03-25 13:30] KhaledEmaraDev commented on #1859
Hi @alexkalmuk, couls you assign this issue to me? I have already contacted you by email.

[2020-03-25 14:55] anton-bondarev commented on #1859
@KhaledEmaraDev I've assigned it

[2020-03-25 18:00] tanner00 commented on #1856
Can I be assigned this?

[2020-03-26 08:53] anton-bondarev commented on #1856
@tanner00 I've assigned
Have you already sent email to any of mentors?

[2020-03-26 09:04] anton-bondarev commented on #1818
@zhuanyanchengkong You can try use mknod, of cause, but except inode creation you have to assign it with fifo functionality.
I think It's better to use fs routines directly.
inode_new(), node_alloc() etc.

[2020-03-26 09:06] anton-bondarev commented on #1791
Closed #1861

[2020-03-26 09:22] anton-bondarev commented on #1774
@287mdsahil
In the file
third-party/qt/plugins/platforms/Emboxfb.my
I am having difficulty understanding the what the following line does:
@Build(stage=2,script="TARGET=$(EXTERNAL_BUILD_DIR)/third_party/qt/core/qt-everywhere-opensource-src-4.8.5/src/plugins/platforms/emboxfb; $(EXTERNAL_MAKE_PRO)")

Can anyone please explain its purpose

[2020-03-26 09:24] anton-bondarev commented on #1774
@287mdsahil
`@Build` is an annotation which add build rules to a module.  Available 'stage' and 'scripts' option.
 'stage' says that the module is build on which step of project building the module was build. stage=0 is for internal Embox module, stage=1 usually for external libraries, and stage=2 is for external libraries or applications which has external dependencies.
'script' says what externa

[2020-03-26 12:25] vladtp commented on #1854
Hello, can i get assigned to this?

[2020-03-26 12:29] anton-bondarev commented on #1854
@vladtp I've assigned it
Have You already sent email to any of mentors?

[2020-03-26 12:36] vladtp commented on #1854
No, but i will send it ASAP

[2020-03-26 12:59] zhuanyanchengkong commented on #1818
@anton-bondarev  Yes, I also found that mknod command in embox is incomplete. I want to complete the `vfs_mknod ()` function, and if the embox needs to complete the mknod command, it can also be used directly.

[2020-03-26 14:01] #1857 closed

[2020-03-27 11:55] #1860 closed

[2020-03-27 13:16] VaibKS commented on #1855
I'd like to get assigned to this issue.
Thanks!

[2020-03-27 14:18] anton-bondarev commented on #1855
@VaibKS I've assigned it with you

[2020-03-27 14:57] tanner00 commented on #1856
Yes

[2020-03-27 15:08] #1840 closed

[2020-03-27 19:08] 287mdsahil commented on #1774
What does `@Generated` and `@AddPrefix` do?

[2020-03-28 11:01] anton-bondarev commented on #1774
@287mdsahil
'@AddPrefix' changes default search sources path.
For example
[code]
`"ioquake3.x86_64.a"` will be looked for `""^BUILD/extbld/third_party/games/quake3/release-linux-x86_64/"` directory
It can be required when you build external modules.

@Generated
Allow to execute any scripts to generate sources
For example
[code]
For  example
There is no "emboxfb.cpp" at first
Execute "$(MAKE) -f $(

[2020-03-28 17:51] #1855 closed

[2020-03-29 16:22] #1851 closed

[2020-03-30 02:18] nradk commented on #1848
Hi, I would like to work on this. Can you assign the issue to me?

[2020-03-30 07:17] anton-bondarev commented on #1848
@nradk I've assigned it ot you.
But if you want to take part of GSoC you have to follow the instruction on the wiki ([https://github.com/embox/embox/wiki/Google-Summer-of-Code-2020](https://github.com/embox/embox/wiki/Google-Summer-of-Code-2020) ), send email to any of mentors.

[2020-03-30 11:17] anton-bondarev opened #1912 "Clean ns16550 serial driver"
ns16550 serial driver is rather dirty. for example
[code]
Why COM3 not COM1 or COM0
And so on

[2020-03-30 11:35] sha-ahammed commented on #1912
Hey id like to help with this

[2020-03-30 11:40] anton-bondarev commented on #1912
Of cause. Let's try to learn what is serial driver. Often it called UART.
Also you should find a template with that driver and which can be started on qemu

[2020-03-30 13:25] Deryugin opened #1914 "/dev/mem compatibility"
Some Linux applications access physical addresses via devfs like this

[code]

It would be nice to implement pseudo device `/dev/mem` for devfs to be able to run such programs.

[2020-03-30 13:39] Deryugin opened #1916 "POSIX aligned memory allocation"
We're missing some functions for aligned memory allocation

[code]

We already have `memalign()` function, so it can be used to implement some of these functions.

[2020-03-30 19:16] nradk commented on #1848
@anton-bondarev Thank you. I've sent an email to the mentors a few weeks ago.

[2020-03-31 08:31] #1854 closed

[2020-03-31 11:38] anton-bondarev opened #1919 "microblaze/qemu is broken"
While microblaze/qemu template compilation
[code]

[2020-04-01 11:23] anton-bondarev opened #1923 "Static light thread initialization seems useful"
Light threads are often use in kernel. They require unit_init routine, but sometimes it contains the only light thread initialization. For example: net_entry module, or embox.kernel.time.timer_handler.

It may be useful if light thread was declare as global (static) object which does not require runtime initializing.

[2020-04-04 15:41] zhuanyanchengkong commented on #1818
@anton-bondarev Hi, I have some problems. The current mknod command cannot set the device number, so do I only need to set the mode in `child = __vfs_subtree_create_child(*tmp_parent, path, len, mode);` to S_IFIFO to use the current mknod code to implement mkfifo?

[2020-04-05 11:03] alexkalmuk opened #1927 "Porting new version of linenoise"
https://github.com/antirez/linenoise

[2020-04-05 13:38] alexkalmuk opened #1929 "microblaze: Linker relaxation (--relax) segfault"
Template: `microblaze/qemu`

Remove `LD_DISABLE_RELAXATION = y` from build.conf and build embox. You will get:
[code]

As it was figured out, it's most likely the linker bug when performing relaxation (`ld --relax`): binutils-2.34/bfd/elf32-microblaze.c, at line 2223 (size of the next relax[i] is negative, and segfault occurs here).

_P.S. What is `--relax`?_
https://sourceware.org/binutils/docs/l

[2020-04-05 15:18] anton-bondarev commented on #1929
If I right remember`--relax` is microblaze specific flag for old gcc which fixed the problem with link with several linker scripts

[2020-04-05 15:57] alexkalmuk commented on #1929
It's probably `LD_SINGLE_T_OPTION`.

[2020-04-05 16:01] #1919 closed

[2020-04-06 11:46] nakul-shahdadpuri commented on #1850
I would like to work on this issue.

[2020-04-06 13:50] anton-bondarev commented on #1850
Ok. I've assigned it to you

[2020-04-06 15:46] anton-bondarev opened #1934 "packetdrill don't build with gcc9"
For testing just build x86/test/packetdrill with gcc >= 9.2.1

Maybe it's a good reason to update packetdrill version in Embox
[code]

[2020-04-07 09:27] alexkalmuk opened #1936 "embox hangs with runq list strategy"
Template: `x86/qemu`
Add `include embox.kernel.sched.strategy.runq.list`.

[code]

hangs...

[2020-04-08 13:50] alexkalmuk opened #1937 "x86 video mode config is unclear"
[code]

It seems like GraphicMode is used for multiboot only. So maybe it should be x86 specific? Also, it looks like `generic` is not required here.

[2020-04-08 13:52] alexkalmuk commented on #1923
It's partially completed by https://github.com/embox/embox/pull/1933

Nevertheless, when someone call `lthread_launch` the scheduler must be initialized to this time.

[2020-04-09 16:47] 287mdsahil commented on #1900
I would like to work on this

[2020-04-09 18:53] Deryugin opened #1940 "Memory card multiple block operations"
Currently MMC subsystem (`src/drivers/mmc/core`) supports only single block read/write operations (corresponding to `MMC_READ_SINGLE_BLOCK`/`MMC_WRITE_SINGLE_BLOCK` commands). This, however, vastly increases overhead when writing large contiguous memory regions, which can be avoided with `MMC_READ_MULTIPLE_BLOCK`/`MMC_WRITE_MULTIPLE_BLOCK` commands.

This can be debugged with qemu (arm/qemu for PL

[2020-04-10 02:45] ymdatta commented on #1940
Hi @Deryugin, i want to work on this issue, can you assign this to me?

[2020-04-10 14:11] checker5965 commented on #1837
@Deryugin Could you please close this issue :)

[2020-04-10 17:19] checker5965 commented on #1796
Hi @alexkalmuk.

On a Linux system, the build is successful even with a stack size of 8192 kb.

If you switch to `root` in WSL and set the stack size to `unlimited` using `ulimit -s unlimited` and then try to make embox, the build still fails. I verified the stack size using `ulimit -a`.

Are we sure that the stack size is causing the build to fail?

[2020-04-14 11:28] alexkalmuk opened #1948 "usb driver registration. Can we make it static?"
Static declaration will help us to get rid of such kind of driver initialization:

[code]

Also, it probably helps to solve a problem with `const` qualifier: https://github.com/embox/embox/pull/1947#discussion_r408061442

[2020-04-17 15:26] anton-bondarev opened #1954 "Characters get lost while copying a long (more then 7 symbols) string to the console"
To reproduce the problem you can
* run x86/qemu or arm/qemu template
* Copy to clipboard "1234567890"
* Paste to Embox command line

You see "12345678" instead of  "1234567890"

[2020-04-17 19:44] anton-bondarev opened #1955 "readline (linenoise) has global data"
Linenoise has several globals
[code]
so tish which used it must use sysmalloc and sysfree and history may contain trash line

[2020-04-18 14:28] puranjaymohan commented on #1886
@anton-bondarev Please tell me how to proceed with solving this issue. I am kind of stuck here.
Thanks

[2020-04-20 09:27] #1569 closed

[2020-04-20 18:18] Deryugin commented on #1886
@puranjaymohan I think that problem is in `openlibm-0.7.0/src/Make.files`. For some reason `s_roundl.c` (which implements `roundl()`) is compiled only for `i387 amd64 aarch64` architectures. Looks like it can be solved the same way it was solved for arm (take a look at `embox/third-party/lib/openlibm/patch.txt`).

[2020-04-20 19:10] anton-bondarev commented on #1886
@puranjaymohan Have you reproduced the trouble?

I see in openlibm/patch.txt
[code]

[2020-04-20 19:58] puranjaymohan commented on #1886
Hi @Deryugin Thanks for the insight, I have used the same method to solve it for mips.

@anton-bondarev Yes I have reproduced the issue and also solved it now after your suggestions. A pull request has been created #1956.
Thanks

[2020-04-22 00:24] sobhaniiest commented on #1954
Hi @anton-bondarev, I would like to work on this. Could you please assign this to me. Thanks :)

[2020-04-22 09:47] puranjaymohan commented on #1041
I would like to work on this. Please give me a few recommendations where I can start.
Thanks

[2020-04-22 12:50] #1886 closed

[2020-04-22 13:21] anton-bondarev commented on #1954
@sobhaniiest I've assigned it for you

[2020-04-22 13:36] alexkalmuk opened #1960 "usb-net and mass storage do not work together"
Make sure you have the following modules in `x86/qemu` and network cards removed except `usbnet`:

[code]

Run `./scripts/qemu/auto_qemu_with_usb_storage`. Embox hangs. It looks like to be a problem in usb stack or ohci.

[2020-04-23 17:20] puranjaymohan commented on #1955
I want to work on this. Why are globals a problem? and what is sysmalloc?
Thanks

[2020-04-24 08:25] anton-bondarev commented on #1955
The problem of global variables using is if Embox is configured without isolate process address spaces there would be only one instance of the variable for all tasks (processes) therefore we can not run several instance of this library at the same time. It's used in 'tish' (or other shells)  which in turn is used in telnet and so on. You can make sure about this, if connect with lelnet and look th

[2020-04-24 08:32] anton-bondarev commented on #1954
@sobhaniiest It's enough to increase UART_DATA_BUFF_SZ in ttys_procesing.c for solving this issue. But it is not a good way I also want to rework "buffer implementation" part
[code]
It is very exсess in my opinion

[2020-04-24 14:08] #724 closed

[2020-04-24 18:23] puranjaymohan commented on #1955
@anton-bondarev thanks for the explanation.
I am a beginner and that is why I ask before starting to solve an issue, I try to find issues which I am able to understand and solve.
Thanks.

[2020-04-24 22:36] sobhaniiest commented on #1954
Thanks for helping me out. For now, should I create a PR by increasing `UART_DATA_BUFF_SZ` or work on the "buffer implementation" part?

[2020-04-26 16:02] #1815 closed

[2020-04-26 20:54] nakul-shahdadpuri commented on #1850
#1952 added tests. Awaiting review.
Thank you.

[2020-04-27 07:09] anton-bondarev commented on #1850
Thanks, done

[2020-04-27 07:30] anton-bondarev commented on #1954
@sobhaniiest Can you investigate more deeply?
There is a loop in uart_irq_handler()
irq_return_t uart_irq_handler(unsigned int irq_nr, void *data) {
	struct uart *dev = data;

	if (dev->tty) {
		while (uart_hasrx(dev)) {
			uart_rx_buff_put(dev, uart_getc(dev));
		}
		lthread_launch(&uart_rx_irq_handler);
	}

	return IRQ_HANDLED;
}
 In which we check is there any symbols in UART and if there is ge

[2020-04-27 09:59] anton-bondarev commented on #1927
Closed by #1946

[2020-04-27 09:59] #1927 closed

[2020-04-27 10:39] anton-bondarev commented on #1685
@Deryugin is it closed by #1790 ?

[2020-04-27 10:45] anton-bondarev commented on #1955
@puranjaymohan No problem :) Thanks for your contributions!

Look at #1914 and #1916 I think these more clean issues. You can try to solve it and of course, don't hesitate to ask an explanation and discuss the issue

[2020-04-27 13:06] sobhaniiest commented on #1954
Sure! I'm working on this.

[2020-04-27 20:50] puranjaymohan commented on #1914
I want to work on this issue, please tell me where should I start and what documentation or code I should read.
Thanks

[2020-04-28 13:13] anton-bondarev commented on #1914
@puranjaymohan You can start with the creation of a new virtual device.
You can give src/drivers/virtual/zero.c as an example.

[2020-04-29 01:30] sobhaniiest commented on #1954
I've tried to copy & paste different size strings. The loop is running exactly the total no of symbols in the string, but the allocation of objects in `uart_rx_buff_put()` is done only for `UART_DATA_BUFF_SZ` times. We need to know the size of the string (pasting) before the pool allocation.

[2020-04-29 10:26] anton-bondarev commented on #1954
@sobhaniiest I suggested in the[ comment](https://github.com/embox/embox/issues/1954#issuecomment-619788654) rework uart_rx_buff_put() and the loop at all.

I mean something like the following
[code]
Of course, You have to disable irq when there are no free buffers and enable it if uart_rx_irq_handler  fulfilled (some free buffers will have appeared)

[2020-04-29 16:17] puranjaymohan commented on #1914
@anton-bondarev I have successfully created a new virtual device with the name "mem" and tested it on x86/qemu, /dev/mem is created. Now I need to understand how character drivers work with embox and how to mimic the operation of /dev/mem device. I tried reading the Linux implementation of /dev/mem, but its char drivers(syntax) are completely different from the embox.

Thanks

[2020-04-30 07:11] anton-bondarev commented on #1914
@puranjaymohan Perfect. Now look at `struct idesc_ops` especially `idesc_mmap` field which s required for mmap() from the issue example

`struct idesc_ops` is the structure for implementation of index descriptor operations.

Embox file sybsustem is similar Linux (Minix) but much easier and therefore with restrictions

[2020-04-30 17:56] puranjaymohan commented on #1914
Hi @anton-bondarev I looked at the struct `idesc_ops` at `src/include/fs/idesc.h`,
and also the `idesc_mmap` at `src/fs/syslib/idesc_mmap/idesc_mmap.c`. Is there an example where this is used and also how to test this?

[2020-05-01 00:14] puranjaymohan commented on #1914
Should I use the void *mmap_device_memory() to map the physical address to virtual address? But it requires the virtual address as a parameter. I think there is an option to send NULL as the parameter and then it should get mapped to any virtual address, but this functionality is not implemented as it is in TODO of that function.

[2020-05-01 08:08] anton-bondarev commented on #1914
I think the example in issue description is good for test
[code]

[2020-05-01 08:12] anton-bondarev commented on #1914
I think You should start from simple one-to-one mapping, so virtual and physical addresses are equals. I mean You can return physical address now now

[2020-05-01 14:11] anton-bondarev commented on #1816
@sk2sat @ThePiGrepper Hi, I've enabled 'atexit' task resource in #1967 Now you can use it and  #1824 for solving the issue

[2020-05-01 14:41] ThePiGrepper commented on #1816
Nice, Ill take a look at the new code.

[2020-05-01 19:27] puranjaymohan commented on #1914
@anton-bondarev I have added a pull request which tries to solve this, please have a look.
Thanks

[2020-05-03 08:09] Deryugin commented on #1685
Yes, it's closed now :)

[2020-05-03 08:09] #1685 closed

[2020-05-03 14:01] #1914 closed

[2020-05-04 09:23] anton-bondarev opened #1970 "Embox on qemu-system-x86_64"

[2020-05-04 09:36] anton-bondarev opened #1971 "arm/qemu uses 100% one core of host cpu"
It's enough to use arch_idle() with speeling

[2020-05-04 18:57] #1954 closed

[2020-05-10 13:29] anton-bondarev opened #1977 "Enable PLATFORM name in sources as macro"
There is an opportunity to set a platform through 'PLATFORM' variable in build.conf but this variable not available in source code

[2020-05-11 16:55] ThePiGrepper opened #1980 "STM32F4 default config keeps restarting"
Using arm/stm32f4-discovery default configuration, immediately after exec'ing tish and showing the prompt, it show the following error and restarts.

[code]
After bisecting the tree, the bug started at:
**84747575fc6d87bbca4e1a1d713a4ca6265c4794 : third-party: Porting new version of linenoise**

**Obs:**
There are two different observable behaviors:
The one explained previously happens after 84747

[2020-05-11 17:41] anton-bondarev commented on #1980
@ThePiGrepper Thanks a lot.
I think that fixed it in #1979

[2020-05-11 18:16] ThePiGrepper commented on #1980
indeed. that should fix it. :+1:
there's still the issue of 4d092c5 though. I find it quite strange that the following lines:
-void (*cortexm_external_clock_hnd)(void);
(...)
-       if (cortexm_external_clock_hnd) {
-               cortexm_external_clock_hnd();
-       }
inside the systick IRQ handler actually make it stop rebooting, instead reaching level 3.
do you know why is that?

[2020-05-11 19:21] ThePiGrepper commented on #1980
hm, apparently it doesnt fix it after all. I cherry-picked the commit from master and it manages to reach prompt fine, however it doesnt handle <return> correctly.

[2020-05-12 08:22] anton-bondarev commented on #1980
Hm, It's odd. But I think It's another problem. It's a pity I have not stm32f4 today, only stm32f7 . I checked on it and all work correctly. Can you investigate the trouble more deeply? Rollback to the next after " third-party: Porting new version of linenoise" and cherry-pick  diff from #1979

[2020-05-12 14:27] ThePiGrepper commented on #1980
Ok, I will. it's weird that it only happens with the stm32f4, and not with the f7 though. btw, do you have an idea of why this happened?

[2020-05-12 16:00] anton-bondarev commented on #1980
@ThePiGrepper Let's try to separate issues (terminal and clock)
Can you create a new issue for cortexm systick? Just copy into a new issue.

About linenoise trouble. Did you revert commits until the new version of linenoise and cherry-pick diff from #1979? Did the problem reproduce?

[2020-05-12 16:21] ThePiGrepper commented on #1980
the clock 'issue' I dont know if I would even consider an issue. I'm just curious about how something like those three lines can change the behavior of the breakage. Probably @alexkalmuk knows, because he removed those lines.
Nevertheless, putting that aside. Regarding the linenoise issue, I did what you suggested,

and it behaves just the same as it does in master after patching. it mishandles  \

[2020-05-14 08:46] alexkalmuk commented on #1980
@ThePiGrepper Hi! I do not have the cable to see the serial output on F4 right now, sorry.

As far as I understand

[code]

leads to F4 rebooting? When? After `route add 192.168.1.0 netmask 255.255.255.0 eth0` executed?

[2020-05-14 20:01] ThePiGrepper opened #1984 "vfork/exec is not creating processes with new PIDs"
after forking a process with vfork(), the new process, even after an immediate exec(), keeps the parents PID.

[2020-05-15 13:43] alexkalmuk opened #1987 "Enable FPU only if required on Cortex-M"
In the current implementation, FPU is enabled once at the system start and working for all threads. We should implement `try_vfp_instructions` to enable FPU only if it is required.

[2020-05-15 16:54] ThePiGrepper commented on #1980
That's the weirdest part, I did add a printk() inside the if statement and it actually doesnt enter at all. I just did the test again(you can do it on top of master as well, you only need to add those 4 lines back to src/drivers/clock/cortexm_systick.c with the printk() line inside the if() and change LINENOISE_MAX_LINE back to 4096), and it indeed changes the behavior of the bug.
Should we just i

[2020-05-15 18:59] anton-bondarev commented on #1980
@ThePiGrepper Please try to modify your conf/mods.config with
[code]
and check console input

[2020-05-15 21:20] ThePiGrepper commented on #1980
It's not that. all input is detected normally. the issue happens when I send \<return\> and instead of treating it like the line delimiter, it just treats it as a regular character, echoing it (going to nextline).

[2020-05-16 11:28] sk2sat commented on #1971
What is "speeling"?
I think this issue can be fix by implementing arch_idle() for arm/qemu(arm926ejs).
Is this recognition correct?

And, does the detailed documentation for Mybuild exist?

[2020-05-16 11:36] anton-bondarev commented on #1980
@ThePiGrepper  I want to localize the problem
As I wrote I haven't any stm32f4-discovery today, but I have stm32f7 which working. I analyzed what's different between them, and think that they use different tty (f4 diag serial tty and f7 ttyS0). So I changed my conf/mods.config for f7 board
[code]
with
[code]
and reproduced behaviour which you described in the issue

The difference between diag and

[2020-05-16 11:53] anton-bondarev commented on #1971
I mean that 'arm/qemu' uses 'embox.arch.generic.arch' module
[code]
'embox.arch.generic.arch' has trvial arch_idle implementation
[code]

Therefore 'idle thread' is never asleep.
As I know there is an assembler instruction which makes CPU sleep until IRQ. you should use one in your arch_idle() implementation

[2020-05-16 11:57] #1791 closed

[2020-05-16 12:05] anton-bondarev commented on #1971
@sk2sat

Yes, I think You right, I described it above (previous comment).

Unfortunately not, Some information can be found in issue #1774 and you can ask in the issue what exactly you want to know

[2020-05-16 13:00] sk2sat commented on #1971
Thanks for detailed reply. I'll check it out.

[2020-05-16 17:00] ThePiGrepper commented on #1980
oops, sorry, I forgot to say that I did test what you asked, and there's no difference. sorry for the confusion.

[2020-05-17 10:12] anton-bondarev commented on #1980
Oh, sorry. I undertood now. Thanks a lot!

[2020-05-17 19:24] anton-bondarev commented on #1980
@ThePiGrepper Look at #1990 please.

[2020-05-17 19:41] anton-bondarev opened #1991 "./scripts/qemu/auto_qemu doesn't work if there is no network card in config"
for example
[code]
and run
[code]

[2020-05-18 01:31] ThePiGrepper commented on #1980
this solved the issue. :-)

[2020-05-18 06:53] anton-bondarev commented on #1980
@ThePiGrepper Thanks
I've merged it to master

[2020-05-20 16:17] anton-bondarev opened #1993 "OpenCV doesn't produce libopencv_objdetect.a library"
OpenCV doesn't produce libopencv_objdetect.a library although there is `-DBUILD_opencv_objdetect=ON ` in config flags

[2020-05-28 17:52] alexkalmuk opened #2002 "stm32: embox wrong prompt after telnet exit"
Template: `arm/stm32f746g-discovery`

Connect with telnet and exit connection:

[code]

Then go to embox shell and press enter:

[code]

p.s.
I tried this on `x86/qemu` and `arm/qemu`, but it is not reproducible.

[2020-05-29 17:09] anton-bondarev opened #2003 "Improve SPI interface"
There are some examples of using SPI interface. Settings can be set up in mods.config and header, but in real life, each device has its required settings of SPI, for example, SPI clock polarity (high or low) frequently, how chip select must use, etc. These options can be set only in runtime before master or slave start use the bus

[2020-05-29 17:24] anton-bondarev opened #2004 "Improve GPIO API"
There is GPIO API [https://github.com/embox/embox/wiki/GPIO](https://github.com/embox/embox/wiki/GPIO) gpio_set(PORT, PIN, value).  But it would be useful if there was 'struct gpio' with port and pin number abstraction so could use gpio_pin_set(pin, value)

[2020-05-31 13:36] anton-bondarev commented on #537
There is a touchscreen implementation for stm32. It's used in [nuklear demo](https://github.com/embox/embox/wiki/Nuklear)

[2020-05-31 17:33] anton-bondarev opened #2009 "Improve arch idle for ARM arch"
There are different methods to call (wait for interrupts) [http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.faqs/ka13332.html](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.faqs/ka13332.html)

It's useful to use unify code for ARM, and switch sub arches with macro

[2020-06-01 09:46] anton-bondarev opened #2010 "Improve system tymer"
Now there is a module embox.kerner.time.timer_handler with module init routine.
Code from this module can be moved to clock_source module, and init can be called from clock_source_register. So it's allowed to rm checking inited variable from clock_tick_handler and test whether lthread_register or not only during clock_source_register

[2020-06-01 09:51] alexkalmuk opened #2011 "microblaze is partially broken after systimer changes"
Something goes wrong after https://github.com/embox/embox/commit/68cab20206b4e1dbf9f1bb44592b54f58863051f. The following assert happens from time to time:

[code]

Also, network is broken (there is no irqs from net card).

[2020-06-01 10:06] anton-bondarev opened #2012 "Rm embox.kernel.time.slowdown module"
embox.kernel.time.slowdown module is weird. It's used to make slower system clock, but why system_freq is not been able to use for the aim. Why there some code with this logic exists in clock_tick_handler

[code]
[code]

[2020-06-02 11:43] alexkalmuk commented on #2011
After https://github.com/embox/embox/pull/2013 things works, but MMU is disabled. With MMU enabled the assert described in this issue regularly happen.

[2020-06-02 11:58] alexkalmuk opened #2014 "Run Embox on qemu risc-v"

[2020-06-02 11:59] alexkalmuk opened #2015 "Run USB device example from STM32xCube"

[2020-06-02 12:32] alexkalmuk opened #2016 "cortex-m7: Enable Data and Instruction L1 caches"
This will possibly increase the performance of our applications (pjsip, opencv, etc.). In stm32 cube you can search for `CPU_CACHE_Enable`. But enabling of these caches may lead to instruction and data barriers in our stm32 drivers.

[2020-06-02 13:11] alexkalmuk opened #2017 "cortex-m: Store ISR vector in flash memory by default"
Currently, on almost all stm32 boards ISR vector is filled in RAM, which required an extra 512 bytes (if 128 entries), or even 1 Kb (256 entries). Practice shows us that RAM is a more "expensive" memory when we are trying to launch a lot of stuff in one config (many threads, sockets, large heap, etc.). So it looks like locating ISR vector in flash memory would be useful

[2020-06-03 08:36] anton-bondarev commented on #1991
Hot fix: It's be able to copy start line generated auto_qemu and remove `-runas anton` to run Embox on qemu without network
[code]
change to
[code]

or for risc-v/qemu
[code]
should use
`qemu-system-riscv32 -M virt -kernel ./build/base/bin/embox -m 512 -nographic`

[2020-06-04 09:53] #1848 closed

[2020-06-04 09:59] #1971 closed

[2020-06-06 09:51] #2010 closed

[2020-06-07 09:41] anton-bondarev opened #2022 "Weird nanosleep implementation"
There is an implementation of nanosleep() in embox.compat.posix.util.sleep which contains EMBOX_UNIT_INIT(nanosleep_init) more than there is weird nanosleep_calibrate in it.

Also, there is
[code]

[2020-06-08 09:57] alexkalmuk opened #2023 "cortex-m: Improve and use static IRQ everywhere"
Currently, most of stm32 templates using `embox.kernel.irq` which declares two pools - irq_entries, irq_actions, and a static array irq_table. For 128 IRQs it's > 6 Kb in size - too large. Static IRQs provide a single ISR vector section which can be stored in ROM, so only 512 bytes are required for 128 IRQs.

Current static irq implementation suffers from not correct IRQ handling - it doesn't call

[2020-06-08 10:45] anton-bondarev opened #2024 "arm/qt-app template is broken"
during building arm/qt-app template following errors appear

[code]

[2020-06-12 11:37] sk2sat commented on #2014
I am trying to create riscv/qemu64 template and fix src/arch/riscv/ to work on 64bit,
but is it better to create riscv64/qemu like mips64?

[2020-06-12 13:12] anton-bondarev commented on #2014
I meant just run existing template riscv/qemu, but of cause, it's better if you create riscv64/qemu to start riscv64 supporting.
I think you should create full riscv64/qemu not only link as mips64

Is MAix BiT riscv64?

[2020-06-12 13:46] sk2sat commented on #2014
Thanks.
Then I will implement riscv64/qemu(because MAix BiT is riscv64).

[2020-06-13 10:26] #2012 closed

[2020-06-14 11:09] anton-bondarev opened #2032 "pthread_mutex_timedlock() has not been implemented"
[https://pubs.opengroup.org/onlinepubs/009695399/functions/pthread_mutex_timedlock.html](https://pubs.opengroup.org/onlinepubs/009695399/functions/pthread_mutex_timedlock.html)

[2020-06-14 17:46] puranjaymohan commented on #2003
I would like to work on this, please assign it to me.

[2020-06-15 07:59] anton-bondarev commented on #2003
@puranjaymohan I've assigned.

Do you have any board to check SPI work?

[2020-06-15 08:15] anton-bondarev commented on #1993
I've started working on the issue. The problem was in restcicted configuration for openCV which obstruct libopencv_objdetect.a. It requires calib3d which depend on flann module. I've fixed it in commit [e5f535f0](https://github.com/embox/embox/commit/e5f535f0502419f8da81ba8567084eccc14e463b). But now objdetect required supporting C++ 11 features (std::thread, std:: mutex, std::condition_variable)

[2020-06-15 08:32] puranjaymohan commented on #2003
@anton-bondarev I have a STM32 nucleo board, I think it can be used for testing.

[2020-06-15 08:39] anton-bondarev commented on #2003
Great!

[2020-06-16 09:11] puranjaymohan commented on #2003
@anton-bondarev I am trying to find the exact headers where SPI settings are present also the examples you said, where is it located.
thanks

[2020-06-16 10:29] anton-bondarev commented on #2003
@puranjaymohan I mean that SPI settings are contained in [src/drivers/spi/stm32/spi_conf_f4.h](https://github.com/embox/embox/blob/master/src/drivers/spi/stm32/spi_conf_f4.h) and it's not very comfortable for users. It's better if users can set up pins in a template for their boards (project).

Let's try to start your board with SPI at first& What is exactly your board?

[2020-06-16 12:16] puranjaymohan commented on #2003
@anton-bondarev I have ST's NUCLEO-L476RG board it is based on the STM32L476RG which is an ARM Cortex-M4 microcontroller. it has 3 SPIs and 1 Quad SPI.
https://www.st.com/en/evaluation-tools/nucleo-l476rg.html

[2020-06-16 12:45] anton-bondarev commented on #2003
@puranjaymohan  Ok,  there is no support your board in Embox. But there is support  NUCLEO-F429ZI and stm32l4-discovery, therefore, I hope that porting will not difficult. Do you want to port Embox on  NUCLEO-L476RG. I will help you and try to buy the board as soon as possible. Should I create an issue to discuss the porting process or you do it?

[2020-06-16 13:07] puranjaymohan commented on #2003
@anton-bondarev I would love to help in porting Embox to NUCLEO-L476RG. Please create the issue for the porting process and add the details as I never ported an RTOS to a new architecture. I think this would be a great project for me.

[2020-06-16 14:44] puranjaymohan commented on #2003
It would be fun porting embox to the new microcontroller.

[2020-06-16 15:55] anton-bondarev opened #2034 "Port on NUCLEO-L476RG"
Add supporting NUCLEO-L476RG board

[2020-06-16 15:57] anton-bondarev commented on #2003
@puranjaymohan I've created issue #2034

[2020-06-16 16:07] anton-bondarev commented on #2034
@puranjaymohan
The closest board which Embox supports is arm/stm32l4-discovery. I think that it is a good idea to clone this template to start the issue.
Also, there is a sub-task enable stm32l4cube for different boards. Look at third-party/bsp/stm32f4cube or hird-party/bsp/stm32f4cube/stm32f7cube for example

[2020-06-16 16:38] anton-bondarev opened #2035 "Update stm32l4cube"
There is repository on github for stm32l4cube [https://github.com/STMicroelectronics/STM32CubeL4/releases/tag/v1.14.0](https://github.com/STMicroelectronics/STM32CubeL4/releases/tag/v1.14.0)

[2020-06-16 16:42] anton-bondarev opened #2036 "Update stm32f4cube"
There is stm32f4cube repository on github [https://github.com/STMicroelectronics/STM32Cubef4](https://github.com/STMicroelectronics/STM32Cubef4)

[2020-06-16 16:44] anton-bondarev opened #2037 "Update stm32cubef7"
There is stm32cubef7 repository on github [ https://github.com/STMicroelectronics/STM32Cubef7]( https://github.com/STMicroelectronics/STM32Cubef7)

[2020-06-16 17:55] puranjaymohan commented on #2035
@anton-bondarev
I checked this file /home/puranjay/gsoc2020/embox/third-party/bsp/stml4cube/Makefile
PKG_SOURCES := http://download.embox.rocks/en.$(PKG_NAME).zip
so it downloads the file from here, does the zip file at this domain has to be changed to the latest zip file or the URL in this Makefile can be changed to https://github.com/STMicroelectronics/STM32CubeL4/archive/v1.14.0.zip
If this is

[2020-06-16 18:43] puranjaymohan commented on #2034
@anton-bondarev I saw the file third-party/bsp/stml4cube/Mybuild here there is not a separate directory for STM32L475, it should be in its separate directory and in the root directory only abstract modules should be defined as it is done for stm32f7cube.
So we will have to move STM32L475 specific modules to its own folder and create a new directory for STM32L576 and add its modules there.

Please

[2020-06-16 18:46] anton-bondarev commented on #2035
@puranjaymohan Thanks, You are right. I'm trying to fix the problem. I want to switch to downloading from https://github.com/STMicroelectronics/STM32CubeL4/archive/v1.14.0.zip

[2020-06-16 18:50] anton-bondarev commented on #2034
@puranjaymohan Yes, you are right!

[2020-06-16 18:55] anton-bondarev commented on #2035
@puranjaymohan But if you do this it is great :)

[2020-06-16 18:58] puranjaymohan commented on #2035
@anton-bondarev I have started working on it, I will make pull requests for all these issues soon.

[2020-06-16 20:02] anton-bondarev opened #2039 "arm/stm32l4-discovery is broken"

[2020-06-16 20:57] puranjaymohan commented on #2039
@anton-bondarev is this problem is due to the template or the BSP? I tried changing some paths in the BSP's Mybuild and arm/stm32l4-discovery built correctly.
I changed all references of `STM32Cube_FW_L4_V1.14.0` to `STM32CubeL4-1.14.0` in every place in the `embox/third-party/bsp/stml4cube/Mybuild `and after this it built properly.

[2020-06-17 07:28] anton-bondarev commented on #2039
@puranjaymohan Great. Add a commit with the changes to PR #2038
And you close both issues  #2039 and #2035

[2020-06-17 09:44] puranjaymohan commented on #2039
@anton-bondarev I have made the changes and added the commit.
Please merge the PR, when you feel it is correct.

[2020-06-17 10:14] puranjaymohan commented on #2034
@anton-bondarev I will try to first put STM32L475 in its separate folder and make the folder structure and then try to build the arm/stm32l4-discovery and see that I don't break it in the process.
Then I will copy the folder for STM32L475 BSP and create the BSP for STM32L476.

In the next step, I will copy arm/stm32l4-discovery and create the template for the NUCLEO board and then try to build it.

[2020-06-17 13:40] anton-bondarev commented on #2034
@puranjaymohan Yes, you in the right way

Also, I think you should check uart settings for STM32L476 in src/drivers/serial/stm32_usart/stm32_usart_conf_l4.h. Of course, you can just run and look at the output in the terminal? but maybe your board has different settings (uart number and pin settings).

You can also check terminal settings if you run any working example (for example from cubeMX)

[2020-06-17 13:49] #2035 closed

[2020-06-17 13:49] #2039 closed

[2020-06-17 14:18] puranjaymohan commented on #2034
@anton-bondarev I checked in the datasheet of my board, the TX pin is PA2 and RX pin is PA3 for the UART2, in src/drivers/serial/stm32_usart/stm32_usart_conf_l4.h the values have been hardcoded for the discovery board, shouldn't the Serial Driver work regardless of the board type. or there should be a separate header for each board. The best would be if we can define the UART pins in the template

[2020-06-17 14:58] anton-bondarev commented on #2034
For now, I suggest using the same header but separate through UART number as in src/drivers/serial/stm32_usart/stm32_usart_conf_f4.h
there is branch `#elif MODOPS_USARTX == 2` for UART2 Nucleo and UART1 for discovery
Except this I suggest add a macro for board definition to CFLAGS (build.conf)

[2020-06-17 16:59] puranjaymohan commented on #2039
@anton-bondarev I was trying to build this and an error started to appear
```error: 'OPTION_NUMBER_embox__driver__serial__stm_usart_f3__usart1_irq' undeclared here (not in a function); did you mean 'OPTION_NUMBER_embox__driver__serial__stm_usart_l4__usart1_irq'?```

What is this? how to solve this?

[2020-06-17 17:11] anton-bondarev commented on #2039
@puranjaymohan Give me please more detailed log
`OPTION_NUMBER_embox__driver__serial__stm_usart_f3__usart1_irq`
It seems you've included 'stm_usart_f3' module instead of 'stm_usart_l4'

[2020-06-17 17:14] anton-bondarev commented on #2039
@puranjaymohan Ops, I see.

[2020-06-17 17:16] puranjaymohan commented on #2039
This line is in the header stm32_usart_conf_l4.h
[code]

[2020-06-17 17:17] puranjaymohan commented on #2039
Why is this here, also earlier it was building fine, I don't know what happened now. Also, I didn't add that line there.

[2020-06-17 17:20] anton-bondarev commented on #2039
[code]
Yes It's not your fault It happend in #2033

[2020-06-17 17:23] puranjaymohan commented on #2039
@anton-bondarev So should, I add another PR for this or it will be solved by editing #2033

[2020-06-17 17:24] anton-bondarev commented on #2039
Thanks a lot!

[2020-06-17 17:32] puranjaymohan commented on #2039
@anton-bondarev I have added a PR for solving this, Now I can work on porting it to Nucleo Board :smile_cat:

[2020-06-17 17:55] puranjaymohan commented on #2034
@anton-bondarev I have added the following lines too, Will be making the PR in few minutes.
[code]

[2020-06-18 16:23] puranjaymohan commented on #2034
@anton-bondarev what did you mean by this? does it mean -DSTM32L476xx

[2020-06-18 16:39] anton-bondarev commented on #2034
Yes I think it's a good idea to add -DSTM32L475xx and -DSTM32L476xx to CFLAGS instead of using @DefineMacro("STM32L475xx") and  @DefineMacro("STM32L476xx") in Mybuild file for stm32cubel4

[2020-06-20 09:17] anton-bondarev commented on #1796
It seems It has fixed in WSL2 as described in [microsoft/WSL#633 ](https://github.com/microsoft/WSL/issues/633)

[2020-06-20 12:57] alexkalmuk opened #2047 "stm32f7-discovery: Network is not working (sometimes) on first reset"
When you flash stm32f7-discovery (746g or 769i boards, for example) you can wonder why ping is not working. But if you reboot your board (without powering off) - e.g. `monitor reset halt`, then network works fine.

[2020-06-20 22:52] yuppox opened #2048 "Build error"
Using Debian Linux.
I am getting a build error:

[code]

[2020-06-21 11:20] alexkalmuk commented on #2048
@yuppox Hi, which template you are building? Are you in /tmp/embox folder?

[2020-06-21 16:38] anton-bondarev commented on #2048
@yuppox Please give previous output lines.

I met this message when I forgot to install unzip

[2020-06-21 16:45] #2034 closed

[2020-06-21 17:00] puranjaymohan commented on #2003
@anton-bondarev Now as it has been ported to Nucleo-L476RG, tell me how to proceed?

[2020-06-21 17:13] puranjaymohan commented on #2003
@anton-bondarev I see that SPI is supported for stm32f4, so should we first make it independent of that or add SPI support for stm32l4?

[2020-06-21 17:50] anton-bondarev commented on #2003
@puranjaymohan Do you have any devices with SPI interface which can be connected to Nucleo-L476RG?

I think you should start with stm32l4 support. I'm going to improve SPI for stm32 within two days. Now I have nucleo-stm32f429 with connected a SPI device, and I can check it

[2020-06-21 18:35] puranjaymohan commented on #2003
@anton-bondarev

I have an Arduino, which I can use to send and receive dummy data over SPI after connecting it to Nucleo.

[2020-06-21 18:58] anton-bondarev commented on #2003
Great! Let's start with an example from cubel4?

[2020-06-22 14:02] alexkalmuk opened #2050 "stm32f7-discovery: Telnet connection failure when compiled with -O2"
It looks like a stack corruption (probably during vfork, or interrupt) when we are in telnet_create_new_session - `struct telnet_session *ts` becomes NULL after vfork()'ed.

[2020-06-22 18:15] puranjaymohan commented on #2003
@anton-bondarev I tried running an example code from stm32cubel4 and I thing the following details from the example are useful for implementing the driver in embox

This is SPI1 related configurations
[code]
This is for the GPIOs used by SPI1
[code]

[2020-06-23 07:57] anton-bondarev commented on #2003
Yes, It seems you are in the right way!

[2020-06-23 08:01] #2050 closed

[2020-06-23 13:15] abusalimov opened #2054 "GDB reports corrupt stack when debugging x86/qemu"
[code]

### Steps to reproduce:
- build x86/qemu
- run `auto_gemu -s -S`
- attach with GDB to `:1234`
- put a breakpoint to some function, I tried in `__schedule`, and into a test case of 'critical'.
- when the breakpoint hits, observe the corrupt stack
- try next on a line with a call, it steps into instead of stepping over the call

Adding `-fno-omit-frame-pointer` has no effect.

WSL2, GCC 9.3.

[2020-06-23 17:26] puranjaymohan opened #2055 "Add SPI driver support for STM32Cubel4"
Add support in the SPI driver for microcontrollers based on STM32CubeL4. Currently, Embox supports two boards based on L4, STM32l4-discovery, and NUCLEO-l476RG.
Currently, the SPI driver only supports stm32cubef4 and therefore we need to add support for other boards too.

[2020-06-23 18:49] puranjaymohan commented on #2055
I have mostly completed adding the L4 support in SPI driver, but the SPI driver uses the GPIO driver which is not present for L4, so the GPIO driver has to be created for L4 then only SPI can be added.

[2020-06-23 18:50] puranjaymohan opened #2056 "Add GPIO driver support for STM32L4"
Currently, there is not GPIO driver for L4, it has to be added.

[2020-06-24 07:28] puranjaymohan commented on #2055
@anton-bondarev I am getting an error while compiling the SPI driver, can you tell me what it is.
[code]

[2020-06-24 08:46] anton-bondarev commented on #2055
@puranjaymohan  It seems the problem is in CHAR_DEV_DEF macro implementation without devfs . Try to add casting to (void *)
https://github.com/embox/embox/blob/master/src/drivers/char/char_dev_stub.h#L23
[code]
And don't forget 'make clean' before rebuild

[2020-06-24 10:51] puranjaymohan commented on #2055
@anton-bondarev Now it builds correctly after adding (void *). Please merge the GPIO PR because SPI depends upon GPIO and then only I will be able to add PR for SPI.

[2020-06-24 11:04] #2056 closed

[2020-06-24 11:05] anton-bondarev commented on #2055
@puranjaymohan done!

[2020-06-25 05:26] akshayrock opened #2060 "stm32F769i-discovery board ip camera video accessing"
Greetings,
I am using embox on stm32f769i discovery board.I was trying to access ip camera (model :CP-UNC-TA21L5 )stream and take a image of it and store it in the board,but as I notice embox-opencv's videoio was not enabled.I enabled videoio in opencv makefile then tried to get stream using  videocapture api which is defined in opencv,but it throws out an error and resets.
I have mentioned the er

[2020-06-25 09:51] anton-bondarev commented on #2060
@akshayrock Hi,

[code]
It seems that 'kernel.thread.thread_local_none' is used it your mods.conf. Try to change it to 'embox.kernel.thread.thread_local_heap'

[2020-06-25 12:30] anton-bondarev opened #2062 "riscv/qemu-sifive-u is broken"
there is no output for riscv/qemu-sifive-u template

[2020-06-26 04:38] akshayrock commented on #2060
Hi Anton,Thanks for the response,I tried the same changes as you have mentioned and loaded the code,but still getting same error.I will copy the mods.conf here please let me know if I am making any mistakes.
package genconfig
configuration conf {    @Runlevel(0) include embox.arch.system(core_freq=216000000)    @Runlevel(0) include embox.arch.arm.cortexm3.bundle    @Runlevel(0) include third_party

[2020-06-26 04:48] akshayrock commented on #2060
Hi Anton,Thanks for the response,I tried the same changes as you have mentioned and loaded the code,but still getting the same error.I will copy the mods.conf here please let me know if I am making any mistakes.

[mods.txt](https://github.com/embox/embox/files/4835151/mods.txt)

[2020-06-27 10:02] anton-bondarev opened #2064 "Enable timer for riscv64/qemu"

[2020-06-27 10:11] anton-bondarev commented on #2014
Closed by #2053

[2020-06-27 10:12] anton-bondarev commented on #2014
Closed by #2053

[2020-06-27 10:12] #2014 closed

[2020-06-27 10:16] anton-bondarev commented on #2064
@sk2sat I've created the issue for next step in ["Porting Embox to MAiX BiT" project](https://github.com/embox/embox/projects/4)

[2020-06-29 09:47] #2015 closed

[2020-06-29 09:49] ThePiGrepper opened #2066 "Detect STM32F4-Discovery as USB device using lsusb"

[2020-06-29 12:19] anton-bondarev commented on #1701
Closed by #2008

[2020-06-29 12:19] #1701 closed

[2020-06-29 12:39] anton-bondarev commented on #1816
Closed by #1824

[2020-06-29 12:46] anton-bondarev commented on #1816
Closed by #1824

[2020-06-29 12:46] #1816 closed

[2020-06-29 18:37] #2062 closed

[2020-06-30 11:54] #2064 closed

[2020-06-30 14:01] anton-bondarev commented on #1858
Closed with #2072

[2020-06-30 14:01] #1858 closed

[2020-06-30 14:49] kouamdo commented on #1916
Please assign me that issue ...
I want to know about align memory allocation in embox

[2020-06-30 14:57] anton-bondarev commented on #1916
@kouamdo done

[2020-07-01 07:08] alexkalmuk commented on #2015
Cool, thanks.

[2020-07-01 07:16] alexkalmuk commented on #2066
How are you going to start? I'd propose to add a driver in Embox based on STM32Cube directly. Then we can reply something there for "get device descriptor" request.

[2020-07-01 07:28] alexkalmuk opened #2076 "USB device mode discussion"
USB device mode (in Linux it's called USB gadget) allows you to create USB devices like CDC, MSC, HID, etc. There is no such ability in Embox yet (but we are working on it now). But what is relatively (but not fully) clear to me currently:

* There should be USB device controller (UDC). It's a hardware controller that performs all low-level work - enables endpoints, moves USB data to and from endp

[2020-07-01 07:32] alexkalmuk commented on #2076
I added one UDC for da14695 (cortex-m33), but we need more UDC examples to better understand how controllers work. I think it's a good point to investigate is https://github.com/embox/embox/issues/2066

[2020-07-01 13:53] #1980 closed

[2020-07-01 14:04] anton-bondarev opened #2079 "sifive-plic haven't been implemented yet"

[2020-07-02 11:15] ThePiGrepper commented on #2066
I was doing this directly. however I took a look at the new gadget structure you merged today and I think it's better to start testing that interface with as many gadgets as possible, as well as with more than one UDC, to see if it needs some changes. I'm currently working on the UDC implementation for stm32f4 based on CubeF4, and on a CDC gadget. I was going to do the CDC gadget first, but I dont

[2020-07-02 11:17] ThePiGrepper commented on #2076
indeed. I took my time reading the new code from https://github.com/embox/embox/pull/2075, and I basically understood it, so I'm trying to get the UDC for STM32F4 done today.

[2020-07-03 07:15] alexkalmuk commented on #2066
:+1:

Yes, if you will have a CDC gadget, you can push it to a branch and we will try to check. There is only RNDIS gadget now in repo, and it's very similar to CDC ECM. By the way, you can create branches directly in this repository.

[2020-07-03 17:08] ThePiGrepper commented on #2066
Oh, I see. that could be helpful indeed. thx for letting me know.

[2020-07-04 11:05] anton-bondarev opened #2082 "MAiX-BiT boot code"

[2020-07-05 17:12] #2036 closed

[2020-07-07 15:31] anton-bondarev opened #2088 "'ticker' command is not work on riscv/qemu & riscv64/qemu"
if run 'ticker' on riscv/qemu
[code]

[2020-07-09 10:51] #1993 closed

[2020-07-09 12:39] anton-bondarev commented on #2060
@akshayrock Hi, sorry for the slow response.
Your config looks correct.
We've updated opencv/stm32f769i-discrovery template and enable objdetect in common opencv configuration in #2089 so could you update Embox and try again?

Except this

Could you give me Makefile and example code (or github branch) to i can reproduced the problem on my board?

[2020-07-14 14:59] puranjaymohan commented on #2055
@anton-bondarev #2058 closes this.

[2020-07-14 15:02] puranjaymohan commented on #2017
@alexkalmuk is this issue resolved? If not then I would like to work on this.

[2020-07-14 17:15] alexkalmuk commented on #2023
Resolved by https://github.com/embox/embox/pull/2046 and https://github.com/embox/embox/pull/2049

[2020-07-14 17:15] #2023 closed

[2020-07-14 17:17] alexkalmuk commented on #2017
Yes, it is resolved by https://github.com/embox/embox/pull/2046 and https://github.com/embox/embox/pull/2049. We have made a work on IRQ's there, so now ISR vector is located in ROM if you are using the static irqs (embox.kernel.irq_static).

[2020-07-14 17:17] #2017 closed

[2020-07-15 10:39] #2055 closed

[2020-07-15 10:42] puranjaymohan commented on #2004
@anton-bondarev Please explain more how this should work.

[2020-07-15 17:22] anton-bondarev commented on #2055
O, yes, of course, thanks!

[2020-07-15 17:30] anton-bondarev commented on #2004
@puranjaymohan
I mean It's useful if it's expanded API with structure gpio wich contains port and pin fields (and controller of course). then it  possible to use the only pointer to gpio structure without store PORT and PIN value

[2020-07-15 17:47] puranjaymohan commented on #2004
So we will use something like the following ?
[code]

[2020-07-15 18:24] anton-bondarev commented on #2004
Almost, but rather like that:
[code]

[2020-07-16 06:51] akshayrock commented on #2060
@anton-bondarev Hi,thanks for the reply
I will attach the files which i have changed from original embox source
[embox.zip](https://github.com/embox/embox/files/4929771/embox.zip)
. platforms->opencv->cmds->imagecapture is the file which will capture the image frame from the ip camera.I have also tried to get the frame of a sample video file which is in conf->rootfs->sample.avi both results the sa

[2020-07-16 16:11] alexkalmuk opened #2097 "^MOD_PATH vs"
It's from third-party/bsp/stmf7cube/stm32746g/Mybuild:

[code]

The question is:

[2020-07-16 16:16] alexkalmuk commented on #2097
`^MOD_PATH` is then substituted in mk/ to get a correct module name. Can we use it for `@IncludePath`? Or maybe to use `$(EXTERNAL_BUILD_DIR)` for `@AddPrefix` instead?

[2020-07-16 18:14] puranjaymohan commented on #2037
I have started working on this.

[2020-07-16 18:14] puranjaymohan commented on #2004
@anton-bondarev I will start working on this, once I finish updating stm32cubef7.

[2020-07-16 18:15] anton-bondarev commented on #2037
@puranjaymohan :+1:

[2020-07-16 18:16] anton-bondarev commented on #2004
Ok!

[2020-07-16 18:20] alexkalmuk commented on #1916
I just want to mention that `malloc.h` (which declares `pvalloc`) is not a part of POSIX. It's due to discussions in the telegram group.

So maybe to add malloc.h to src/compat/linux, for example.

[2020-07-16 18:36] kouamdo commented on #1916
src/compat/libc/include/malloc.h indeed , okay , thank you :)

[2020-07-16 19:05] alexkalmuk commented on #1916
@kouamdo I would even propose `src/compat/linux/include/malloc.h` of something like this. Because the important point here is that malloc.h is _not_ a part of libc, but a part of GNU libc. So it seems to be reasonable to have it in linux-specific folder.

[2020-07-17 03:44] mycan12345 opened #2099 "port embox to NXP imx.rt600"
About how to port embox to NXP imx.rt600. cortex-m33, up to 300Mhz,  4.5M on chip SRAM

[2020-07-17 06:13] puranjaymohan commented on #2037
@anton-bondarev How to generate new patch files for this, namely, audio and patch.text

[2020-07-17 11:37] anton-bondarev commented on #2037
@puranjaymohan There is a helper script ./scripts/app_diff.sh. It contains comments how to use it.

[2020-07-19 06:37] puranjaymohan commented on #2037
@anton-bondarev I saw the script, but I am still confused. The old patch file had `STM32Cube_FW_F7_V1.5.0` at all places but the new archive doesn't have that folder, it has `STM32CubeF7-1.16.0`

[2020-07-20 15:49] #654 closed

[2020-07-20 18:16] alexkalmuk commented on #2037
@puranjaymohan What if to replace `STM32Cube_FW_F7_V1.5.0` with new `STM32CubeF7-1.16.0` and check if these new patches will apply correctly?

[2020-07-21 10:38] puranjaymohan commented on #2037
@alexkalmuk I tried that already, it is causing some problems.

[2020-07-23 12:32] alexkalmuk opened #2105 "tish: Improve on-stack allocation"
There is a `struct cmd_data`  which is about 400 bytes:

[code]

It is allocated on the stack when new command launched:

[code]

Can we remove this `cdata` variable and use some other variable to minimize stack consumption?

[2020-07-24 09:19] alexkalmuk commented on #2076
I added a simple CDC-ECM module (very basic draft version) in https://github.com/embox/embox/pull/2106. It's a draft version, but with a working network (ping, dhcpd, telnetd) on da14695. But currently, it can be also used for debugging purposes to see lsusb.

[2020-07-24 10:23] anton-bondarev commented on #2037
@puranjaymohan Could you create PR without patches? I'll try to create a new audio patch

[2020-07-24 12:02] anton-bondarev opened #2108 "Enable PJSIP on arm_qemu"
There are some platforms where PJSIP example works: x86-qemu and stm32 ([PJSIP-on-STM32](PJSIP-on-STM32)). Arm qemu with integrator-cp platform has all parts for PJSIP (netcard and audio), but now PJSIP does not work on it.

[2020-07-24 13:10] anton-bondarev commented on #2047
it seems work If interface set up twice
I added following into start_scrip.inc
[code]

[2020-07-25 14:10] anton-bondarev opened #2109 "platform/pjsip/stm32f4-discovery build is broken"
Audio module is not available on github

This is a quote from Middlewares/ST/STM32_Audio/Addons/PDM/readme.txt: "This module is not directly available on GitHub as it is subject to a restrictive license (ST Ultimate Liberty)."

[2020-07-25 14:13] anton-bondarev commented on #2037
@puranjaymohan I think stmf4cube has a similar problem, there is no file for audio_patch
I described it in #2109

[2020-07-25 14:15] anton-bondarev opened #2110 "stm32f4_sd is broken"
[code]
[code]

[2020-07-29 07:20] sk2sat commented on #2082
I'm making template for MAiX BiT but when I tried serial output with arch_init(), it didn't seem to boot at all.
I was wondering if it was because of a linker script or permissions.
Howeber, this is actually because the stack initialization dowsn't working well on a real board.

[2020-07-29 07:53] anton-bondarev commented on #2082
Could you please create branch for this aim.
I agree it can be because there are any troubles in the linker script

[2020-07-29 11:03] sk2sat commented on #2082
I think I don't have write permission yet. So, I'm working on [my repo](https://github.com/sk2sat/embox/tree/maixbit) and it works on real board now.
Shoulld I send PR from my repo?

[2020-07-29 11:22] anton-bondarev commented on #2082
@sk2sat You are in Embox team so you have to have write permissions and you can create any branches :)
You may work at your repo if you want. And yes, please create a PR

[2020-07-30 10:19] anton-bondarev opened #2116 "Implement diag interface for MAiX BiT board"

[2020-07-30 14:48] alexkalmuk opened #2118 "Add USB device CDC-ACM"

[2020-07-30 14:58] alexkalmuk opened #2119 "stm32f4: Handle VBUS interrupt when USB device powered"
As far as I know, it's a very basic thing we can check when starting in USB device mode.

[2020-07-31 11:13] alexkalmuk commented on #1900
The same problem is referenced in https://github.com/embox/embox/issues/2024

[2020-07-31 11:20] alexkalmuk commented on #1900
After some investigation, it was figured out that file `build/extbld/third_party/qt/core/qt-everywhere-opensource-src-4.8.7/src/gui/.uic/debug-static/ui_qfiledialog.h` is "incorrect". It contains the following filelds:

[code]

For example, `fileDialogTreeView` should be `treeView`.

Ok, there is how file `ui_qfiledialog.h` was created:

[code]

So bin/uic is a part of Qt and compiled with host g+

[2020-07-31 11:25] alexkalmuk commented on #1900
If you take a look at `class Ui_QFileDialog` above you can notice that variables named after their class names, but not with the names from dialogs/qfiledialog.ui. So it looks like when UIC is compiled with GCC 7, then it parses dialogs/qfiledialog.ui in a "right way" and compilation succeed. But when UIC is compiled with GCC 9, it doesn't use actual variables names from dialogs/qfiledialog.ui , b

[2020-07-31 11:27] alexkalmuk commented on #1900
Additionally, an example with UIC compiled with GCC 7 (from file `ui_qfiledialog.h`):

[code]

Then same stuff with UIC compiled with GCC 9:

[code]

[2020-07-31 13:54] anton-bondarev opened #2120 "Create minimal riscv & riscv64 templates"

[2020-07-31 13:55] anton-bondarev opened #2121 "Create script for loading firmware to MAiX Bit board"
Create script and wiki page

[2020-07-31 14:04] anton-bondarev commented on #2116
@sk2sat As I see MAiX BiT has sifive compatible uart?[https://github.com/sk2sat/maix_baremetal/blob/master/start.c]( https://github.com/sk2sat/maix_baremetal/blob/master/start.c)
What did you change to see an output in your PR #2117 ?

[2020-07-31 16:11] sk2sat commented on #2121
I update [wiki page](https://github.com/embox/embox/wiki/MAiX-BiT).
Should the script be placed like scripts/maixbit-flash.sh?

[2020-07-31 16:27] anton-bondarev commented on #2121
Yes, thanks!

[2020-07-31 16:57] #2082 closed

[2020-08-01 09:20] #2032 closed

[2020-08-03 10:39] anton-bondarev commented on #1991
Or just use sudo before auto_qemu script
[code]

[2020-08-04 15:07] anton-bondarev opened #2129 "Enable timer on MAiX BiT board"

[2020-08-04 16:06] #1900 closed

[2020-08-04 16:06] #2024 closed

[2020-08-05 17:24] #2116 closed

[2020-08-05 19:27] #2120 closed

[2020-08-09 07:14] RudrakshKashyap commented on #1847
It looks easy, can i be assigned to this?

[2020-08-09 09:48] anton-bondarev commented on #1847
Yes, Good first issue very easy. It's only for understanding code style & git workflow in the project And of course minimal programming skills
I've assigned it to you

[2020-08-09 12:22] #2121 closed

[2020-08-10 11:54] #1847 closed

[2020-08-10 19:21] ThePiGrepper commented on #2119
I think this one is basically done. let's close it.

[2020-08-10 19:21] #2119 closed

[2020-08-11 15:36] anton-bondarev opened #2140 "Add folder 'projects'"
there is 'plaftorm' folder which contains 'pjsip', 'opencv' etc. More useful if such 'examples' are located in 'projects' folder

[2020-08-11 15:56] alexkalmuk opened #2142 "Add more useful fb examples"
1. Currently `src/cmds/testing/fb_direct_access/` and `src/cmds/testing/fb_devfs_access/` graw different pictures. It would be great if they will draw the same one.

2. Add something like television test card https://en.wikipedia.org/wiki/Test_card with different colored rectangles. It would help to debug color models.

[2020-08-12 12:30] anton-bondarev opened #2143 "Add oportunity to use packetdrill with external inteface"
Now packetdrill use 'tun' interface for testing, but it's more robust to check IP stack with packetdrill through a external host

[2020-08-13 09:46] #2088 closed

[2020-08-13 10:33] anton-bondarev opened #2145 "Add GPIO driver for MAiX BiT board"

[2020-08-13 10:34] anton-bondarev opened #2146 "Add multitasking for MAiX BiT board"

[2020-08-13 14:11] #1819 closed

[2020-08-14 10:50] alexkalmuk opened #2147 "Network manager should be able to monitor connections in run time"
Currently, netmanager processes the` network` file in `start_script` and after then exits. It would be useful if netmanager can monitor network connections in runtime.

[2020-08-14 17:52] puranjaymohan commented on #2004
Hi! @anton-bondarev I want to start working on it. I think it is a long process as all APIs have to change, how should I start working on it, without breaking anything.

[2020-08-15 09:24] sk2sat commented on #2145
Kendryte K210 has FPIOA. FPIOA configures GPIO role. I think we have to add FPIOA driver before GPIO.

[2020-08-15 11:12] anton-bondarev commented on #2145
@sk2sat Do you mean "Field Programmable IO Array (FPIOA/IOMUX)"?
Yes, you are right it must be implemented before GPIO, but it can be restricted (only for GPIO), and for testing FPIOA maybe used GPIO. I mean that it seems FPIOA can be implemented as part of this task

[2020-08-15 11:25] anton-bondarev commented on #2004
Hi, @puranjaymohan

Yes you are right. But you can not change, but extend the API, so you can  switch not all parts to the new API, it is enough to test the new API in one case (one board).

I suggest starting by checking the current state of the GPIO driver using the "pin" command. This will help you understand limitations current API. Let's discuss them.

[2020-08-15 11:57] sk2sat commented on #2145
@anton-bondarev Yes, thanks. I'm thinking abount implement drivers/gpio/k210/fpioa,gpio.

[2020-08-19 18:45] anton-bondarev opened #2151 "Unite @Cmd and @AutoCmd annotations"
There is `@AutoCmd` annotation which is only allowing to use pure `int main()` syntax in Embox command. It's redundantly because now every command has both `@Cmd` and `@AutoCmd annotations`

[2020-08-20 11:52] alexkalmuk opened #2152 "Double buffering differ for 32F746GDISCOVERY and 32F769IDISCOVERY"
There are two different double buffering realizations for two f7 boards:
1. platform/nuklear/cmd/grfx_rawfb/rawfb_stm32_ltdc.c (32F769IDISCOVERY)
   This method changes framebuffer address on VBLANK interrupt
2. platform/nuklear/cmd/grfx_rawfb/rawfb_stm32_ltdc_alpha.c (32F746GDISCOVERY)
   Instead of FB address changing this method assigns to different buffer addresses to two LTDC layers - Layer0

[2020-08-24 08:38] anton-bondarev commented on #2060
@akshayrock Hi,
I hope I fixed the trouble in #2158 exactly in the [commit]( https://github.com/embox/embox/pull/2158/commits/502731bd9a444dfccd50a8a250cc886257778014)

Now I see
[code]
When I execute your example as I use platform/opencv/arm-qemu template.
I think You should try capture from sample.avi on it first.

There is a trouble with building this template, it fails, but you can do `make` a

[2020-08-24 14:59] alexkalmuk commented on #2016
It was partially enabled (in write-through mode) in https://github.com/embox/embox/pull/2139.

[2020-08-24 15:09] anton-bondarev commented on #2129
Close with #2155

[2020-08-24 15:09] #2129 closed

[2020-08-24 15:12] anton-bondarev commented on #2145
Close with #2156

[2020-08-24 15:12] #2145 closed

[2020-08-24 15:21] #2140 closed

[2020-08-26 16:05] easimonenko opened #2161 "Porting Embox to Arduino Due"
I am currently porting Embox kernel to _Arduino Due_. This controller is based on MCU _Atmel SAM3X8E_ with _ARM Cortex-M3_ core. To do this, I created three files:

- `templates/arm/arduino_due/build.conf`:
[code]
- `templates/arm/arduino_due/lds.conf`:
[code]
- `templates/arm/arduino_due/`:
[code]

Then:

[code]

And I get two errors:

[code]
Which module should I include to avoid this error?

[c

[2020-08-26 17:12] anton-bondarev commented on #2161
You could just add to your config following lines
[code]
include embox.arch.generic.arch
[code]
void arch_init(void) {
}

void arch_idle(void) {
}

void arch_shutdown(arch_shutdown_mode_t mode) {
	while (1);
}
[code]

[2020-08-26 18:21] easimonenko commented on #2161
Thank you! It works.

But I got the following error now:
[code]
To fix this, I added the following lines to the config:
[code]
Only I'm not sure about `irq_table_size=32`. But now the sources are compiled.

Now I need to deal with linking errors:
[code]
and
[code]

[2020-08-26 18:49] anton-bondarev commented on #2161
I'm not sure about `irq_table_size=32` I appear that it's not required now
And you should try  `include embox.kernel.irq_static` it places IRQ table directly to a fixed address. I think it's better for your aims

hm, it's weird for your small mods.conf but I think it will fix if you base your mods.conf on a small existing config for example platform/stellaris or arm/minimal. I think the trouble is

[2020-08-27 13:39] alexkalmuk commented on #2016
Further work was done in https://github.com/embox/embox/issues/2016. Here we enabled D-cache in write-back mode and added the ability to allocate non-cacheable memory regions - statically in SRAM through linker section `.bss.sram_nocache` or regions with a fixed address and size.

[2020-08-27 13:45] alexkalmuk opened #2163 "armv7-m: Fix SD card to be working with cpu cache enabled"
There is a comment in `templates/arm/stm32f746g-discovery/mods.conf` (added in https://github.com/embox/embox/pull/2162):

[code]

We cannot enable cpu cache in this template because DMA is used in SD card controller driver. So we should think about how to fix SD card controller first.

[2020-08-27 13:47] alexkalmuk commented on #2016
It looks like SD card DMA issue https://github.com/embox/embox/issues/2163 is the only thing to enable cpu cache at least in our basic stm32f7 templates.

[2020-08-27 13:52] alexkalmuk opened #2164 "Try cpu cache with pjsip"
Two stm32f7 templates here - `project/pjsip/templates/`.

It probably requires also adding audio DMA data into non-cacheable memory.

[2020-08-27 20:07] easimonenko commented on #2161
Thank you! I looked at `mods.conf` for platform/stellaris, and found an option for the stack, adding which helped.

Below is the minimum config with which the kernel is built for the Cortex-M3.
[code]
Now I need to figure out how to blink LED.

[2020-08-28 07:20] anton-bondarev commented on #2161
For this purpose, you have to implement GPIO controller driver how described on [wiki](https://github.com/embox/embox/wiki/GPIO)

[2020-09-01 09:32] ThePiGrepper opened #2167 "stm32f4 udc doesn't work with max_pkt_size=8"
When changing max_packet_size in cube usb device library,
udc stops working. It only works when max_packet_size=64.

A possible reason could be the routine in DataInStage for
handling big transfers.
Another, less likely, reason could be related to the
max_packet_size hardware register setup.

Correct behavior is for the udc to work under all
max_packet_sizes the hardware allows.

[2020-09-03 08:51] j123123 opened #2169 "stack_push_str() can make unaligned stack pointer"
function is at https://github.com/embox/embox/blob/6734215ff57407b57a4c4bf6bf26e90196ef3c75/src/lib/exec/exec.c#L55

If this function used to push argument in newly created process (argc, argv, envp stuff), this can lead to an unaligned stack in program, and then some push-pop-like instruction will do unaligned memor access, some CPU doesn't support this. And maybe this is API violation

see https

[2020-09-03 09:02] j123123 commented on #2169
And using uint32_t for data pointer is bad idea. uintptr_t is better.

[2020-09-13 12:23] BK1603 commented on #1717
I'd like to take this up!

[2020-09-13 12:37] BK1603 commented on #1717
I'd like to work on this :)

[2020-09-13 13:05] BK1603 commented on #1717
I'd like to start working on this :)

[2020-09-13 16:30] anton-bondarev commented on #1717
@BK1603 Ok.
I've assigned it with you

[2020-09-15 07:49] alexkalmuk commented on #2066
Closed in https://github.com/embox/embox/pull/2166

[2020-09-15 07:50] #2066 closed

[2020-09-15 11:09] anton-bondarev opened #2179 "inconvenient name server setting"
It's required change option in mods.conf
```	include embox.net.lib.dns_fixed(nameserver="192.168.0.1")```
 to setup dns (nameserver) in Embox . It's not usefull.
Maybe it's better to enable 'resolv.conf' or add an opportunity to set up it in 'network'

[2020-09-15 16:23] alexkalmuk opened #2181 "Implement scandir() and alphasort()"
https://pubs.opengroup.org/onlinepubs/9699919799/functions/scandir.html

[2020-09-16 17:46] alexkalmuk commented on #2054
Hi! Today I faced the same problem after installing the recent ubuntu 20.04.

I checked with gcc7 that gdb works fine, but starting with gcc8 (8.4.0 for me) gdb reports corrupt stack. Examing disassembler I found `endbr32` (it's part of recent Control-flow Enforcement Technology (CET)) inserted at almost every function prologue:

[code]

I wondering how this leads to a corrupt stack because I got

[2020-09-16 21:54] alexkalmuk commented on #2054
btw, I' now looking towards `-fcf-protection=none` instead of `-mmanual-endbr`.

[2020-09-17 07:48] anton-bondarev opened #2184 "Wrong fb format in Qt (emboxfb plugin)"
It can be reproduced to build project/qt4/arm_qemu and with emboxfb plugin RED rectangles will be drawn while with vnc plugin it is drawn BLUE.

[2020-09-17 08:57] alexkalmuk commented on #2054
Fixed in https://github.com/embox/embox/pull/2182. Please, reopen this issue if you will observe the problem.

[2020-09-17 08:57] #2054 closed

[2020-09-22 08:35] alexkalmuk opened #2188 "i2c combined transaction support"
Probably, we can add combined transactions - with mixed read/write's within a single transaction (currently, we support only separate transactions).

https://www.i2c-bus.org/repeated-start-condition/

It seems to be required only for the multi-master case.

[2020-09-22 16:06] BK1603 commented on #1717
@anton-bondarev I wasn't expecting this but I have gotten very busy these days. I don't think I'll be able to complete this any time soon. I think it'd be best to unassign me so that anyone else wanting to work on this can take this up.
Sorry for the trouble

[2020-09-22 16:43] anton-bondarev commented on #1717
@BK1603 No problem.

[2020-09-26 09:38] anton-bondarev opened #2195 "Add abstract module for ctz & clz"
There is special instructions in some CPU architectures for ctz (Count Trailing Zeros) and clz (Count Leading Zeros) e.g. for [ARM](https://developer.arm.com/documentation/dui0204/j/arm-and-thumb-instructions/general-data-processing-instructions/clz). Today the only software implementation available in embox.util.Bit module. it would be useful to be able to add architecture specific implementation

[2020-09-28 10:10] vanyaio commented on #2147
JFYI: in Linux kernel information about adding/deleting interfaces is obtained with subscribing to kernel notifications using netlink sockets.
https://olegkutkov.me/2018/02/14/monitoring-linux-networking-state-using-netlink/

[2020-09-28 17:16] alexkalmuk commented on #2147
Thanks, it looks like a good way.

[2020-09-29 07:58] alexkalmuk commented on #2152
Fixed in https://github.com/embox/embox/pull/2173

[2020-09-29 07:58] #2152 closed

[2020-09-29 08:00] alexkalmuk commented on #2048
Please reopen if you still observe the problem.

[2020-09-29 08:00] #2048 closed

[2020-09-29 08:00] anton-bondarev opened #2203 "Add netcard support for riscv/qemu template"

[2020-09-29 14:32] alexkalmuk opened #2204 "stm32: Audio doesn't work with -O0 but works with optimization (-O2/-Os)"
`play -s` and record/play voice do not work on STM32F7 boards (stm746g and stm32f7629i).

1. `make confload-arm/stm32f746g-discovery`
2. Edit conf/mods.conf:

[code]

and build.

Try `play -s` (be careful to do not damage your ears here and further), you will hear nothing (silence).

3. Change `-O0` to `-Os` or `-O2` in conf/build.conf, and rebuild.
You will hear `play -s`.

You can also verify re

[2020-09-30 09:42] alexkalmuk commented on #2184
I also got "red" rectangles for `project/qt4/stm32f746g_discovery`.

[2020-09-30 13:00] alexkalmuk opened #2208 "Investigate whether we can get gcc headers from toolchain"
For example, we build GCC for OpenCV to get STL headers, while there is one another way: get the STL library from the toolchain, and get headers from the toolchain. I am not sure about the details (how to get a path to includes) and whether it's possible, but we can investigate this.

p.s.
Another option is to get STL from other places, not from gcc.

[2020-09-30 15:18] #2037 closed

[2020-09-30 15:20] alexkalmuk commented on #2037
Solved in https://github.com/embox/embox/pull/2205, thank you @anton-bondarev and @puranjaymohan !

What concerns audio.patch I removed it and checked that audio examples work without it well.

[2020-10-05 11:40] #2188 closed

[2020-10-11 15:36] sikmir opened #2215 "./scripts/qemu/auto_qemu doesn't work"
[code]
Without extra comma before id=n0 it works as expected:
[code]
QEMU version:
[code]

[2020-10-14 07:53] #2215 closed

[2020-10-14 07:54] alexkalmuk commented on #2215
@sikmir Thank you for reporting!

The issue was reproduced and fixed in https://github.com/embox/embox/pull/2218. Please reopen this issue if you still observe the problem.

[2020-10-16 08:23] alexkalmuk commented on #2179
Done in https://github.com/embox/embox/pull/2209, now you can use resolv.conf to declare nameserver.

[code]

[2020-10-16 08:23] #2179 closed

[2020-10-16 08:27] anton-bondarev commented on #2147
Closed #2214

[2020-10-16 08:28] #2147 closed

[2020-10-16 16:56] #2204 closed

[2020-10-29 07:47] alexkalmuk commented on #2208
We solved this issue in #2208. In short, we have exceptions and STL in this new environment which makes our basic c++ examples (tests, stl example) pass successfully, but there is no std::thread, std::mutex support in STL which makes this solution not possible to apply for Open CV, for instance.

There is no std::thread support because arm-none-eabi-gcc has `Thread model: single`, which disables t

[2020-10-29 08:17] alexkalmuk opened #2233 "Extend libc wchar support"
There are a bunch of stubs located in `src/compat/libc/wchar/wchar_stubs.c`, it would be nice to have them implemented.

[2020-10-29 09:06] alexkalmuk commented on #2208
Closed via https://github.com/embox/embox/issues/2208

[2020-10-29 09:06] #2208 closed

[2020-11-04 09:15] alexkalmuk opened #2240 "Boost build failed"
Boost library build failed.

Template: `x86/c++_demo`.

The final error is the following:

[code]

During the build (before this error) I also see the following:

[code]

It could be a possible cause of the final error.

Toolchain:
[code]

[2020-11-11 14:57] EugenySvirin commented on #1820
May I try this one?

[2020-11-11 16:41] anton-bondarev commented on #1820
Yes, sure! I've assigned it to you!

[2020-11-11 21:04] EugenySvirin commented on #1820
#2252

[2020-11-15 13:24] anton-bondarev opened #2257 "ndpdate called from system_start failed on x86/qemu"
when ntpdate is used in system_start (during boot the sytem) on x86/qemu it fails
[code]
if the same command called from the command line it is succed
[code]
The similar trouble is if it uses direct IP
[code]
From system_start date is not set up, and the same from the command line has succeeded

The problem is only on x86/qemu and does reproduce in arm/qemu

[2020-11-18 12:22] anton-bondarev opened #2261 "arm/sabralite is broken"
[code]
run with auto_qemu

[code]

[2020-11-22 12:03] anton-bondarev opened #2263 "chibi-scheme breaks console"
after executing start_script in `x86/test/lang`, the console starts receiving 'enter' endlessly
If the calling chibi schema is commented out `//"chibi-scheme -xscheme fib.scm",` the console is fine

[2020-11-27 08:28] kssuraaj28 commented on #1698
Hi, can I try this one?

[2020-11-27 08:44] kssuraaj28 commented on #1698
Hi, I would like to try this :)

[2020-11-27 10:06] anton-bondarev commented on #1698
@kssuraaj28 Ok, I've assigned it with you

[2020-11-27 13:17] alexkalmuk commented on #2233
Some work on extending whar support already is done in https://github.com/embox/embox/pull/2237, https://github.com/embox/embox/pull/2254, and https://github.com/embox/embox/pull/2262.

[2020-11-28 11:32] kssuraaj28 commented on #1698
I have a question regarding the build systems and Makefiles: In `mk/load-mk.inc.mk`, we have lines like this: `$(mk_core_def) : ALLOC_SCOPE := a` --> What does this mean?
It doesn't seem like a 'normal' make rule to me.

[2020-11-28 15:09] anton-bondarev commented on #1698
Yes, it is not usual syntaxis. Embox has its own languages (DSL) and it has been developed in Make.
In fact, Make is a functional language, and in it you can not only describe the rules, it is just very effective for this aims. And also Make as an ordinary language it is not very good. I find it difficult to answer specifically about this place, but it seems to me that this is a variable formed so

[2020-11-28 16:44] kssuraaj28 commented on #1698
The build system for embox looked interesting and different (I also couldn't find much documentation on it) - I was just looking at the source code for the build system.
Moreover, my after reading the source code, my understanding is that the user-mode/kernel-mode hardware features of processors are **not** used (this is understandable as it is an embedded system meant to run dedicated application

[2020-11-29 12:32] anton-bondarev commented on #1698
Yes, the usual using cases are without user and kernel mode separating.
But Embox is configurable OS and for some systems, it can be used both with isolated address spaces and different privilege levels.  It's not about this issue of course.

[2020-12-01 13:57] alexkalmuk opened #2273 "input devices: Design input codes/values"
Design input codes (maybe use Linux values, you can see them in `evtest` util) and properly report them from input devices drivers.

[2020-12-04 14:23] alexkalmuk opened #2281 "Make gpio input irq be handled out of irq context"
* Run lthread on GPIO trigger instead of a direct call from interrupt context
* Extend `pin` command with the ability to verify GPIO input.

[2020-12-06 10:18] anton-bondarev opened #2283 "Supporting STM32H7"
Add any of development board with MCU series STM32H7

[2020-12-09 16:14] anton-bondarev commented on #1698
Closed #2277

[2020-12-12 14:22] anton-bondarev opened #2289 "mips_clk has only clock_event device"

[2020-12-13 06:03] kssuraaj28 commented on #2289
I looked at the source, and I have an overview of the issue. Can you describe how one may proceed?

[2020-12-13 11:50] anton-bondarev commented on #2289
Look at mips_clk (src/drivers/clock/mips_clk/mips_clk.c) there are following lines
[code]
Here is defining clock source with `time_event_device` here. You can also define `time_event_device` with CLOCK_SOURCE_DEF macro. Look at cortexm_systick for example

[2020-12-13 18:30] avinal commented on #1717
Hello @anton-bondarev, I would like to work on this issue, actually already working but need some directions 😅 , as you said above in the comments, the first approach would be combining lspci, lsblk and another utility in a single command. That said, my approach is to combine the implementation of all such commands and rewrite them under lshw, am I going in the right direction? because I think it

[2020-12-14 06:45] kssuraaj28 commented on #2289
I'll try this one

[2020-12-14 11:29] anton-bondarev commented on #1717
@avinal Yes, you are right. The issue can be resolved in different ways. And yes, in the simplest approach (which I described) some code will be duplicated. But It is the "Fist Good Issue" which aims to understand development processes in the project. So I consider, you should solve the issue in the simplest way and then you can improve the implementation (maybe in different issue). For example yo

[2020-12-14 11:36] avinal commented on #1717
Cool then, I will do it by simplest approach. You may assign me this issue, I will submit a PR soon :)

[2020-12-14 11:46] anton-bondarev commented on #1717
Sure. I've assigned it with you! :)

[2020-12-15 16:04] avinal commented on #1717
Hello @anton-bondarev,
As discussed, I implemented it by combining related functions from various command implementations. This is the output for my approach.
![image](https://user-images.githubusercontent.com/74113200/102239260-ada77880-3f1c-11eb-81fa-89b8439e348e.png)

For now, it shows the following infos, (I compared it with ubuntu command output to decide what to include)
- `cpuinfo`
- `lsblk

[2020-12-15 17:27] anton-bondarev commented on #1717
@avinal It looks ok. But you should create PR to discuss more detail

[2020-12-15 17:56] avinal commented on #1717
#2291 Done 👍🏼

[2020-12-15 19:18] kssuraaj28 commented on #2289
If I understand correctly, you want me to add a `time_counter_device` in `mips_clk`, which should return 'internal' clock cycles, thereby increasing precision?

[2020-12-15 21:55] EugenySvirin commented on #1820
#2292

[2020-12-16 11:13] #2283 closed

[2020-12-16 14:45] anton-bondarev opened #2295 "netdard drivers stm32cube does not support H7 series"

[2020-12-17 14:21] #2261 closed

[2020-12-17 15:03] puranjaymohan opened #2298 "Add support for TMP117 Temperature sensor"
I have this temperature sensor from TI called TMP117 which works over the i2c bus. I want to add the driver for this sensor in embox, what is the best place to put it, and are there any similar sensors available in Embox?
I have st Nucleo l476rg, to which I have already ported embox #2043, so I can test it with it.

[2020-12-17 18:26] anton-bondarev commented on #2298
I think `src/drivers/sersors` is a fit place for it

There are some supported sensors in Embox, which are also placed in `src/drivers/sersors`.

[2020-12-17 18:36] puranjaymohan commented on #2298
@anton-bondarev I will add the driver for tmp117. But how are the drivers interfaced, I mean I can include the drivers/xyz/xzy.h in my application and call it's functions right?
Is there a command for testing sensors?

[2020-12-17 19:25] anton-bondarev commented on #2298
Yes. you can include your interface header directly from a command

No, it is not. You can look at test applications for each sensor in `src/cmds/hardware/sensors/' folder. I think you should go a similar  way

[2020-12-18 17:19] puranjaymohan commented on #2298
I was trying to build the `platform/stm32/l4/nucleo_l476rg`, I included `include embox.cmd.hardware.sensors.adxl345` in the conf and got following errors:

[code]

where is this usleep defined, what should I include?

[2020-12-18 17:28] anton-bondarev commented on #2298
Try `include embox.compat.posix.util.sleep`

[2020-12-18 17:48] puranjaymohan commented on #2298
Yes, it worked now, I built and tried to see if it reads the device id of my sensor. It turns out there is not i2c support for nucleo_l476rg or I should say stm32 L4.
I will have to add that first, please help me do that. also, what is i2c_designware?

[2020-12-18 18:17] anton-bondarev commented on #2298
No, unfortunately, Embox does not support i2c for L4.

Yes, you should add support i2c for STM32L4. I look at current STM32 i2c drivers, and I hope it is not so difficult task. May be it's enough to add module description similar to
[code]
and header. Currently, only f4 header is presented

I guess It is I2C driver for DE0 Nano SoC [https://github.com/embox/embox/wiki/DE0-Nano-SoC](https://github.

[2020-12-19 12:32] puranjaymohan commented on #2298
I am curios about this include, how does this work?
`#include <module/embox/driver/i2c/stm32_i2c_f4.h>`

[2020-12-19 14:12] anton-bondarev commented on #2298
There are some headers for each module generated by Embox build system. If you include this one it means that you include generated header from
[code]
so you include a file which has *.h and is pointed with 'source' keyword

But it is better using `#include <drivers/i2c/stm32_i2c_conf.h>` in this place because `@IncludeExport(path="drivers/i2c", target_name="stm32_i2c_conf.h")`. Or so module stm32

[2020-12-22 18:32] puranjaymohan commented on #2298
@anton-bondarev I was curious because `#include <module/embox/driver/i2c/stm32_i2c_f4.h>` this line is in the file `embox/src/drivers/i2c/adapters/stm32/i2c_conf_f4.h`, how is this working? if embox build system generates the file using source "i2c_conf_f4.h", then how it is included in itself?

[2020-12-22 19:25] anton-bondarev commented on #2298
@puranjaymohan But what is a problem? Firstly this file is included from another file and
of cause, there is a macro guard in it (the file is included only once)
[code]

[2020-12-23 13:48] #1717 closed

[2020-12-23 15:22] puranjaymohan commented on #2298
@anton-bondarev There is a big big problem, this makes it very difficult. If you see the `stm32f4xx_hal_i2c.h` here [ST's repo](https://github.com/STMicroelectronics/STM32CubeF4/blob/e084518f363e04344dc37822210a75e87377b200/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_i2c.h)

The I2C_InitTypeDef structure has this definition:-
[code]

Now if you see the same structure in `stm32l4xx_hal_i2c.h`her

[2020-12-23 18:00] anton-bondarev commented on #2298
@puranjaymohan Don't worry. It's only a trouble not 'big big problem':)
You can do follow things
Add STM32L4_CUBE flags for your cube in third-party/bsp/stml4cube/cube/Mybuild
[code]
After that you can use somthing like this
[code]

[2020-12-24 15:52] alexkalmuk opened #2304 "qt: Move moveblocks craches on stm32f74g when executing from QSPI with cpu cache enabled"
* `make confload-project/qt4/stm32f746g_discovery`
* Edit conf/lds.conf:
[code]

So now QT .text  and .rodata are located in QSPI.

* Flash and run Qt as specified here - https://github.com/embox/embox/wiki/Qt-on-STM32
* Run the board. You will see moveblocks not working.

On the other hand, if your uncomment animatedtiles in conf/start_script.inc it works fine in the same configuration.

[2020-12-28 09:57] #2047 closed

[2020-12-31 08:02] #2295 closed

[2020-12-31 08:23] anton-bondarev opened #2316 "'struct inode_operations::truncate' has different signature in 'oldfs' and 'dvfs'"
dvfs :
`	int           (*truncate)(struct inode *inode, size_t len);`
oldfs
`	int (*truncate)(struct inode *node, off_t length);`

[2020-12-31 08:50] #2281 closed

[2021-01-07 12:37] anton-bondarev opened #2322 "getaddrinfo() does not support SOCK_RAW"

[2021-01-08 11:17] anton-bondarev opened #2324 "Port LVGL to Embox"
Light and Versatile Graphics Library [https://lvgl.io/](https://lvgl.io/)

[2021-01-11 18:38] anton-bondarev commented on #1936
It seems It is not a correct configuration.
You should use 'embox.kernel.sched.strategy.trivial' instead of `embox.kernel.sched.strategy.runq.list` to setting none inheritance round-robin schedule strategy. It also does not work with x86/qemu, but it is able to work with `platform/stellaris/lm3s811evb`

[2021-01-15 10:15] alexkalmuk opened #2327 "Cortex-m: Fix exception info"
Exception shows incorrect registers values.

Example to debug:

[code]

Why dumped registers are incorrect? Currently, in [exception_table.S](https://github.com/embox/embox/blob/master/src/arch/arm/armmlib/exception_table.S#L42) there is a code:

[code]

So we pass registers to `exc_default_handler` from current `$sp`, but it must really depend on which stack we were interrupted:
MSP or PSP (btw,

[2021-01-16 06:06] shubhamr2511 opened #2329 "module dependency cycle errors in first build"
Hi, I am trying to follow quick start. Its showing some errors in output...not able to make "hello_world" application. Need help.
OS : Ubuntu 20.04
Embox cloned from github repository on Jan 16 2021. (11:02)

shubham@ThinkPad-W520:~/github$ git clone https://github.com/embox/embox
shubham@ThinkPad-W520:~/github$ cd embox/
shubham@ThinkPad-W520:~/github/embox$ sudo apt-get install make gcc build-es

[2021-01-16 13:45] anton-bondarev commented on #2329
@shubhamr2511 It seems that the problem is in your Mybuild
[code]
I seem it can be strange quotes around 'First Embox application'

[code]

try
[code]

[2021-01-17 04:10] shubhamr2511 commented on #2329
There were many errors when I run `make` command before "hello_world" application. Should I ignore them? . (read #2329 before "Making hello_world application"

[2021-01-17 04:19] shubhamr2511 commented on #2329
@anton-bondarev Thanks its working now!

[2021-01-17 04:29] shubhamr2511 commented on #2329
There are many module dependency errors when I run `make` (without hello_world application). Should I ignore these errors? or how they can be resolved?

[2021-01-17 10:02] anton-bondarev commented on #2329
Yes, unfortunately, You are right. There are several 'dependencies loop' errors. But it is the internal errors. You can ignore it for now. You should only try to not add new cyclic dependencies

[2021-01-17 11:18] shubhamr2511 commented on #2329
@anton-bondarev Thanks!

[2021-01-31 06:30] ygrd9108 opened #2338 "st32 and opencv"
Hi- I'm in the middle of trying to create a similar task with an stm32 and opencv. I need quite a bit of help. What would be a good way to contact you to see if you can help? Thank you!

[2021-01-31 14:08] anton-bondarev commented on #2338
Hi, I have seen your emails in our google group. I've answered to one of them. You should subscribe to the group to send/receive emails.
Also, we have telegram chat ([https://t.me/embox_chat_en](https://t.me/embox_chat_en)) it's a more quick communications channel.

As for the issue (running OpenCV on STM32), there is a demo for stm32f746-discovery and stm32f769-discovery. You can reproduce it fol

[2021-02-02 22:04] EugenySvirin commented on #1820
#2340

[2021-02-03 06:07] #1820 closed

[2021-02-08 07:25] surya-mistral opened #2342 "Issue with tinypy"
Hi,

I am building EMBOX image for arm-qemu platform. My objective is to get python interpreter to run any python files/applications.
In the process, i found a third-party package known as "tinypy"  & followed below procedure to integrate it to image.

But when i am trying to run "tinypy" it shows error.

root@embox:/#tinypy
Exception:
tp_get: KeyError: 0

tish error: #255

Any suggestion, how we

[2021-02-08 09:22] anton-bondarev commented on #2342
@surya-mistral Hi

You have done everything right. But you should specify a python script which you want to interpret
I have checked it with the following file
[code]
You just need to add fib.py (with this content) to conf/rootfs/ folder. Build Embox again `make`
And calling tinypy with it.
[code]
Of course, you can check whether the file exists or not
`ls fib.py`
and also the content
`cat fib.py`

[2021-02-09 08:41] surya-mistral opened #2344 "python"

[2021-02-09 09:05] anton-bondarev commented on #2344
@surya-mistral Hi
What exactly do you mean?
You added #2342 with the trouble about 'tinypy'. Does 'tinypy' not fit for your purposes? Or you want something else?

[2021-02-10 05:11] surya-mistral commented on #2344
Hi anton-bondarev,

Sorry, It was wrongly posted. Yes, python file does work with tinypy now. Thanks a lot !!
I have few more queries.
1. Does EMBOX supports STM32H753 series ?
2.  Does OpenCV in EMBOX supports STM32H753 ? I can see only two STM32F series chipsets are supported now.

[2021-02-10 05:12] surya-mistral commented on #2342
Thanks a lot anton-bondarev !!!

Its working now. :)

[2021-02-10 07:41] #2342 closed

[2021-02-10 13:00] surya-mistral opened #2346 "Is is possible to execute Opencv sample examples"
Hi,

I have enabled & build opencv for arm-qemu platform.
I can see there are lots of examples in "embox/build/extbld/third_party/lib/opencv/opencv-4.0.1/samples/python"
for e.g: facedetect.py or demo.py

Is there any way to run those examples? Basically my objective is to use "import cv2/numpy" inside python files.

I tried to use tinypy, but "numpy, cv2" modules are not available.

[2021-02-11 03:23] Jia1018 commented on #1859
Hello im new here and i would like to start contributing.
Is this thread still open/ not being worked on by anyone ?
If so I would also try to get my fingers wet :)
Just let me know if there are anything i can do.

[2021-02-11 08:08] anton-bondarev opened #2348 "Add tests for wcslen()"

[2021-02-11 08:09] anton-bondarev opened #2349 "Add tests for wcsncasecmp()"

[2021-02-11 08:34] anton-bondarev commented on #1859
@Jia1018 I've assigned it to you

[2021-02-11 10:44] anton-bondarev commented on #2344
@surya-mistral

Now does not. But there are h743 and h745 chips support. So you could the wished series. It is rather simple I think. You should create an issue for this purpose where we can discuss this process

Yes there are only two ready examples, but You could add OpenCV as a module to your config and it would work

[2021-02-11 10:47] anton-bondarev commented on #2346
@surya-mistral Hi
I'm not sure whether tinypy supports 'import' keyword or not. You should start with the simple test for this feature

[2021-02-12 07:07] surya-mistral commented on #2344
Thanks a lot Anton-bondarev.

[2021-02-13 14:40] anton-bondarev opened #2352 "There is no useful 'Zombie' thread state"

[2021-02-14 12:11] Jia1018 commented on #1859
Please excuse me for relying this late. But I noticed that the PR of this issue has already been closed, so i wonder whether you still need me to work on this:)

[2021-02-14 12:11] Jia1018 commented on #1859
Or i can help with another issue:)

[2021-02-14 15:46] anton-bondarev commented on #1859
@Jia1018 the issue is not closed. You could work on it on another as you wish

[2021-02-14 16:56] Jia1018 commented on #1859
ok, thanks. I'll do my best:)

发自我的iPhone

------------------ Original ------------------
From: Anton Bondarev <notifications@github.com&gt;
Date: Sun,Feb 14,2021 11:46 PM
To: embox/embox <embox@noreply.github.com&gt;
Cc: Jia1018 <1276019925@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [embox/embox] Add unit test for memset() (#1859)

@Jia1018 the issue is not closed. You could

[2021-02-15 10:03] anton-bondarev commented on #2316
Closed #2353

[2021-02-15 10:03] #2316 closed

[2021-02-17 09:03] alexkalmuk opened #2356 "Run pjsip tests"
Run standard tests like pjlib-test, pjsip-test, etc.

[2021-02-18 12:16] anton-bondarev opened #2358 "SDL2 library now port only for x86 arch"

[2021-02-19 12:40] EugenySvirin commented on #1769
I would like to try to finish this issue.

[2021-02-19 15:35] VirenderNayal commented on #2349
Hello,
I want to work on this issue.
I am new to this repository, can you help me to figure out.

[2021-02-19 16:24] alexkalmuk commented on #2324
@embeddedt We would like to mention that we added basic support for LVGL (btw, awesome library!) to Embox. Here is a [video](https://youtu.be/BrR9AWcMBfE) and [wiki](https://github.com/embox/embox/wiki/LVGL).

[2021-02-19 16:27] anton-bondarev commented on #2349
@VirenderNayal I've assigned it to you.

You should start with the build and run Embox on QEMU See [Quick-Start](https://github.com/embox/embox/wiki/Quick-Start)
After this, you have to add tests for wcsncasecmp() debug it and create PR with your cahnges

[2021-02-19 19:49] VirenderNayal commented on #2349
Thanks for assigning it to me..
I have followed the quick-start guide, after the `make` process

I ran this command :
`sudo ./scripts/qemu/auto_qemu`

It is giving an error:

![image](https://user-images.githubusercontent.com/72212823/108554093-9e2c1d80-7319-11eb-81aa-e3da19aac577.png)

I am using Endeavour OS (Arch Based)

[2021-02-20 07:15] VedantParanjape commented on #2348
Hi, I would like to work on this issue. I successfully compiled embox and wrote a hello_world example. I am not sure where to add unit test for `wcslen()`, Do I need to add a new source file for testing this function here ?

https://github.com/embox/embox/tree/master/src/tests/c%2B%2B

[2021-02-20 07:36] VedantParanjape opened #2364 "Test for strlen uses strnlen to test"
Since, the test is meant for tesing strlen, it should be used. But both test cases use strnlen, isn't this unwanted ?
Even the test suite description is this
https://github.com/embox/embox/blob/929f2dde3629ceef2047c9b0e4b765bd1495f9cc/src/tests/stdlib/strlen.c#L11
and the code uses `strnlen()` instead
https://github.com/embox/embox/blob/929f2dde3629ceef2047c9b0e4b765bd1495f9cc/src/tests/stdlib/str

[2021-02-20 07:52] VedantParanjape opened #2365 "Repeat of same code in compat implementation of wcslen()"
I looked up implementation of `wcslen()` in here
https://github.com/embox/embox/blob/929f2dde3629ceef2047c9b0e4b765bd1495f9cc/src/compat/libc/wchar/wcslen.c#L16

Why is this line repeated thrice in the while loop ?
[code]

[2021-02-20 08:02] alexkalmuk commented on #2349
@VirenderNayal Can you please tell your QEMU version?

[2021-02-20 08:08] alexkalmuk commented on #2364
For me, it would be ok to test both `strlen` and `strnlen` in a single test suite. Probably, these test cases can be retained and add new test cases for `strlen` (in a simpler case these test cases can be copied and modified correspondingly).

[2021-02-20 08:19] alexkalmuk commented on #2365
I do not think it's a bug, most likely it was taken from GLIBC's [implementation](https://code.woboq.org/userspace/glibc/wcsmbs/wcslen.c.html#27). It looks like "loop unrolling" optimization.

[2021-02-20 08:35] VedantParanjape commented on #2365
Figured, since size of wchar_t is 4 bytes, that's why 4 times.

[2021-02-20 08:35] #2365 closed

[2021-02-20 08:42] VedantParanjape commented on #2364
@alexkalmuk https://github.com/embox/embox/pull/2366/commits/7010283b2cfb3c3071b9349541d3af078a626b35 Will doing something like this suffice ?

[2021-02-20 11:03] alexkalmuk commented on #2364
Your link related to `wcslen` nor `strlen`, but I told only about extending `strlen` test suite.

[2021-02-20 11:05] alexkalmuk commented on #2364
But yes, I think we could have the tests for `strlen` test suite as well.

[2021-02-20 11:42] VedantParanjape commented on #2364
Yes, I meant, will a similar change to strlen suffice :)

[2021-02-20 12:01] VedantParanjape commented on #2322
Hi, can you provide more details on this issue, I would like contribute to this.

[2021-02-20 13:48] anton-bondarev commented on #2348
Closed by #2366

[2021-02-20 15:14] embeddedt commented on #2324
Very cool! :clap:

[2021-02-20 16:33] VirenderNayal commented on #2349
@alexkalmuk I have tried to check, see this:

![image](https://user-images.githubusercontent.com/72212823/108602328-6aa7cc80-73c7-11eb-98b3-ea260ae1b27d.png)

[2021-02-20 18:42] 85ayush commented on #2348
Hello I would love to work on this issue, I am new to open source contribution( have basic knowledge of git and git hub), and I would give my 100%.

[2021-02-20 18:46] 85ayush commented on #1856
Hello I would like to work on this issue, I am new to open source contribution, can you please help me , and I will give my 100%

[2021-02-20 19:04] andreperezmaselco commented on #1852
@anton-bondarev, could you assign this issue to me?

[2021-02-20 19:11] anton-bondarev commented on #1852
@andreperezmaselco I've assigned it to you.

[2021-02-20 19:16] anton-bondarev commented on #1856
@85ayush Hi, I've assigned it to you
You should start with [Quick-Start](https://github.com/embox/embox/wiki/Quick-Start). First, build and run Embox on QEMU, and then add tests and prepare a new PR with your changes

[2021-02-21 09:35] 85ayush commented on #1856
Thank you, I will do my best.

[2021-02-21 12:48] anton-bondarev commented on #2322
@VedantParanjape The simplest way to understand the details reproduce it on Linux
if you call getaddrinfo() with  `struct addrinfo::ai_socktype = SOCK_RAW` on Linux it returns all connections (UDP TCP) if you call the same on Embox it returns failed. Because Embox has support only SOCK_STREAM & SOCK_DGRAM

[2021-02-21 13:19] VedantParanjape commented on #2322
Ohk, tried this. I assume this is a feature that needs to be added in lwip ?

[2021-02-21 13:30] anton-bondarev commented on #2322
Not in lwIP. There is an own TCP/IP stack in Embox

[2021-02-21 13:35] VedantParanjape commented on #2322
Ohk, found it. I need to update `getaddrinfo()` defined in here: https://github.com/embox/embox/blob/master/src/compat/posix/net/getaddrinfo.c ?

[2021-02-21 13:44] anton-bondarev commented on #2322
Yes, I think so. But you may suggest another decision.
It is useful if you start with an appropriate test

[2021-02-21 14:02] VedantParanjape commented on #2322
But the tests are already implemented: https://github.com/embox/embox/blob/master/src/tests/posix/netdb/getaddrinfo_test.c

[2021-02-21 14:06] anton-bondarev commented on #2322
Yes, but I mean test for SOCK_RAW case

[2021-02-21 14:08] VedantParanjape commented on #2322
Sure, will do that :)

[2021-02-21 18:28] 85ayush commented on #1856
I have done the steps upto the orange mark on the image below. I mean I
have 1. Clonned
2.installed docker
But where do I have to use the command "docker -machine Is"

On Sun, 21 Feb 2021, 12:46 am Anton Bondarev, <notifications@github.com>
wrote:

[2021-02-21 18:29] 85ayush commented on #1856
Can you please guide me for the issue described in the before male.

On Sun, 21 Feb 2021, 12:46 am Anton Bondarev, <notifications@github.com>
wrote:

[2021-02-21 21:46] andreperezmaselco opened #2372 "Some unit tests are failing"
The `embox.test.posix.memccpy_test`, `embox.test.stdlib.memmove_test` and `embox.test.stdlib.strcasestr_test` tests are failing. To check it out, run `make confload-x86/test/units`, `make` and `./scripts/qemu/auto_qemu`.

[2021-02-21 21:47] andreperezmaselco commented on #2372
@anton-bondarev, could you assign this issue to me?

[2021-02-22 10:09] 85ayush commented on #1856
After using". /scripts/docker/docker_start.sh" Command, at the end it says
can't start container, is it fine or there is some error? and when I use "
make cofload-64/qemu" it says " make: command not found". Can you please
help me with this?

On Sun, 21 Feb 2021, 11:58 pm Ayush Tiwari, <85ayushtiwari@gmail.com> wrote:

[2021-02-22 17:24] 85ayush commented on #1856
It says "autoqemu_arch is empty" After using command
"./script/qemu/auto_qemu", can you please help me what does it mean?

On Mon, 22 Feb 2021, 3:39 pm Ayush Tiwari, <85ayushtiwari@gmail.com> wrote:

[2021-02-23 12:41] #1769 closed

[2021-02-23 12:55] anton-bondarev commented on #2372
@andreperezmaselco Thank you very much!
I've assigned it to you.
Please add these tests to templates/x86/test/unit

[2021-02-23 13:07] andreperezmaselco commented on #2372
These tests are already present in `templates/x86/test/unit`.

[2021-02-23 13:29] #1852 closed

[2021-02-23 13:42] anton-bondarev commented on #1856
@85ayush  Do you use Windows?
I think the simplest way work with Embox on Windows is to install virtual machine (VirtualBox for example) with Linux.
Or you can use WSL2, it works for me

Have you built Embox?
What template have you used for configuration?

[2021-02-23 14:05] anton-bondarev commented on #2372
Oh, I see now. Thanks

[2021-02-24 09:02] 85ayush commented on #1856
issue.mkv
<https://drive.google.com/file/d/12UrQxdZDEmochjEL5S_Obs5pAmPbvs5v/view?usp=drive_web>
here I have given the video of what I am doing to resolve the issue, can
you please tell me where I am making mistake. And can you please guide me
how to do it?

On Tue, 23 Feb 2021 at 19:12, Anton Bondarev <notifications@github.com>
wrote:

[2021-02-24 14:26] anton-bondarev commented on #1698
Closed #2277

[2021-02-24 14:26] #1698 closed

[2021-02-25 08:44] anton-bondarev commented on #1047
Now Embox has support for several RISC-V platforms. therefore the issue is closed. It will open new issues for others RISC-V features

[2021-02-25 08:44] #1047 closed

[2021-02-25 18:27] EugenySvirin commented on #967
I would like to work on this problem.

[2021-02-25 18:48] anton-bondarev commented on #967
@EugenySvirin I've assigned it to you

[2021-02-28 10:05] anton-bondarev commented on #1856
@85ayush Hi
First, you have to build a standard Embox template and run it on QEMU

It's enough to do the following commands
[code]
I don't know how I can see where you have done mistakes there are a lot of variants. You must find out in your environment yourself.
Of course, you should ask, when you see trouble when you run the commands. But you have to give more correct descriptions

[2021-03-02 08:49] alexkalmuk commented on #2349
@VirenderNayal Sorry for the delay, could you please tell me which template you build? `x86/qemu`? Also, what is your gcc version?

[code]

Also, show, please

[code]

[2021-03-02 10:38] anton-bondarev opened #2374 "Improvements net namespaces"
- [ ] In several places ip_is_local_net are changed to ip_is_local_net_ns
- [ ] net_namespace_p is not clear name for typedef
- [ ]  Instead 'struct nsproxy nsproxy;' can be use task resources
- [ ] iinetdev.c contains several wrappers for example netdev_get_by_name_netns
- [ ] ip_hdr signature has argument for namespace
- [ ]  there are several modifications fo namespaces in af_inet.c
- [ ] src/n

[2021-03-03 02:43] VirenderNayal commented on #2349
@alexkalmuk Here are the details:
I used x86/qemu

![image](https://user-images.githubusercontent.com/72212823/109743853-5e0d4a80-7bf7-11eb-9326-9b44209f9416.png)

[2021-03-04 13:24] alexkalmuk opened #2376 "Add support for non-ascii characters to snprintf"
Example that fails now:

[code]

[2021-03-04 13:25] alexkalmuk commented on #2356
`pjsip-test` is passed well, except Non-ASCII characters test (see https://github.com/embox/embox/issues/2376), the corresponding patch was added to `third_party/pjproject`.

[2021-03-04 13:48] alexkalmuk commented on #2349
@VirenderNayal I built Embox with gcc version 10.2-0 and run with qemu-5.2.0, so I still have no idea what's going on. Can you please attach your `build/base/bin/embox` here?

[2021-03-06 08:36] VirenderNayal commented on #2349
@alexkalmuk
`build/base/bin/embox` :

![image](https://user-images.githubusercontent.com/72212823/110200519-747c0600-7e84-11eb-8d08-c6418addb249.png)

I have done all the processes again and ran the command and :
`./scripts/qemu/auto_qemu`

![image](https://user-images.githubusercontent.com/72212823/110200597-cde43500-7e84-11eb-87a4-217ccbfdb046.png)

I think the problem is with these:

`VT is not

[2021-03-06 08:39] alexkalmuk commented on #2349
@VirenderNayal I meant can you please attach your file build/base/bin/embox so I could launch it too?

[2021-03-06 08:41] alexkalmuk commented on #2349
Can you please also try to launch it with sudo?

[code]

[2021-03-06 08:43] VirenderNayal commented on #2349
I ran with sudo no change.

[2021-03-06 08:44] alexkalmuk commented on #2349
Ok, then can you please attach your file here? (build/base/bin/embox)

[2021-03-06 08:44] VirenderNayal commented on #2349
I am unable to attach my build/base/bin/embox
It says format not supported

[2021-03-06 08:44] alexkalmuk commented on #2349
Ah. ok

[2021-03-06 08:45] VirenderNayal commented on #2349
I got this after i ran with sudo

![image](https://user-images.githubusercontent.com/72212823/110200928-6d55f780-7e86-11eb-80d3-80a683d099ad.png)

[2021-03-06 08:46] alexkalmuk commented on #2349
Can you add your file to for example https://filebin.net/ and provide me a link?

[2021-03-06 08:47] VirenderNayal commented on #2349
Here (build/base/bin/embox):

https://filebin.net/5wvs93u9nnukop6o

[2021-03-06 09:19] alexkalmuk commented on #2349
Thanks, it reproduced.  I will go back as soon as we find a solution.

[2021-03-06 09:20] VirenderNayal commented on #2349
okay thanks @alexkalmuk

[2021-03-06 09:22] alexkalmuk commented on #2349
btw could you show

[code]

[2021-03-06 09:54] VirenderNayal commented on #2349
Yeah Sure.

![image](https://user-images.githubusercontent.com/72212823/110202628-08070400-7e90-11eb-99eb-94c810789fc3.png)

[2021-03-08 11:15] EvgenySvirin commented on #967
Please check #2380

[2021-03-08 13:42] srirajshukla commented on #2376
can you assign this issue to me?

[2021-03-08 14:04] srirajshukla commented on #2376
@alexkalmuk can you assign this issue to me?

[2021-03-08 23:21] Ripitchip00 opened #2381 "OpenCV on STM32 : Sample build fails"
Hello,

I'm trying to build OpenCV first for Qemu (https://github.com/embox/embox/wiki/OpenCV). The first _make_ gaves the same error as described. The second time it gaves me [another error](https://zupimages.net/up/21/10/3dcf.jpg).

Then, I tried to build for the STM32F746G-DISCOVERY and I had [an error](https://zupimages.net/up/21/10/rf3r.png) as well.

Do you know how I could fix it ?

Environ

[2021-03-09 06:29] anton-bondarev commented on #2381
@Ripitchip00 Hello,

I can not get error descriptions. Could you attach the logs file in text format?
`make > build_arm_qemu.log`

[2021-03-09 07:33] alexkalmuk commented on #2381
@Ripitchip00 I see in your screenshot:

[code]

Can you install `cmake`?

[2021-03-09 08:30] Ripitchip00 commented on #2381
Oooops, my bad ! So for Qemu, it's all right, I had to install cmake and Qemu.

For the STM32F746G-DISCOVERY, it doesn't find the net/net_namespace.h file. Should I add it myself ?

FYI : Two commands error :

[First](https://github.com/embox/embox/wiki/OpenCV-on-STM32) :
[code]
[Second](https://github.com/embox/embox/wiki/OpenCV) :
[code]

[2021-03-09 09:32] anton-bondarev commented on #2381
@Ripitchip00 Thanks. We fixed `make confload-project/opencv/stm32f746g-discovery` build in #2382

[2021-03-09 09:36] anton-bondarev commented on #2381
Do you mean you use '*'?
Unfortunately, there is no support for regular expression now

[2021-03-09 09:50] Ripitchip00 commented on #2381
No I don't mean to use ** **, I meant to show what should be corrected :)
- 46 instead of 64.
- project instead of platform.

Thanks for PR, I'll try it.

[2021-03-09 14:30] EvgenySvirin commented on #967
#2383

[2021-03-10 16:14] alexkalmuk commented on #2381
Did you insert your stm32 board into USB before launching openocd?

[2021-03-11 11:49] alexkalmuk commented on #2356
pjsip-test and pjlib-test were successfully launched in https://github.com/embox/embox/pull/2385

[2021-03-12 19:05] anton-bondarev opened #2386 "Add raspi2 machine support to the 'auto_qemu' script"

[2021-03-12 19:26] EvgenySvirin commented on #2386
I would like to work on this issue.

[2021-03-13 18:22] anton-bondarev opened #2388 "Make available to use Embox without print output"

[2021-03-15 11:38] alexkalmuk opened #2391 "Importing third-party ELF files to Embox may be insufficient"
There is a method of importing third-party ELF files by copying them to object files first. See, for example, `nano`:

[code]

Many other places use the same method. But this may lead to the final embox ELF size increasing. It was figured that adding all the object files to Mybuild requires fewer resources than lining with the resulting ELF (see for example module pjlib_test in `third-party/pjproj

[2021-03-15 12:10] alexkalmuk commented on #2356
I created a branch with pjsip tests - https://github.com/embox/embox/tree/pjsip-tests-ci

[2021-03-16 07:47] alexkalmuk opened #2392 "CI: Check and fix NFS write"
From `.github/workflows/ci.yml`:

[code]

[2021-03-16 08:23] Ripitchip00 commented on #2381
Thanks for your help, it's okey now :)

[2021-03-16 08:23] #2381 closed

[2021-03-17 10:47] surya-mistral opened #2394 "Opencv application build issue"
Hi,

I have followed "EMBOX" quickstart to build opencv for arm qemu as below.
$ make confload-project/opencv/arm-qemu
$ make -j4
I can see all the static libraries are generated.

My objective is to use those static libraries to cross compile some sample opencv application [just read an image] for STM32 board.

**My application: read.cpp**

#include "opencv2/core/core.hpp"
#include "opencv2/highg

[2021-03-18 19:16] anton-bondarev commented on #2394
@surya-mistral Hi,
You need to create an application in Embox as described on [the quickstart wiki page](https://github.com/embox/embox/wiki/Quick-Start#hello-world-application) section "hello world" (just create Mybuild file)

[2021-03-19 11:33] #2327 closed

[2021-03-22 10:10] alexkalmuk opened #2397 "gcc 4 build failed"
[code]

[2021-04-01 13:21] anton-bondarev opened #2401 "SD card not work on stm32f4-discovery in IRQ mode"

[2021-04-04 08:22] anton-bondarev opened #2403 "Potential NULL pointer using"
[code]
[
https://github.com/embox/embox/blob/master/src/compat/posix/idx/pipe_pty.c#L363](https://github.com/embox/embox/blob/master/src/compat/posix/idx/pipe_pty.c#L363)

[2021-04-05 18:23] anton-bondarev opened #2405 "Wierd code in compat/posix/curses/curses.c"
There is wierd code
[code]

https://github.com/embox/embox/blob/master/src/compat/posix/curses/curses.c#L74

[2021-04-12 08:38] alexkalmuk opened #2409 "Fix Embox with -O3"
`arm/qemu` and `x86/qemu` fail to run when built with `-O3`.

[2021-04-12 11:11] alexkalmuk opened #2412 "Remove compiler pragmas (pragma GCC diagnostic)"
There are several places where
[code]
is used to suppress GCC warnings. It looks like many of them can be fixed accordingly instead.

[2021-04-14 12:57] alexkalmuk opened #2419 "CMake TestBigEndian fails"
There is a CMake's test `TestBigEndian`. It performs testing for endianness at compile time. To do not depend on any environment it does it a bit tricky. It creates .c file with main() and array which contains strings "THIS IS LITTLE ENDIAN" or "THIS IS BIG ENDIAN", which are then compiled into the resulting ELF. Then, CMake's uses `strings` util to extract all strings from ELF and grep's for the

[2021-04-16 11:07] alexkalmuk opened #2420 "Implement some whar_t functions to enable wchar in libstdc++"
Some external libraries like OpenCV may rely on wchar support (currently, the corresponding source files are patched to disable this code). To enable whar support from C++, we need to extend its support in Embox's libc.

This happens in wchar test during libstdc++ configuration.

[code]

[2021-04-16 11:12] alexkalmuk opened #2421 "Problem with packaging static libraries into Embox's "static module""
When Embox creates static module from a static library

[code]

it extracts all sources first. But there is a possible case when original `.a` contains two files with the same name:

file1.txt
foo/file1.txt

GNU `ar` cannot extract multiple files correctly. That leads to the first file implicit replacement. The real example can be found at

third-party/lib/opencv/Makefile (see mv $(PKG_NAME)-$(PKG

[2021-05-04 14:20] anton-bondarev commented on #2163
FIxed

[2021-05-04 14:20] #2163 closed

[2021-05-04 14:21] anton-bondarev commented on #2110
Fixed

[2021-05-04 14:21] #2110 closed

[2021-05-07 00:02] AmrNashat opened #2436 "Linking fail with riscv64/qemu tamplate"
Template: riscv64/qemu

Error message when using make:
EMBOX_GCC_LINK=full /home/user/Desktop/embox-workdir/embox/mk/extbld/arch-embox-gcc /home/user/Desktop/embox-workdir/embox/mk/extbld/toolchain_test.c -o /home/user/Desktop/embox-workdir/embox/build/base/obj/toolchain_test
./build/base/obj/embox.o: in function `__atomic_fetch_add_2':
/src/compat/atomic/pseudo_atomic/pseudo_atomic.c:63:(.text+0x

[2021-05-07 00:30] AmrNashat commented on #2436
This issue appeared as I was compiling Embox master branch, so I reverted to Tag: v0.5.2. However, I had the same issue.

[2021-05-07 08:19] anton-bondarev commented on #2436
Thanks.
Please give me your gcc version. I've checked
`make confload-riscv64/qemu`
and it built successful and correctly run on qemu
My gcc version
[code]

[2021-05-07 10:25] AmrNashat commented on #2436
Thanks for checking.
My gcc version:

`riscv64-unknown-elf-gcc --version
riscv64-unknown-elf-gcc (GCC) 10.2.0
Copyright (C) 2020 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.`

[2021-05-12 19:52] AmrNashat commented on #2436
@anton-bondarev
May you give me your `qemu-system-riscv64 --version`
Mine is
`QEMU emulator version 6.0.0 (v6.0.0-dirty)`
`Copyright` (c) 2003-2021 Fabrice Bellard and the QEMU Project developers`

[2021-05-12 20:09] anton-bondarev commented on #2436
@AmrNashat
Oh, yes, it's a good idea
[code]

[2021-05-17 18:04] anton-bondarev commented on #2436
@AmrNashat Thank you for the report.

I reproduced a new problem with qemu-6.0.0
sudo AUTOQEMU_PREFIX=~/Downloads/qemu-6.0.0/build/riscv64-softmmu/ ./scripts/qemu/auto_qemu
AUTOQEMU_ARCH: riscv64 (guessed)
AUTOQEMU_MEM: 512 (guessed)
AUTOQEMU_NICS: (guessed)
AUTOQEMU_NICS_CONFIG: (got)
AUTOQEMU_AUDIO: (guessed)
AUTOQEMU_AUDIO_CONFIG: (got)
AUTOQEMU_USB: (guessed)
AUTOQEMU_USB_CONFIG: (got)
AUTOQEM

[2021-05-17 22:56] AmrNashat commented on #2436
Hello Anton,
I forgot to update with mu input.

The compilation error can be resolved by adding option --with-cmodel=medany, while compiling the riscv-gnu-toolchain from source. It turns out that to enable this option both the code and the toolchain should be build with `code mode = medany`
More on this topic and explanation:
https://forums.sifive.com/t/relocation-truncated-to-fit-r-riscv-hi20/243

[2021-05-26 14:59] surya-mistral opened #2446 "undefined reference to cv"

[2021-05-26 14:59] surya-mistral opened #2447 "opencv -O2 issue"

[2021-05-26 15:00] surya-mistral opened #2448 "opencv optmization"

[2021-05-26 15:01] surya-mistral opened #2449 "-O1 issues"

[2021-05-26 15:01] #2449 closed

[2021-05-26 15:03] #2446 closed

[2021-05-26 15:03] #2448 closed

[2021-05-26 15:03] #2447 closed

[2021-06-03 15:31] alexkalmuk opened #2450 "md5 fails on MacOS"
[code]

And in mk/extbld/lib.mk we use

[code]

The problem here is that `awk { print $1 }` will not work for macOS. We need to use either `md5 -q` or `md5 | awk {print $4}`

[2021-06-04 07:18] #2450 closed

[2021-06-05 12:00] kpishere opened #2453 "fb_direct_access fails for platform/raspberry_pi/rpi0"
A really incredible project embox!

In just getting introduced and doing some basic tests, it got far but the first test is failing at frame buffer step.

I'm attempting to run the platform/raspberry_pi/rpi0 built target on qemu and I get the following (below).

[code]

[2021-06-05 12:23] kpishere commented on #2453
Failing at `if (fb_draw_put_pix(r, g, b, 32, &screen_info, scr_pos + x) != 0) {`

in

`main () at /src/cmds/testing/fb_direct_access/fb_direct_access.c:24`

at

`/src/lib/fb_draw/fb_draw.c:84`

the structure `screen_info` has bad pointer to frame buffer?

[code]

This could be embox or qemu issue.  Investigating.

[2021-06-05 15:00] kpishere commented on #2453
By the following output on qemu (this is why I love qemu and not real hardware for development!) it looks like fbp should be pointing to the following

`    vcram-base = 469762048 (0x1c000000)`

[code]

[2021-06-05 17:40] kpishere commented on #2453
So, I've found the fix for this.  Only, I don't know (yet) how to prepare this for a patch that would get accepted.  Here is the essence of the fix.  The scope of change is for raspi0 target emulated on qemu.

[code]

[2021-06-05 18:41] anton-bondarev commented on #2453
@kpishre Thanks a lot!
Could you
* Clone this repository.
* Create a new branch
* Commit your patch
* And create a new PR

[This page](https://github.com/embox/embox/wiki/Contributing%3A-Git-workflow) describes git workflow

[2021-06-05 20:03] kpishere commented on #2453
@anton-bondarev   Yes, that part, I'm totally familiar with thanks.  The thing that holds me up as I'm not seeing examples of how, at compile time, I can tell what the target is.  I'd like it to sense that and use your default in all cases except for the raspi0 target.

[2021-06-06 08:32] anton-bondarev commented on #2453
Do you mean that you want to specify a target in runtime? Or  it is enough what you have done in #2455
It is possible to modify the default options (Mybuild) in your 'mods.conf' file

[2021-06-06 10:57] kpishere commented on #2453
Love the simplicity of Mybuild! It is really what makes this project stand out. I was initally looking for how to know target at compile time and choose then but with this mybuild methodology all these decisions go to mods.conf which in big picture makes for one place to check and define. So, with PR acceped, this can be closed.

[2021-06-06 10:57] #2453 closed

[2021-06-12 17:59] kpishere opened #2459 "Unsupported items for target raspi0"
Just to be sure I'm understanding correctly, I've gone over the code for embox and it looks like the following items are missing support for the raspi0 target:

1) At boot, chip is not switched to Exception Level 3 which is typical exception level for the kernel to run in.
2) GPIO is unsupported
3) DMA is unsupported

I'm investigating adding these and would like to port a driver for a few SPI bas

[2021-06-13 18:20] anton-bondarev commented on #2459
@kpishere Yes, you are right. Now all three points do not support Embox for RasPi. So it would be great if you added them.

No problem.

[2021-06-25 03:07] mfp20 commented on #2459
buy a Raspberry Pi Pico! It's a 5$ SWD programmer (using picoprobe firmware found in rpi fundation repo)! I stomped on this thread searching for someone working on the Pico (rp2040, it's an arm m0) port but I need to run in on a Zero as well.

[2021-06-25 15:18] kpishere commented on #2459
@mfp20 Hah, I can't say that isn't good advise for those that are new.  Already got a V9 J-Link device, all is wired, preparing a boot firmware option now to set GPIO pins early and as needed and weekend is coming so stay tuned! PR is on it's way for GPIO support and JTAG enabled option on Pi Zero (and similar like 1 and 1+ ...).  Gathering the details has been an archeology exercise so I've been

[2021-07-08 17:01] Kakadu opened #2468 "QEMU can't load x86 image: Error loading uncompressed kernel without PVH ELF Note"
[code]

[code]

[2021-07-10 13:54] kpishere commented on #2459
@anton-bondarev So, I'm working on implementing DMA.  The device is working fine, with bus memory addresses.  I'm having issues understanding accessing bus addressed memory, physical memory, and system memory.

Early on, in boot process, DMA memory to memory copying is working fine, but when I try to use same VC based memory allocations, it works until I try un-allocating the memory I'd allocated.

[2021-07-11 12:43] anton-bondarev commented on #2459
@kpishere I'm not quite sure what do you mean.

I think you can use sysmalloc/sysfree if you want to allocate memory for all processes and malloc/free for using a single process. Of course, you should remember about alignment and properties of the allocated memory region
As for special allocations as I see in your example, you  can use them if it needs

[2021-07-11 13:16] kpishere commented on #2459
Thanks.  Part of what was throwing me off was what VC/MMU was.  I is called System MMU by other documents.  With this SOC, we think of the ARM cpu as the primary one but really, the VideoCore is the primary one (the one that boots), it allocates memory for the CPU and then from there you get the normal Virtual MMU behaviours.  From the following reddit, got reference to this so, all this reading j

[2021-07-12 10:33] anton-bondarev commented on #2459
Hm, Maybe it is better to use PERIPH_MEMORY_DEFINE in this case (static memory allocation) if the address is unknown in static you may use dma_alloc_coherent() it allocates system memory and marks it as NOCACHED. You can allocate memory one time and not free it at all, I think

[2021-07-12 12:48] kpishere commented on #2459
Making progress, got the most basic test working.  Was close but got to be very careful with "BUS Addresses" vs. Physical addresses that the ARM CPU can actually access.

Here is my most basic test that is working. This tutorial repo helped out hugely to sort it out (although, they are misusing term virtual in this case, what the cpu sees is 'physical' and what the user program sees is virtual acc

[2021-08-06 20:23] sikmir opened #2482 "RX/TX statistics are not updated properly"
For example rx_packets counter is always 0 with virtio_net, lan91c111 and other drivers.

[2021-08-16 22:29] kpishere opened #2488 "Linking shared libraries"
Is it possible to link a shared library with embox?  I'm not seeing any examples of this.

Broadcom unfortunately only provides some shared libraries to utilize the Video Coprocessor (VC).  If possible, I'd like to use some of them.

[2021-08-17 02:28] kpishere commented on #2488
Actually, I see others building static versions of library here ... raspberrypi/userland

[2021-08-17 02:29] #2488 closed

[2021-08-31 16:17] anton-bondarev opened #2492 "date -s 202108311902.40 set wrong time (2021-10-01 19:02:40)"
Parsing time string is ok ('struct tm date' contains a correct time)
but after
[code]
the month is 10 instead of 8 and the day 1 instead of 31

[2021-09-10 09:14] #1643 closed

[2021-09-19 13:07] kpishere opened #2502 "Compile error with method __atomic_compare_exchange_4"
I get compile errors with build '1314d2fbaad2b76a1e18607ddcb7453c5b38b2a1' when building target

[code]

I can revert to build 'd6cc929956b8d7f12860bde360f5967d0f16807e' and it builds fine.

The problem appears to be in change '56aae685699fc9954f710958690101ade8d85a05'

[2021-09-19 15:46] anton-bondarev commented on #2502
@kpishere Thanks for the report
Could you please attach the build log (the error description) and your compiler version?
I've checked raspberry_pi/rpi0-hw build it is OK in my environment (I used current embox master)

[2021-09-19 16:51] kpishere commented on #2502
Sure.  Ok, here is the update I'm making (it is compiling before this):

[code]

With a fresh build, the following are output error messages.

[code]

The last fatal error command is this:

[code]

My build pipeline version is this:

[code]

[2021-09-19 17:25] anton-bondarev commented on #2502
@kpishere Thank you
Could you try #2504 I hope it must fix the problem

[2021-09-19 17:54] kpishere commented on #2502
@anton-bondarev Yep, that fixed it.  Thanks!

[2021-09-19 17:54] #2502 closed

[2021-10-30 20:24] synxroform opened #2513 "Do we still need patched QEMU ?"
Information from the Torlus repository states: "Thanks to the amazing work from Andrew Baumann from Microsoft, my code has finally reached mainstream. Therefore, this repository is no longer relevant for now. I'm keeping it anyway for the record, and for an hypothetic future where I'll find some time and interest in pursuing this work."

[2021-10-30 22:32] synxroform commented on #2513
Прошу прощения, перепутал репозитории. Хотел написать в  эмулятор Raspberry Pi.

[2021-10-30 22:32] #2513 closed

[2021-12-26 17:11] anton-bondarev opened #2529 "Add option '-s' to 'lsusb' command"
As described in lsusb man option '-s' allows to show the only info with BUS and DEVNUM
`-s [[bus]:][devnum] `
https://linux.die.net/man/8/lsusb

[2021-12-26 17:14] kpishere opened #2530 "thread_join() does not appear to work"
Test environment is with a raspberry pi zero, only 16 threads are allowed in this configuration.  Thread priority test has been modified to join threads rather than create them detached.  The reason being that the next test failed due to not being able to create a thread.  It is suspected that threads aren't completing.

Indeed, with the following change to the thread_priority test, none of the th

[2021-12-26 17:15] anton-bondarev opened #2532 "Add '-d' option to 'lsusb' command"
As said in lsusb man: option '-d' allows showing only devices with the specified vendor and product ID.
`-d [vendor]:[product] `
https://linux.die.net/man/8/lsusb

[2021-12-27 09:55] anton-bondarev commented on #2530
@kpishere Thanks
Could you give more details about the problem?
I see there are two different issues: one is RaPI is not able to create more than 16 threads, other is the problem with joinable threads on PaPi. Whether is it right?
It seems the first issue can be solved just pointed the option in mods.conf
[code]
The second issue makes us think about the correctness of thread implementation on ARMv

[2021-12-27 13:13] kpishere commented on #2530
Yes, will reduce threads the way you show. First issue of importance is the joining for this ticket. Second could be as simple as stack size config but working with 16 for now is a start. will switch printf to logging statements.

[2021-12-27 16:45] kpishere commented on #2530
So, just cleaning up the test, setting some logs, and showing the output below.

Could it possibly be breaking in the last three lines of this output?  Where the wakeup thread tries to jump to #1c00b24? Early on, it looks like the wakeup thread should be #1c00aa0.

[code]

[2021-12-28 00:31] kpishere commented on #2530
Hmm well #1c00b24 is a vector to clock_handler_lt.  That vector is 0x9da5620 which is __pool_storagethread_pool.  The wakeup process at the beginning, #1c00aa0 is to idle() function.

Well, this is curious.  I'd set the $pc to start at main() again and it caused an assertion failure and listed all the processes and their current state.  It is ..

[code]

[2021-12-28 11:24] anton-bondarev commented on #2530
Hm, It looks like that #1c00b24 is light_thread, it seems it works correctly

[2021-12-28 11:32] anton-bondarev commented on #2530
How had you set the $PC? you call the test suite again with 'test' command?

when assert() is failed all threads stack traces is printed, It is normal behaviour

[2021-12-28 14:09] kpishere commented on #2530
@anton-bondarev   Yes, normal behaviour.  But with my limited knowledge, it was was an Oh, that is what I want to see kind of moment.  I know running from main() again makes no sense but the side effect was useful.

Anyhow, this ticket can likely be close, I'd managed to make the test complete as expected.

The tests here execute and complete as expected.  Now, it is the stack protect test that is

[2021-12-28 14:36] kpishere commented on #2530
@anton-bondarev Actually, I'd just run the stack protect test without the other thread tests and it was able to create the thread this time.  So, it looks like there may be a bug?  Something thinks that the threads still exist even though they appear to be exited correctly above.

[code]

[2021-12-28 14:43] anton-bondarev commented on #2530
Hm, try to use `thread -s` to show all threads in the system. Maybe you have found a bug and the threads are not finished

[2021-12-28 15:17] kpishere commented on #2530
Yes, OK.  I'd added back thread_priority_test.c test back and the original error appears again so will dig into that.

[2021-12-29 09:16] anton-bondarev commented on #2530
Ok. Thanks. I'll try to investigate the problem on another platform.

[2021-12-29 16:28] anton-bondarev commented on #2530
@kpishere I have reproduced the problem.
But in my case, it means that the quantity of threads is not enough.
Please try to set the following
set tested thread as 16
`@Runlevel(1) include embox.test.kernel.thread.thread_priority_test(threads_quantity=16)`
and increase pool threads up to 32
` include embox.kernel.thread.core(thread_pool_size=32, ...)`

[2021-12-30 16:18] anton-bondarev opened #2533 "USB stack does not recognaze devices with more than one configuration"

[2021-12-30 16:33] #1991 closed

[2022-01-02 14:47] kpishere commented on #2530
So, I've resolved issues with tests around joining and the thread priority tests.  Essentially, setting a thread priority at zero causes problems.  I've modified the start-up test to adjust thread priority by N count below the default/current thread priority.  Default value of 127, then minus one for each new thread.  That worked fine.  Added a command line version of that test, and had thread pri

[2022-01-02 21:31] kpishere commented on #2530
@anton-bondarev I've looked at this test some, I just don't see an issue.  It looks like the interrupt vector (?) never gets called at 0x8030 for the stack overflow handler.  I'm thinking this just isn't supported on ARMV6 Raspberry Pi Zero.

From my point of view, this ticket can be closed.

[2022-01-03 14:26] anton-bondarev commented on #2530
Yes, it seems you are right.

I agree. However, I want to take a look at the PR (I would be glad if you suggested a fix for the zero priority threads).

[2022-01-05 18:38] anton-bondarev commented on #1960
After a 'reset' state has been added during initialization the problem is resolved
[code]

[2022-01-06 10:25] #1960 closed

[2022-01-06 10:34] anton-bondarev opened #2536 "The only one configuration is received from a USB device"

[2022-01-07 04:58] kpishere commented on #2530
@anton-bondarev The problem is with the function priolist_add() in the util/priolist.c code.  I don't see any tests for this code so I think I'll try writing some without relying on the scheduler to call it (a real pain that way).  It is definitely related to trying to add a priority zero item to a list with lower and upper bounds of 0 and 255.

[2022-01-08 02:32] kpishere commented on #2530
@anton-bondarev Ok, confusing as doubly linked lists with a second priority list are, I'm satisfied the issue isn't there (you likely knew that).

It is something with the selection within the list.  Probably just with the priority scheduler.

This log point below is in sched.c at

		schedee_set_current(next);
		log_debug("prev: %#x, next: %#x", prev->priority.current_priority, next->priority.curr

[2022-01-08 12:16] kpishere commented on #2530
@anton-bondarev Well this has been a learning opportunity.  I'm gonna call it quits now though.  I can very clearly see that the thread with priority 0 is the idle thread "arch_idle()".  Ideally, you'd think the scheduler would round-robin a user created thread with same priority but it does not do that.  Simply increasing the minimum thread priority value to 1 does not help either.

Did some theo

[2022-01-08 12:19] kpishere commented on #2530
BTW: I pushed the code as I'm leaving it for this branch just in case anybody is interested.

[2022-01-16 11:08] anton-bondarev commented on #2530
@kpishere Thanks. I research your results and make some comments in the PR.

[2022-02-05 13:40] anton-bondarev opened #2539 "riscv/sifive_e template does not work"

[2022-02-05 14:08] anton-bondarev opened #2540 "shell does not work in riscv64/qemu template"

[2022-02-07 16:43] anton-bondarev commented on #2533
Closed by #2541

[2022-02-08 12:25] anton-bondarev opened #2543 "tests do not work on riscv & riscv64"

[2022-02-08 12:48] #2540 closed

[2022-02-09 21:53] jagauthier opened #2544 "Are there some compiler requirements?"

[2022-02-09 22:39] jagauthier opened #2545 "Can't build with opencv"
Using Fedora 35, and

`make confload-project/opencv/stm32h745i-discovery`

[code]

[2022-02-10 08:43] anton-bondarev commented on #2545
@jagauthier What cross-compiler version do you use?
`arm-none-eabi-gcc --version`

[2022-02-10 10:15] anton-bondarev commented on #2545
@jagauthier I've fixed build the template in  #2546. You should update Embox master

[2022-02-12 16:17] jagauthier commented on #2545
@anton-bondarev I wondered if that was the case.  I tried another build on Debian 10.11, which uses :
`gcc version 7.3.1 20180622 (release) [ARM/embedded-7-branch revision 261907] (15:7-2018-q2-6)`

And I got a completely different error:
`/tmp/ccAJrqBt.s: Assembler messages:
/tmp/ccAJrqBt.s:3505: Error: selected FPU does not support instruction -- `vcvtb.f64.f16 d7,s15'`

Is 7.3.1 too old?

[2022-02-13 14:09] anton-bondarev commented on #2545
Hmm, it is surprising for me. gcc 7.3.1 exactly works but may be failed on this template.

[2022-02-14 15:37] anton-bondarev commented on #2545
@jagauthier I prefer to use the official ARM cross-toolchain from here ([https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm/downloads](https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm/downloads))

[2022-02-14 17:48] jagauthier commented on #2545
@anton-bondarev Using the official ARM cross-toolchain solved the build issue on my fedora system.
Upgrading from buster to bullseye on my other system, which upgraded the compiler to 8.3.1, also worked.

So I have two functional paths now.  Thanks!

[2022-02-14 17:48] #2545 closed

[2022-03-06 10:35] anton-bondarev opened #2547 "mips/qemu loads 100% one of host cpu core"
There is not 'wait' cpu instruction in arch_idle() for MISP

[2022-03-08 10:41] #2547 closed

[2022-03-20 12:27] zhouminglong opened #2549 "driver/block_dev.h: no such file or directory"
make confload-project/pjsip/stm32f746g-discovery
make

fatal error ：driver/block_dev.h: no such file or directory
include <driver/block_dev.h>

[2022-03-21 07:57] anton-bondarev commented on #2549
Thanks!
To fix the problem just add `include embox.fs.driver.devfs_stub` into 'conf/mods.conf' as in #2550
You can also get repo master
Don't remember to modify 'conf/simple_pjsua_sip_account.inc`
[code]

[2022-03-26 08:51] anton-bondarev commented on #2529
Closed with #2552

[2022-03-26 08:51] #2529 closed

[2022-03-26 08:52] anton-bondarev commented on #2532
Closed with #2552

[2022-03-26 08:52] #2532 closed

[2022-04-02 08:17] bl0wfi-sh opened #2558 "Guidance to perform minimal port (with basically just 'tish' and file system) for STM32F7508-DK"
Would like to get Embox running on my STM32F7508-DK board, but not sure where to start.

Tried compiling stm32f746g_discovery templates and changed lds.conf to use 64Kbyte flash available on STM32F7508-DK, but build keeps coming out too large.

`/opt/gcc-arm-none-eabi-9-2020-q2-update/bin/../lib/gcc/arm-none-eabi/9.3.1/../../../../arm-none-eabi/bin/ld: region 'ROM' overflowed by 661412 bytes`

[2022-04-03 13:25] anton-bondarev commented on #2558
@bl0wfi-sh Hello
I recently update wiki page for [porting to a new STM32 board](https://github.com/embox/embox/wiki/How-to-port-to-a-new-STM32-board)
As for the compiler error. You need decrise functionality. I think you do not need some features described in mods.conf web site for example. just delete following lines
[code]

64кB is rather restriction for all features in this templates (AUDIO, TC

[2022-04-03 16:05] bl0wfi-sh commented on #2558
Hi Anton!

Thank you for pointing me in the right direction with the Wiki.

It would indeed be very helpful if you could whip up a quick mods.conf with minimal functionality.
Is there a documentation area where I can read what is needed to get certain technologies up and running.

For example if I want to add support for working with my boards display, include x,y,z into mods.conf.

[2022-04-06 11:27] anton-bondarev commented on #2558
@bl0wfi-sh Hi, sorry for the long response.

I've created a very restricted template for F7 with 64kB flash mods.conf in attachment and you have to add empty file into 'conf/' folder with name 'start_script.inc'
[mods.conf.txt](https://github.com/embox/embox/files/8426340/mods.conf.txt)

As for documentation/ Unfortunatly today we have rather weak manuals for system descriptions (templates). Usual

[2022-04-20 11:31] anton-bondarev opened #2560 ""error: low_level_input: skb_alloc failed" happen during project/pjsip/stm32f769i-discovery"
It seems that when a hangup is called from GUI some skbufs locked in PJSIP sockets.
PJSIP has own working thread GUI has own. Current implementation is following
[code]
and is been calling from GUI thread. it seems that it is not enough for correct hanging up from the device side

[2022-06-10 17:14] anton-bondarev opened #2570 "platform/efm32/efm32zg_stk3200 is broken"
SiliconLabs changed the structure of Gecko_SDK repo on github ([https://github.com/SiliconLabs/gecko_sdk](https://github.com/SiliconLabs/gecko_sdk))

[2022-06-21 01:10] serkus opened #2572 "Erlang"
не собирается из за не достаточного функционала nhtljd

[2022-06-21 01:13] serkus opened #2573 "Rust"
В зависимостях нужна сиcтема сборки ninnja,  python, cmake

[2022-06-21 07:46] anton-bondarev commented on #2572
The repo for reproduction is https://git.calculate-linux.org/serkus/portsEmBox

[2022-07-11 14:59] anton-bondarev opened #2576 "wxWidgets looks good for GUI"
https://www.wxwidgets.org/

It is also needed for erlang #2572

[2022-07-11 15:25] anton-bondarev opened #2577 "Port libgpiod"
libgpiod ([https://github.com/brgl/libgpiod](https://github.com/brgl/libgpiod)) looks interesting as hign level gpio manage library. At least Embox can make similar API

[2022-07-11 15:29] anton-bondarev opened #2578 "Port Fast-DDS"
Fast-DDS library ([https://github.com/eProsima/Fast-DDS](https://github.com/eProsima/Fast-DDS)) seems good for a distribution system creation

[2022-07-11 15:31] anton-bondarev opened #2579 "Port Fast-DDS"
Fast-DDS library ([https://github.com/eProsima/Fast-DDS](https://github.com/eProsima/Fast-DDS)) seems good for a discribution system creation

[2022-08-06 14:28] anton-bondarev commented on #2468
It seems the problem does not refer with a 'qemu' version but with a 'binutils'. I've got this error with `GNU ld (GNU Binutils for Ubuntu) 2.38`. There are some issues with other OSes (for example [https://forum.osdev.org/viewtopic.php?f=1&t=33638](https://forum.osdev.org/viewtopic.php?f=1&t=33638)). I found out that the linker create elf where 'multiboot' header is placed not in first 8192 bytes

[2022-08-08 12:57] #2468 closed

[2022-08-10 08:41] anton-bondarev opened #2586 "Port .Net Nanoframework"
There is .Net runtime for MCUs https://github.com/nanoframework/
We can start from this point [https://microhobby.com.br/blog/2021/06/24/how-to-run-net-nanoframework-on-linux/](https://microhobby.com.br/blog/2021/06/24/how-to-run-net-nanoframework-on-linux/). Nanoframework has been run on POSIX (Linux and NuttX) enviroment.

[2022-08-11 10:23] IWaheed commented on #2560
I don't know if this piece of information will help or not.

Anyhow, I was running embox/pjsip on stm32f7-disco boards in a closed network without an internet connection. I noticed that this error isn't happening i.e. screen does not blink nor does the message "error: skb_alloc_failed" appear. I was running the disco-boards for hours and this error didn't appear. As soon as I connected them to int

[2022-08-11 13:57] anton-bondarev opened #2587 "Port VPP"
https://wiki.fd.io/view/VPP

[2022-08-11 13:58] anton-bondarev opened #2588 "Port TTA"
http://tausoft.org/

[2022-08-16 07:24] anton-bondarev opened #2590 "Port OpenBMC"
https://github.com/openbmc/openbmc

[2022-08-16 07:37] anton-bondarev opened #2591 "Port Microvium JS engine"
[https://github.com/coder-mike/microvium](https://github.com/coder-mike/microvium)

[2022-08-27 12:28] Deryugin opened #2594 "Build doesn't fail if mods.conf has non-existing module"
Build doesn't fail if mods.conf has non-existing module which is confusing.

It looks like better behavior would be to fail build, (warning message is not enough).

[2022-08-28 21:10] frantony opened #2596 "add Embox article to English Wikipedia"
@anton-bondarev

Embox is mentioned in https://en.wikipedia.org/wiki/Comparison_of_real-time_operating_systems but I can't find the Embox article in the English Wikipedia. There is https://ru.wikipedia.org/wiki/Embox but there is no https://en.wikipedia.org/wiki/Embox .

[2022-08-29 11:39] anton-bondarev commented on #2596
Thanks for the request, however I beleave it's better if this page is created somebody from Embox's community or fans:)

[2022-09-08 13:52] anton-bondarev opened #2602 "Add a light file manager"
Embedded File Menager ([https://github.com/uboborov/EFM](https://github.com/uboborov/EFM)) looks nice for embox

[2022-09-26 13:31] anton-bondarev commented on #2573
Start porting Rust #2606

[2022-09-28 05:30] ioannessh commented on #1850
Hello, I want to work on this issue.

[2022-09-28 09:16] anton-bondarev commented on #1850
@ioannessh Hi, I've assinged the issue to you

[2022-10-02 14:48] #1850 closed

[2022-10-03 12:01] pkuppusamy77 opened #2612 "Unable to Build Opencv"
Hi,
I tried to build  the opencv with stm32f746g-discovery template in Ubuntu 20.04
I  am using the release version of embox-0.5.6

Its downloading gcc version 6.3 and fails to compile it
`make confload-project/opencv/stm32f746g-discovery`
`Config complete`
`make -j4`

Failed as below
`checking for the correct version of gmp.h... no`
`configure: error: Building GCC requires GMP 4.2+, MPFR 2.4.0+ a

[2022-10-04 10:08] anton-bondarev commented on #2612
@pkuppusamy77 Hi, thank you for the report
I hope I fix the trouble in #2614
You could fix it locally, just add
`include embox.driver.block_dev`
to conf/mods.conf file
then clean and rebase the project

[code]

[2022-10-04 11:16] ioannessh opened #2615 "x86/qemu constant crash"
x86/qemu always crash on master

[code]

[2022-10-04 12:05] anton-bondarev commented on #2615
@ioannessh Please give information about gcc and qemu version

[2022-10-04 12:07] ioannessh commented on #2615
[code]

[2022-10-05 07:17] pkuppusamy77 commented on #2612
Hi,

I tried to build  after changing the mods.conf as suggested, but still i get the same error in gcc compilation

I get this at the start of build
[code]
and continues

then it stops at

[code]

[2022-10-05 13:01] anton-bondarev commented on #2612
Hi,

Try to install GMP MPFR MPC
`sudo apt-get install libgmp-dev libmpfr-dev libmpc-dev`

and rebuild again
[code]

[2022-10-06 04:34] pkuppusamy77 commented on #2612
Thank you. I got it compiled..

[2022-10-08 12:23] anton-bondarev opened #2619 "platform/efm32/efm32zg_stk3200 build failed"
https://github.com/SiliconLabs/gecko_sdk changed version counting

[2022-10-12 16:11] ioannessh commented on #2615
Invalid opcode exception appears when it encounters ```sse``` instructions

[2022-10-13 14:22] #2615 closed

[2022-10-22 09:58] anton-bondarev opened #2624 "Flutter embedded looks useful for some purposes"
[https://flutter.dev/multi-platform/embedded](https://flutter.dev/multi-platform/embedded)

Flutter power by Dart language, therefore first of all it required to enable Dart in Embox

[2022-10-22 10:45] anton-bondarev commented on #2612
@pkuppusamy77 Can I close the issue?

Feel free to open issues if something is wrong or unclear

[2022-10-23 18:03] anton-bondarev opened #2625 "Port SPDK"
Storage Performance Development Kit [https://github.com/spdk/spdk](https://github.com/spdk/spdk?fbclid=IwAR1YyXCfTWer_HgLV7r80IACrqrYJNyQ5NUbYInrym_TIW3kruzhYt_uP5U)

[2022-10-31 11:02] anton-bondarev opened #2626 "PF_RING"
https://www.ntop.org/products/packet-capture/pf_ring/

[2022-10-31 11:03] anton-bondarev opened #2627 "libpcap"
https://github.com/the-tcpdump-group/libpcap